{% extends "terminusgps_tracker/layout.html" %}
{% load static %}
{% block content %}
<div class="flex flex-col gap-16">
    <div class="flex flex-col gap-4">
        <div class="flex flex-col items-center gap-2 text-center">
            <h3 class="bg-gradient-to-tr from-terminus-red-800 via-terminus-red-100 to-terminus-red-800 bg-clip-text text-xl font-bold text-transparent md:text-4xl">Founded by a parent, for parents<h3>
            <h2 class="text-lg font-semibold text-gray-700 md:text-2xl dark:text-gray-300">Stay informed with the TerminusGPS mobile app<h2>
        </div>
        <div class="flex flex-col items-center gap-2">
            <img class="w-full rounded" src="{% static 'terminusgps_tracker/phones.png' %}" alt="Three generic smartphones displaying the Terminus GPS mobile application"/>
            <div class="flex -mt-8 gap-2">
                <a href="https://apps.apple.com/us/app/terminus-gps-mobile/id1419439009">
                    <img src="{% static 'terminusgps_tracker/download_app_store.svg' %}" class="size-48">
                    <span class="sr-only">Download the app from the Apple App Store</span>
                </a>
                <a href="https://play.google.com/store/apps/details?id=com.terminusgps.track&pcampaignid=web_share">
                    <img src="{% static 'terminusgps_tracker/download_play_store.svg' %}" class="size-48">
                    <span class="sr-only">Download the app from the Google Play Store</span>
                </a>
            </div>
        </div>
    </div>
    {% include "terminusgps_tracker/about_story.html" %}
</div>
{% endblock content %}
