{% extends "terminusgps_tracker/layout.html" %}
{% load static terminusgps_tracker_display %}
{% block content %}
<div class="container mx-auto space-y-8">
    <div class="flex flex-col gap-8 text-center">
        <h2 class="text-3xl font-bold text-terminus-red-300">Give us a call</h2>
        <div class="flex">
            <div class="bg-gray-300 p-8">
                OFFICE: 
            </div>
            <div class="bg-gray-300 p-8">
                SALES: 
            </div>
        </div>
    </div>
    <div class="flex flex-col gap-8 text-center">
        <h2 class="text-3xl font-bold text-terminus-red-300">Shoot us an email</h2>
    </div>
    <div class="flex flex-col gap-8 text-center">
        <h2 class="text-3xl font-bold text-terminus-red-300">Walk into our office</h2>
    </div>
    <div class="flex flex-col gap-8 text-center">
        <h2 class="text-3xl font-bold text-terminus-red-300">Check us out on social media</h2>
        <div class="flex justify-evenly md:flex-col">
        {% for name, social in profile.SOCIALS.items %}
            {% if social %}
                <a href="{{ social.profile_link }}" class="rounded-full bg-gray-200 p-6 drop-shadow transition duration-300 ease-in-out hover:scale-105 hover:bg-terminus-red-300">
                <span class="sr-only">{{ social.username }}'s {{ name|title }} Profile</span>
                    <div class="flex flex-col items-center">
                        {{ name|social_icon:12 }}
                        <h2 class="text-gray-800">@{{ social.username }}</h2>
                    </div>
                </a>
            {% endif %}
        {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}
