{% extends "terminusgps_tracker/layout.html" %}
{% block content %}
    <div class="flex justify-items-center max-w-screen-md">
        <h1 class="text-3xl text-gray-800 dark:text-gray-500">Hello {{ user.username|title }}...</h1>
        <div id="services-container" class="grid grid-cols-2 md:grid-cols-3 gap-4">
            {% for service in services %}
                {% include "terminusgps_tracker/partials/service.html" with service=service only %}
            {% empty %}
                <p>No services found... :(</p>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
