{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Terminus GPS | {{ title }}</title>
        {% tailwind_css %}
        <script src="{% static 'terminusgps_tracker/js/htmx.min.js' %}" defer></script>
    </head>
    <body class="h-fit bg-gradient-to-tr from-terminus-red-300 via-terminus-red-900 to-terminus-red-300 bg-no-repeat dark:from-terminus-red-900 dark:via-terminus-red-300 dark:to-terminus-red-900">
        <nav class="flex justify-between bg-stone-100 py-4 drop-shadow-xl dark:bg-terminus-gray-900">
            <a href="{% url 'tracker profile' %}" class="flex items-center space-x-1">
                <img class="size-12" src="{% static 'terminusgps_tracker/logo.svg' %}" alt="Terminus GPS Logo">
                <h2 class="text-xl font-semibold tracking-wide text-terminus-black dark:text-terminus-white">Terminus GPS Tracker</h2>
            </a>
        </nav>
        <main>
            <div class="m-8 border border-solid bg-stone-100 dark:bg-terminus-gray-900">
                <div class="m-2 flex flex-row items-center p-4">
                    <img class="size-32 flex-none rounded-lg" src="{% static 'terminusgps_tracker/logo.svg' %}" alt="Terminus GPS Logo" height="60" width="60">
                    <div class="flex flex-col">
                        <h1 class="text-2xl text-terminus-gray-800 dark:text-terminus-gray-100">{{ title }}</h1>
                        {% if subtitle %}<h2 class="text-md font-light text-terminus-gray-700 md:text-xl md:tracking-wide dark:text-terminus-gray-200">{{ subtitle }}</h2>{% endif %}
                    </div>
                </div>
                {% if messages %}
                <div class="w-full block bg-green-200/80 border-green-300 text-green-700">
                    <ul class="list-none list-inside">
                        {% for message in messages %}<li class="{{ message.tags }}">{{ message }}</li>{% endfor %}
                    </ul>
                </div>
                {% endif %}
                <div class="flex flex-col gap-8 p-8">
                {% block content %}
                {% endblock content %}
                </div>
            </div>
        </main>
        <footer class="w-full border-t border-gray-200 bg-stone-100 p-4 shadow md:flex md:items-center md:justify-between md:p-6 dark:border-gray-600 dark:bg-terminus-gray-900">
            <span class="text-sm text-gray-800 sm:text-center dark:text-gray-300">© 2024 <a href="{% url 'tracker about' %}" class="hover:underline">{{ legal_name|default:'Terminus GPS, LLC' }}</a>. All Rights Reserved.</span>
            <ul class="mt-3 flex flex-wrap items-center text-sm font-medium text-gray-600 sm:mt-0 dark:text-gray-400">
                <li>
                    <a href="{% url 'tracker about' %}" class="me-4 hover:underline md:me-6">About</a>
                </li>
                <li>
                    <a href="{% url 'tracker contact' %}" class="me-4 hover:underline md:me-6">Contact</a>
                </li>
                <li>
                    <a href="{% url 'tracker privacy' %}" class="me-4 hover:underline md:me-6">Privacy Policy</a>
                </li>
                <li>
                    <a href="{% url 'tracker subscriptions' %}" class="me-4 hover:underline md:me-6">Subscriptions</a>
                </li>
            </ul>
        </footer>
    </body>
</html>
