{% extends "terminusgps_tracker/layout.html" %}
{% load static terminusgps_tracker_widgets %}
{% block content %}
<div class="">
    <div class="">
        <h2 class="text-2xl font-semibold dark:text-terminus-white">Hello, {{ user.first_name }}. <a href="{% url 'tracker logout' %}" class="text-sm text-blue-500 hover:text-blue-300 hover:underline font-normal">Not you?</a></h2>
        <h3 class="text-lg font-light dark:text-gray-200">It's {% now "l, F jS, Y" %}</h3>
    </div>
    <div class="text-blue-500">
        <h2 class="text-xl font-bold text-gray-800 dark:text-gray-200">To-do List</h2>
        <div id="id-todo-list" name="todo-list" class="flex gap-2">
            {% todo_list profile.todos %}
        </div>
    </div>
</div>
{% endblock content %}
