{% extends "terminusgps_tracker/layout.html" %}
{% load static %}
{% block content %}
<form action="{% url 'tracker register' %}" method="post" class="m-4 dark:text-terminus-white" hx-headers="{'X-CSRFToken': '{{ csrf_token }}'}">
    {% csrf_token %}
    {{ form }}
    <div class="flex justify-evenly gap-2">
        <button class="grow rounded-md border border-solid border-gray-600 bg-blue-500 px-4 py-2 text-gray-50 hover:bg-blue-300" type="submit">
            Register
        </button>
    </div>
    <p class="mt-2 -mb-2 text-sm text-center">Already have an account? <a class="text-blue-500 hover:text-blue-300 hover:underline" href="{% url 'tracker login' %}">Click here</a> to login.</p>
</form>
{% endblock content %}
