{% extends "terminusgps_tracker/layout.html" %}
{% load static %}
{% block content %}
<div class="m-4 flex w-full flex-col items-center gap-8 p-4 font-serif md:m-8 md:p-8 lg:flex-row">
    <div class="w-full rounded-lg border bg-gradient-to-br from-orange-800 via-orange-300 to-orange-800 shadow-md">
        <h2 class="mx-8 py-4 text-3xl uppercase tracking-widest text-[#f4f4f4] md:py-8 md:text-6xl">Copper</h2>
        <div class="flex flex-col gap-8 rounded-md rounded-t-none bg-white p-8 dark:bg-terminus-gray-800">
            <div class="flex flex-col space-y-4 md:flex-row md:justify-between md:space-y-0">
                <ul class="flex list-inside list-image-none flex-col space-y-2 font-sans text-gray-800 md:space-y-4">
                    <li class="inline-flex gap-2">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 text-green-500">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                        </svg>
                        GPS Tracking
                    </li>
                    <li class="inline-flex gap-2">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 text-green-500">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                        </svg>
                        Speed Alerts
                    </li>
                    <li class="inline-flex gap-2">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 text-red-500">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                        </svg>
                        Geofences
                    </li>
                    <li class="inline-flex gap-2">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 text-red-500">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                        </svg>
                        Maintenance Codes
                    </li>
                    <li class="inline-flex gap-2">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 text-red-500">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                        </svg>
                        Driver Behavior
                    </li>
                </ul>
                <h3 class="text-2xl tracking-wide">$19.99/mo</h3>
            </div>
            <a href="{% url 'profile subscription' %}?tier=Copper" class="w-full rounded-md border border-solid border-gray-600 bg-gradient-to-l from-terminus-red-700 via-terminus-red-600 to-terminus-red-700 px-4 py-2 text-center font-sans text-gray-50 hover:from-terminus-red-400 hover:via-terminus-red-300 hover:to-terminus-red-400">
                Select
            </a>
        </div>
    </div>
    <div class="w-full rounded-lg border bg-gradient-to-br from-gray-600 via-gray-200 to-gray-600 shadow-md">
        <h2 class="mx-8 py-4 font-serif text-3xl uppercase tracking-widest text-[#f2fbff] md:py-8 md:text-6xl">Silver</h2>
        <div class="flex flex-col gap-8 rounded-md rounded-t-none bg-white p-8">
            <div class="flex flex-col space-y-4 md:flex-row md:justify-between md:space-y-0">
                <ul class="flex list-inside list-image-none flex-col space-y-2 font-sans font-normal text-gray-800 md:space-y-4">
                    <li class="inline-flex gap-2">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 text-green-500">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                        </svg>
                        GPS Tracking
                    </li>
                    <li class="inline-flex gap-2">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 text-green-500">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                        </svg>
                        Speed Alerts
                    </li>
                    <li class="inline-flex gap-2">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 text-green-500">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                        </svg>
                        Geofences
                    </li>
                    <li class="inline-flex gap-2">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 text-red-500">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                        </svg>
                        Maintenance Codes
                    </li>
                    <li class="inline-flex gap-2">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 text-red-500">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                        </svg>
                        Driver Behavior
                    </li>
                </ul>
                <h3 class="text-2xl tracking-wide">$29.99/mo</h3>
            </div>
            <a href="{% url 'profile subscription' %}?tier=Silver" class="w-full rounded-md border border-solid border-gray-600 bg-gradient-to-l from-terminus-red-700 via-terminus-red-600 to-terminus-red-700 px-4 py-2 text-center font-sans text-gray-50 hover:from-terminus-red-400 hover:via-terminus-red-300 hover:to-terminus-red-400">
                Select
            </a>
        </div>
    </div>
    <div class="w-full rounded-lg border bg-gradient-to-br from-yellow-600 via-yellow-200 to-yellow-600 shadow-md">
        <h2 class="mx-8 py-4 text-3xl uppercase tracking-widest text-[#f7f7f7] md:py-8 md:text-6xl">Gold</h2>
        <div class="flex flex-col gap-8 rounded-md rounded-t-none bg-white p-8">
            <div class="flex flex-col space-y-4 md:flex-row md:justify-between md:space-y-0">
                <ul class="flex list-inside list-image-none flex-col space-y-2 font-sans font-normal text-gray-800 md:space-y-4">
                    <li class="inline-flex gap-2">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 text-green-500">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                        </svg>
                        GPS Tracking
                    </li>
                    <li class="inline-flex gap-2">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 text-green-500">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                        </svg>
                        Speed Alerts
                    </li>
                    <li class="inline-flex gap-2">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 text-green-500">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                        </svg>
                        Geofences
                    </li>
                    <li class="inline-flex gap-2">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 text-green-500">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                        </svg>
                        Maintenance Codes
                    </li>
                    <li class="inline-flex gap-2">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 text-green-500">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                        </svg>
                        Driver Behavior
                    </li>
                </ul>
                <h3 class="text-2xl tracking-wide">$39.99/mo</h3>
            </div>
            <a href="{% url 'profile subscription' %}?tier=Gold" class="w-full rounded-md border border-solid border-gray-600 bg-gradient-to-l from-terminus-red-700 via-terminus-red-600 to-terminus-red-700 px-4 py-2 text-center font-sans text-gray-50 hover:from-terminus-red-400 hover:via-terminus-red-300 hover:to-terminus-red-400">
                Select
            </a>
        </div>
    </div>
</div>
{% endblock content %}
<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 text-green-500">
    <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
</svg>
<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 text-red-500">
    <path stroke-linecap="round" stroke-linejoin="round" d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
</svg>
