{% load static %}
<section class="flex flex-col gap-4">
    <img class="h-full rounded" src="{% static 'terminusgps/seniordriver.jpg' %}" alt="Happy senior woman traveling alone by car by Freepik">
    <h2 class="text-xl font-bold text-terminus-red-700 dark:text-terminus-red-200">Senior Security</h2>
    <p>Older adults are the fastest growing segment of our population, and with older drivers comes increased risk for driving related injury.</p>
    <section id="risks-on-the-road" class="flex flex-col gap-2 text-pretty">
        <h3 class="text-lg font-semibold text-terminus-red-600 dark:text-terminus-red-300">Risks on the Road</h3>
        <div class="mx-4 flex flex-col gap-2">
            <p>Currently, there are no standard reviews in place to determine when driving should be restricted or when it's time to give up the keys.</p>
            <p>A driver's license signifies more than the ability to drive: it signifies <span class="font-semibold">freedom</span> and <span class="font-semibold">self-sufficiency</span>, a privilege not easily relinquished.</p>
            <p>These decisions can be tough for the entire family.</p>
            <p>Most senior drivers are not impaired by age alone, rather <span class="font-semibold">medical conditions</span> and the use of <span class="font-semibold">prescription/over-the-counter medications</span>.</p>
            <p>According to <abbr class="cursor-help" title="American Automobile Association">AAA</abbr> and <abbr class="cursor-help" title="National Highway Traffic Safety Administration">NHTSA</abbr>, having even one medical condition significantly increases driver risk and the likelihood of impaired driving.</p>
            <p>According to <abbr class="cursor-help" title="American Association of Retired Persons, formerly">AARP</abbr>, getting lost and confusion are rated in the top five warning signs of unsafe driving for seniors.</p>
        </div>
    </section>
    <section id="decreasing-risk" class="flex flex-col gap-2 text-pretty">
        <h3 class="text-lg font-semibold text-terminus-red-600 dark:text-terminus-red-300">Decrease Risk Through Monitoring Technology</h3>
        <div class="mx-4 flex flex-col gap-2">
            <p>Let Terminus GPS help you and your family make informed decisions, bring awareness and help identify when issues related to safe driving must be addressed.</p>
            <p>Here's a few things to look out for to keep senior drivers safe:</p>
            <ul class="mx-4 list-inside list-disc">
                <li>Lost vehicle</li>
                <li>Speeding</li>
                <li>Driving too slowly</li>
                <li>Dangerous driving</li>
                <li>Confusion (inability to navigate to a location or operate a vehicle)</li>
            </ul>
        </div>
    </section>
</section>
