{% load static %}
<section class="flex flex-col gap-4">
    <img class="h-full rounded" src="{% static 'terminusgps/newdriver.jpg' %}" alt="A teenage driver in a car displaying a thumbs up with a driving instructor in the passenger seat">
    <h2 class="text-xl font-bold text-terminus-red-700 dark:text-terminus-red-200">For Parents</h2>
    <p>Your teen just received their driver's license: an exciting milestone for both of you to celebrate... or so it should be.</p>
    <section id="intro" class="flex flex-col gap-2 text-pretty">
        <h3 class="text-lg font-semibold text-terminus-red-600 dark:text-terminus-red-200">Congratulations! 🎉</h3>
        <div class="mx-4 flex flex-col gap-2">
            <p>It's likely your anxiety levels just reached a new all-time high.</p>
            <p>The roads today are a scary and unpredictable place for experienced drivers, let alone new drivers.</p>
            <p>As parents, of course we applaud their achievement and independence but we simply <span class="italic">cannot</span> ignore the innumerable risks every time our teens get behind the wheel.</p> <p>At Terminus GPS, we aim to provide peace-of-mind for you, the parents, whenever and wherever your teen hits the road.</p>
        </div>
    </section>
</section>
<section class="flex flex-col gap-4">
    <img class="h-full rounded" src="{% static 'terminusgps/newdriver2.jpg' %}">
    <h2 class="text-xl font-bold text-terminus-red-700 dark:text-terminus-red-200">For New Drivers</h2>
    <section id="5-nos-to-drive" class="flex flex-col gap-2 text-pretty">
        <h3 class="text-lg font-semibold text-terminus-red-600 dark:text-terminus-red-200">5 <span class="font-bold">NO</span>s to Drive</h3>
        <div class="mx-4 flex flex-col gap-2">
            <ol class="list-inside list-decimal">
                <li><span class="font-bold italic">No</span> Cell Phones</li>
                <li><span class="font-bold italic">No</span> Extra Passengers</li>
                <li><span class="font-bold italic">No</span> Speeding</li>
                <li><span class="font-bold italic">No</span> Alcohol</li>
                <li><span class="font-bold italic">No</span> Driving/Riding without Seatbelts</li>
            </ol>
        </div>
    </section>
    <section id="speeding" class="flex flex-col gap-2 text-pretty">
        <h3 class="text-lg font-semibold text-terminus-red-600 dark:text-terminus-red-200">Consequences of Speeding</h3>
        <div class="mx-4 flex flex-col gap-2">
            <p>We are all guilty of speeding, often to just keep with the flow of traffic.</p>
            <p>However, <span class="font-bold uppercase">it's bad practice, unsafe and unlawful.</span></p>
            <p>Speeding is even more dangerous for teen drivers as they are more likely to lack the driving intuition experienced drivers take for granted on the road.</p>
            <p>Teens may not be able to swiftly make critical decisions required under sudden changed weather conditions, road changes, road obstructions or gauging an oncoming vehicle while trying to pass.</p>
            <p>Driver intuition <span class="italic">only</span> improves with <span class="font-bold">experience</span> and <span class="font-bold">time</span>.</p>
        </div>
    </section>
    <section id="technology" class="flex flex-col gap-2 text-pretty">
        <h3 class="text-lg font-semibold text-terminus-red-600">Technology Does Help</h3>
        <div class="mx-4 flex flex-col gap-2">
            <p>We believe in positive reinforcement of good behavior, rather than emphasizing mistakes.</p>
            <p>Remind your teen their safety is <span class="font-bold italic">your foremost concern</span>; establishing a level of trust is key.</p>
            <p>Today's technology, like GPS monitoring and speed alerts, can be used in the reinforcement of good driving behaviors and to secure that level of trust between you and your teen driver.</p>
        </div>
    </section>
    <section id="teen-parent-agreement" class="flex flex-col gap-2 text-pretty">
        <h3 class="text-lg font-semibold text-terminus-red-600">Teen-Parent Agreement</h3>
        <div class="mx-4 flex flex-col gap-2">
            <p>Acknowledge and discuss this <a class="decoration w-fit text-terminus-red-800 underline decoration-terminus-black underline-offset-4 hover:text-terminus-red-500 hover:decoration-dotted dark:text-terminus-red-400 dark:decoration-white dark:hover:text-terminus-red-200" href="{% static 'terminusgps/teen-parent-agreement.pdf' %}">two-page contract</a> with your teen driver before they get behind the wheel.</p>
            <a class="decoration w-fit text-terminus-red-800 underline decoration-terminus-black underline-offset-4 hover:text-terminus-red-500 hover:decoration-dotted dark:text-terminus-red-400 dark:decoration-white dark:hover:text-terminus-red-200" href="{% static 'terminusgps/teen-parent-agreement.pdf' %}" download>Download Contract</a>
        </div>
    </section>
</section>
