{% extends "terminusgps/layout.html" %}
{% partialdef main %}
<form class="@container flex flex-col gap-4" method="post" hx-post="{% url 'manager:contact form' %}" hx-swap="outerHTML">
    {% csrf_token %}
    <div id="id_{{ form.full_name.id_for_label }}_container" class="flex flex-col gap-2 min-w-0">
        <div class="*:p-2 *:border *:bg-stone-50 *:rounded *:w-full">{{ form.full_name }}</div>
        <label for="{{ form.full_name.id_for_label }}" class="order-first font-semibold">{{ form.full_name.label }}</label>
        <div id="id_{{ form.full_name.id_for_label }}_helptext">
            <p>{{ form.full_name.help_text }}</p>
        </div>
        {% if form.full_name.errors %}
        <div id="id_{{ form.full_name.id_for_label }}_errors">
            {{ form.full_name.errors }}
        </div>
        {% endif %}
    </div>
    <div id="id_{{ form.email.id_for_label }}_container" class="flex flex-col gap-2 min-w-0">
        <div class="*:p-2 *:border *:bg-stone-50 *:rounded *:w-full">{{ form.email }}</div>
        <label for="{{ form.email.id_for_label }}" class="order-first font-semibold">{{ form.email.label }}</label>
        <div id="id_{{ form.email.id_for_label }}_helptext">
            <p>{{ form.email.help_text }}</p>
        </div>
        {% if form.email.errors %}
        <div id="id_{{ form.email.id_for_label }}_errors">
            {{ form.email.errors }}
        </div>
        {% endif %}
    </div>
    <div id="id_{{ form.phone.id_for_label }}_container" class="flex flex-col gap-2 min-w-0">
        <div class="*:p-2 *:border *:bg-stone-50 *:rounded *:w-full">{{ form.phone }}</div>
        <label for="{{ form.phone.id_for_label }}" class="order-first font-semibold">{{ form.phone.label }}</label>
        <div id="id_{{ form.phone.id_for_label }}_helptext">
            <p>{{ form.phone.help_text }}</p>
        </div>
        {% if form.phone.errors %}
        <div id="id_{{ form.phone.id_for_label }}_errors">
            {{ form.phone.errors }}
        </div>
        {% endif %}
    </div>
    <div id="id_{{ form.city.id_for_label }}_container" class="flex flex-col gap-2 min-w-0">
        <div class="*:p-2 *:border *:bg-stone-50 *:rounded *:w-full">{{ form.city }}</div>
        <label for="{{ form.city.id_for_label }}" class="order-first font-semibold">{{ form.city.label }}</label>
        <div id="id_{{ form.city.id_for_label }}_helptext">
            <p>{{ form.city.help_text }}</p>
        </div>
        {% if form.city.errors %}
        <div id="id_{{ form.city.id_for_label }}_errors">
            {{ form.city.errors }}
        </div>
        {% endif %}
    </div>
    <div id="id_{{ form.state.id_for_label }}_container" class="flex flex-col gap-2 min-w-0">
        <div class="*:p-2 *:border *:bg-stone-50 *:rounded *:w-full">{{ form.state }}</div>
        <label for="{{ form.state.id_for_label }}" class="order-first font-semibold">{{ form.state.label }}</label>
        <div id="id_{{ form.state.id_for_label }}_helptext">
            <p>{{ form.state.help_text }}</p>
        </div>
        {% if form.state.errors %}
        <div id="id_{{ form.state.id_for_label }}_errors">
            {{ form.state.errors }}
        </div>
        {% endif %}
    </div>
    <div id="id_{{ form.message.id_for_label }}_container" class="flex flex-col gap-2 min-w-0">
        <div class="*:p-2 *:border *:bg-stone-50 *:rounded *:w-full">{{ form.message }}</div>
        <label for="{{ form.message.id_for_label }}" class="order-first font-semibold">{{ form.message.label }}</label>
        <div id="id_{{ form.message.id_for_label }}_helptext">
            <p>{{ form.message.help_text }}</p>
        </div>
        {% if form.message.errors %}
        <div id="id_{{ form.message.id_for_label }}_errors">
            {{ form.message.errors }}
        </div>
        {% endif %}
    </div>
    <div class="min-w-0 flex flex-col gap-4">
        <button class="w-full px-4 py-2 border border-current cursor-pointer rounded text-gray-100 bg-terminus-red-800 hover:bg-terminus-red-400 ease-in-out duration-300 transition-colors" type="submit">Send Message</button>
    </div>
</form>
{% endpartialdef main %}
{% block content %}
{% partial main %}
{% endblock content %}
