{% extends "terminusgps/layout.html" %}
{% block content %}
{% partialdef partial inline %}
<section
    id="subscription"
    class="p-4 flex flex-col gap-4 border-2 border-current rounded bg-gray-50 dark:bg-gray-800 *:w-full"
    hx-get="{% if customer.subscription == None %}{% url 'terminusgps_manager:create subscriptions' %}{% else %}{% url 'terminusgps_manager:detail subscriptions' subscription_pk=customer.subscription.pk %}{% endif %}"
    hx-target="this"
    hx-trigger="load once"
>
    <div class="flex items-center gap-2">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 animate-spin">
            <path stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0 3.181 3.183a8.25 8.25 0 0 0 13.803-3.7M4.031 9.865a8.25 8.25 0 0 1 13.803-3.7l3.181 3.182m0-4.991v4.99" />
        </svg>
        <p>Loading...</p>
    </div>
</section>
{% endpartialdef partial %}
{% endblock content %}
