<div class="{{ class }}">
    <div class="flex flex-col gap-4">
        <h2 class="text-lg font-semibold text-terminus-red-800 md:text-xl dark:text-terminus-red-300">On-going Installs</h2>
        <div id="jobs-list" hx-get="{% url 'installer:job list' %}" hx-trigger="load" hx-swap="outerHTML"></div>
        <a hx-boost="true" hx-indicator="#loading" href="{% url 'installer:job create' %}" class="w-full cursor-pointer rounded border border-terminus-black bg-terminus-red-800 p-2 text-center text-white transition-colors duration-300 ease-in-out hover:bg-terminus-red-400 dark:border-terminus-gray-300">New Install Job</a>
    </div>
</div>
