{% if not vin_info %}
<div class="relative overflow-x-auto">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                </th>
                <th scope="col" class="px-6 py-3">
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
                <th scope="row" class="px-6 py-4 first:font-medium first:text-gray-900 first:whitespace-nowrap first:dark:text-white">
                    Error
                </th>
                <th scope="row" class="px-6 py-4 first:font-medium first:text-gray-900 first:whitespace-nowrap first:dark:text-white">
                    No data
                </th>
            </tr>
        </tbody>
    </table>
</div>
{% else %}
{% load terminusgps_tracker_text %}
<div class="relative overflow-x-auto">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                </th>
                <th scope="col" class="px-6 py-3">
                </th>
            </tr>
        </thead>
        <tbody>
            {% for key, value in vin_info.items %}
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
                <th scope="row" class="px-6 py-4 first:font-medium first:text-gray-900 first:whitespace-nowrap first:dark:text-white">
                    {{ key|human_readable|title }}
                </th>
                <th scope="row" class="px-6 py-4 first:font-medium first:text-gray-900 first:whitespace-nowrap first:dark:text-white">
                    {{ value }}
                </th>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
