{% extends "terminusgps/layout.html" %}
{% partialdef main %}
<form method="post" class="@container flex flex-col gap-4" hx-post="{% url 'contact form' %}" hx-target="this">
    {% csrf_token %}
    <div id="id_{{ form.name.id_for_label }}_container" class="flex flex-col gap-2 min-w-0">
        {{ form.name }}
        <label for="{{ form.name.id_for_label }}" class="order-first font-semibold peer-user-valid:text-green-800 peer-user-invalid:text-red-800 dark:peer-user-invalid:text-red-400 dark:peer-user-valid:text-green-400">{{ form.name.label }}<span class="text-terminus-red-700">*</span></label>
        <div id="id_{{ form.name.id_for_label }}_helptext" class="peer-user-valid:text-green-800 peer-user-invalid:text-red-800 dark:peer-user-valid:text-green-400 dark:peer-user-invalid:text-red-400">
            <p>{{ form.name.help_text }}</p>
        </div>
        {% if form.name.errors %}
        <div id="id_{{ form.name.id_for_label }}_errors" class="text-red-800 dark:text-red-400">
            {{ form.name.errors }}
        </div>
        {% endif %}
    </div>
    <div id="id_{{ form.email.id_for_label }}_container" class="flex flex-col gap-2 min-w-0">
        {{ form.email }}
        <label for="{{ form.email.id_for_label }}" class="order-first font-semibold peer-user-valid:text-green-800 peer-user-invalid:text-red-800 dark:peer-user-invalid:text-red-400 dark:peer-user-valid:text-green-400">{{ form.email.label }}<span class="text-terminus-red-700">*</span></label>
        <div id="id_{{ form.email.id_for_label }}_helptext" class="peer-user-valid:text-green-800 peer-user-invalid:text-red-800 dark:peer-user-valid:text-green-400 dark:peer-user-invalid:text-red-400">
            <p>{{ form.email.help_text }}</p>
        </div>
        {% if form.email.errors %}
        <div id="id_{{ form.email.id_for_label }}_errors" class="text-red-800 dark:text-red-400">
            {{ form.email.errors }}
        </div>
        {% endif %}
    </div>
    <div id="id_{{ form.message.id_for_label }}_container" class="flex flex-col gap-2 min-w-0">
        {{ form.message }}
        <label for="{{ form.message.id_for_label }}" class="order-first font-semibold peer-user-valid:text-green-800 peer-user-invalid:text-red-800 dark:peer-user-invalid:text-red-400 dark:peer-user-valid:text-green-400">{{ form.message.label }}<span class="text-terminus-red-700">*</span></label>
        <div id="id_{{ form.message.id_for_label }}_helptext" class="peer-user-valid:text-green-800 peer-user-invalid:text-red-800 dark:peer-user-valid:text-green-400 dark:peer-user-invalid:text-red-400">
            <p>{{ form.message.help_text }}</p>
        </div>
        {% if form.message.errors %}
        <div id="id_{{ form.message.id_for_label }}_errors" class="text-red-800 dark:text-red-400">
            {{ form.message.errors }}
        </div>
        {% endif %}
    </div>
    <button class="px-4 py-2 cursor-pointer border-2 rounded bg-stone-200 transition-colors ease-in-out duration-300 hover:bg-stone-50 dark:bg-gray-700 dark:hover:bg-gray-500" type="submit">
        <div class="flex items-center gap-2 w-full justify-center">
            <p class="font-semibold">Send</p>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 12 3.269 3.125A59.769 59.769 0 0 1 21.485 12 59.768 59.768 0 0 1 3.27 20.875L5.999 12Zm0 0h7.5" />
            </svg>
        </div>
    </button>
</form>
{% endpartialdef main %}
{% block content %}
{% partial main %}
{% endblock content %}
