{% extends "terminusgps/layout.html" %}
{% block title %}Contact{% endblock title %}
{% partialdef main %}
<article class="@container p-8 flex flex-col gap-8">
    <section class="flex flex-col gap-2">
        <p class="text-3xl text-gray-800 dark:text-gray-100">Get in touch with Terminus GPS</p>
        <p class="text-lg text-gray-700 dark:text-gray-200">Drop a note and we'll get back to you as soon as possible.</p>
    </section>
    <section class="p-8 bg-stone-100 border-gray-600 border rounded drop-shadow-sm dark:bg-gray-600 dark:border-gray-400">
        <form class="@container flex flex-col gap-4" hx-get="{% url 'contact form' %}" hx-target="this" hx-trigger="load once" hx-swap="outerHTML">
            <div class="py-16 rounded bg-gray-300 animate-pulse"></div>
            <div class="py-16 rounded bg-gray-300 animate-pulse"></div>
            <div class="py-24 rounded bg-gray-300 animate-pulse"></div>
            <div class="py-8 rounded bg-gray-300 animate-pulse"></div>
        </form>
    </section>
</article>
{% endpartialdef main %}
{% block content %}
{% partial main %}
{% endblock content %}
