{% extends "terminusgps/layout.html" %}
{% load static %}
{% block title %}Features{% endblock title %}
{% partialdef main %}
<article class="@container p-8 flex flex-col gap-8">
    <section id="header" class="flex flex-col gap-2">
        <p class="text-3xl text-gray-800 dark:text-gray-100">Terminus GPS Features</p>
        <p class="text-lg text-gray-700 dark:text-gray-200">Finally, a GPS tracking solution for <em>everyone</em>.</p>
    </section>
    <div class="@container">
        <section class="group flex flex-col @md:grid @md:grid-cols-2">
            <img class="@md:group-even:order-last max-h-128 w-full object-cover" src="{% static 'terminusgps/img/wialon/fleet-digitalization.jpg' %}">
            <div class="p-4 flex flex-col gap-4 @md:p-8 text-gray-700 dark:text-gray-200">
                <p class="font-semibold text-xl text-gray-800 dark:text-gray-100">One Platform To Digitalize Them All</p>
                <div class="flex flex-col gap-2">
                    <p>From trucks and trailers to drivers and passengers, every individual part of your fleet is conveniently digitalized.</p>
                    <p>Terminus GPS illuminates every part of your fleet in a simple, easy-to-use, always online interface.</p>
                    <p>Can't access a desktop computer? The Terminus GPS platform is also available as native <a href="{% url 'ios app' %}" rel="nofollow" class="w-fit decoration text-terminus-red-200 underline decoration-terminus-black underline-offset-4 hover:text-terminus-red-100 hover:decoration-dotted dark:decoration-white">iOS</a> and <a href="{% url 'android app' %}" rel="nofollow" class="w-fit decoration text-terminus-red-200 underline decoration-terminus-black underline-offset-4 hover:text-terminus-red-100 hover:decoration-dotted dark:decoration-white">Android</a> applications.</p>
                </div>
            </div>
        </section>
        <section class="group flex flex-col @md:grid @md:grid-cols-2">
            <img class="@md:group-even:order-last max-h-128 w-full object-cover" src="{% static 'terminusgps/img/wialon/fleet-digitalization-notifications.jpg' %}">
            <div class="p-4 flex flex-col gap-4 @md:p-8 text-gray-700 dark:text-gray-200">
                <p class="font-semibold text-xl text-gray-800 dark:text-gray-100">Live Alerts Delivered Directly To Your Device</p>
                <div class="flex flex-col gap-2">
                    <p>Maintenance coming due? Refueling needed before the next leg? Engine temperature running too high?</p>
                    <p>With Terminus GPS, your mobile device becomes your lifeline to your fleet.</p>
                    <p>Always stay up-to-date with live sms/text-to-speech voice notifications, configured specifically for <em>your</em> fleets' needs.</p>
                </div>
            </div>
        </section>
        <section class="group flex flex-col @md:grid @md:grid-cols-2">
            <img class="@md:group-even:order-last max-h-128 w-full object-cover" src="{% static 'terminusgps/img/wialon/fuel-management.jpg' %}">
            <div class="p-4 flex flex-col gap-4 @md:p-8 text-gray-700 dark:text-gray-200">
                <p class="font-semibold text-xl text-gray-800 dark:text-gray-100">Fuel Management</p>
                <div class="flex flex-col gap-2">
                    <p>You shouldn't be in the dark when it comes to your fleets' fuel levels.</p>
                    <p>Every vehicle's fuel level is constantly tracked and logged, providing you with vision deep inside your operations.</p>
                    <p>Stay on top of fuel requirements and monitor potential fuel theft to keep your business operating smoothly.</p>
                </div>
            </div>
        </section>
        <section class="group flex flex-col @md:grid @md:grid-cols-2">
            <img class="@md:group-even:order-last max-h-128 w-full object-cover" src="{% static 'terminusgps/img/wialon/geofencing.jpg' %}">
            <div class="p-4 flex flex-col gap-4 @md:p-8 text-gray-700 dark:text-gray-200">
                <p class="font-semibold text-xl text-gray-800 dark:text-gray-100">Geofencing</p>
                <div class="flex flex-col gap-2">
                    <p>The Terminus GPS platform conforms to <em>your</em> needs, not the other way around.</p>
                    <p>Draw custom geofence zones in the platform, areas of Earth's surface you configure in our convenient web interface.</p>
                    <p>Get informed when a vehicle enters a jobsite, the office or the shop, all from your mobile device or desktop computer.</p>
                </div>
            </div>
        </section>
        <section id="route-optimization" class="group flex flex-col @md:grid @md:grid-cols-2">
            <img class="@md:group-even:order-last max-h-128 w-full object-cover" src="{% static 'terminusgps/img/wialon/route-optimization.jpg' %}">
            <div class="p-4 flex flex-col gap-4 @md:p-8 text-gray-700 dark:text-gray-200">
                <p class="font-semibold text-xl text-gray-800 dark:text-gray-100">Route Optimization</p>
                <div class="flex flex-col gap-2">
                    <p>Define routes in the Terminus GPS platform, scheduled rides with configured checkpoints.</p>
                    <p>Top-of-the-line algorithms automatically optimize your routes so you can focus on running your business.</p>
                    <p>Generate reports, optimize for fuel efficiency and monitor progress without missing a beat.</p>
                </div>
            </div>
        </section>
    </div>
</article>
{% endpartialdef main %}
{% block content %}
{% partial main %}
{% endblock content %}
