{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <link rel="icon" href="{% static 'terminusgps/favicon.ico' %}" />
        <link rel="stylesheet" href="{% static 'terminusgps/css/output.css' %}"/>
        <link rel="preload" href="{% static 'terminusgps/icon/logo-waypoint.svg' %}" as="image">
        <link rel="preload" href="{% static 'terminusgps/icon/logo-text.svg' %}" as="image">
        <script src="{% static 'terminusgps/js/htmx.min.4.0.0.js' %}" defer></script>
        <title>{% block title %}{% endblock title %} | Terminus GPS</title>
    </head>
    <body class="text-gray-800 dark:text-gray-100 bg-stone-200 dark:bg-gray-700">
        <nav class="flex justify-between bg-stone-100 text-gray-800 drop-shadow dark:bg-gray-800 print:hidden" hx-get="{% url 'navbar' %}" hx-target="this" hx-trigger="load once" hx-swap="outerHTML">
            <a href="{% url 'home' %}" class="group flex items-center space-x-1">
                <img src="{% static 'terminusgps/icon/logo-waypoint.svg' %}" class="animate-coin-slow size-16 group-hover:animate-none"/>
                <img src="{% static 'terminusgps/icon/logo-text.svg' %}" class="size-24 hidden md:flex"/>
            </a>
            <div class="mx-4 flex gap-2 items-center">
                <div class="flex font-semibold items-center gap-2 p-2 border-2 rounded bg-stone-300 border-stone-600 animate-pulse cursor-not-allowed">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M9.879 7.519c1.171-1.025 3.071-1.025 4.242 0 1.172 1.025 1.172 2.687 0 3.712-.203.179-.43.326-.67.442-.745.361-1.45.999-1.45 1.827v.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9 5.25h.008v.008H12v-.008Z" />
                    </svg>
                    <p>Loading</p>
                </div>
                <div class="flex font-semibold items-center gap-2 p-2 border-2 rounded bg-stone-300 border-stone-600 animate-pulse cursor-not-allowed">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M9.879 7.519c1.171-1.025 3.071-1.025 4.242 0 1.172 1.025 1.172 2.687 0 3.712-.203.179-.43.326-.67.442-.745.361-1.45.999-1.45 1.827v.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9 5.25h.008v.008H12v-.008Z" />
                    </svg>
                    <p>Loading</p>
                </div>
            </div>
        </nav>
        <main class="@container">
            {% if messages %}
            <ul id="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% block content %}{% endblock content %}
        </main>
        <footer class="bottom-0 left-0 z-20 w-full border-t border-stone-300 bg-stone-100 p-4 shadow-sm md:flex md:items-center md:justify-between md:p-6 dark:border-gray-900 dark:bg-gray-800 print:hidden">
            <span class="text-sm sm:text-center">© 2026 <a href="https://terminusgps.com/" class="hover:underline">Terminus GPS</a>. All Rights Reserved.</span>
            <ul class="mt-3 flex flex-wrap items-center text-sm sm:mt-0">
                <li>
                    <a
                        hx-boost="true"
                        href="{% url 'about' %}"
                        class="me-4 hover:underline md:me-6"
                        >About</a
                    >
                </li>
                <li>
                    <a
                        hx-boost="true"
                        href="{% url 'contact' %}"
                        class="me-4 hover:underline md:me-6"
                        >Contact</a
                    >
                </li>
                <li>
                    <a
                        hx-boost="true"
                        href="{% url 'faq' %}"
                        class="me-4 hover:underline md:me-6"
                        >FAQ</a
                    >
                </li>
                <li>
                    <a
                        hx-boost="true"
                        href="{% url 'features' %}"
                        class="me-4 hover:underline md:me-6"
                        >Features</a
                    >
                </li>
                <li>
                    <a
                        hx-boost="true"
                        href="{% url 'privacy' %}"
                        class="me-4 hover:underline md:me-6"
                        >Privacy</a
                    >
                </li>
                <li>
                    <a
                        hx-boost="true"
                        href="{% url 'terms' %}"
                        class="me-4 hover:underline md:me-6"
                        >Terms</a
                    >
                </li>
                <li>
                    <a
                        hx-boost="false"
                        rel="external"
                        href="{% url 'source code' %}"
                        class="me-4 hover:underline md:me-6"
                        >Source</a
                    >
                </li>
            </ul>
        </footer>
    </body>
</html>
