{% extends "terminusgps/layout.html" %}
{% load static %}
{% block content %}
{% partialdef partial inline %}
<div class="flex flex-col">
    <img src="{% static 'terminusgps/img/truck.avif' %}" class="rounded object-cover object-[35%_85%] max-h-96">
    <div class="flex flex-col gap-4 p-8">
        <div class="flex flex-col gap-4">
            <h4 class="text-xl md:text-2xl text-terminus-red-700 font-semibold dark:text-terminus-red-200">A Reliable, Robust Tracking Platform Accessible Anytime, Anywhere</h4>
            <div class="flex flex-col gap-4">
                <p>Terminus GPS provides commercial fleet managers with access to <a class="w-fit decoration text-terminus-red-200 underline decoration-terminus-black underline-offset-4 hover:text-terminus-red-100 hover:decoration-dotted dark:decoration-white" href="{% url 'platform' %}" hx-boost="false">the platform</a>.</p>
                <p>Fleet managers may view and manage their entire fleet from any Internet-connected device.</p>
            </div>
        </div>
    </div>
</div>
<div class="flex flex-col">
    <img src="{% static 'terminusgps/img/truck.avif' %}" class="rounded object-cover object-[35%_85%] max-h-96">
    <div class="flex flex-col gap-4 p-8">
        <div class="flex flex-col gap-4">
            <h4 class="text-xl md:text-2xl text-terminus-red-700 font-semibold dark:text-terminus-red-200">From Terminus GPS to Your Fleet, Specifically</h4>
            <div class="flex flex-col gap-4">
                <p>Delivering pizzas? Monitoring world-wide shipments? Transporting temperature-sensitive ice-cream?</p>
                <p>We have or will create custom solutions based on your needs, ensuring <a class="w-fit decoration text-terminus-red-200 underline decoration-terminus-black underline-offset-4 hover:text-terminus-red-100 hover:decoration-dotted dark:decoration-white" href="{% url 'platform' %}" hx-boost="false">the platform</a> is tuned for <span class="italic">your</span> business requirements.</p>
            </div>
        </div>
    </div>
</div>
{% endpartialdef partial %}
{% endblock content %}
