{% extends "terminusgps/layout.html" %}
{% load static %}
{% block title %}Features{% endblock title %}
{% partialdef main %}
<article class="@container p-8 flex flex-col gap-8">
    <section id="header" class="flex flex-col gap-2">
        <p class="text-3xl text-gray-800">Terminus GPS Features</p>
        <p class="text-lg text-gray-700">Finally, a GPS tracking solution for <em>everyone</em>.</p>
    </section>
    <div class="@container">
        <section class="group flex flex-col @md:grid @md:grid-cols-2">
            <img class="@md:group-even:order-last max-h-128 w-full object-cover" src="{% static 'terminusgps/img/wialon/fleet-digitalization.jpg' %}">
            <div class="p-4 flex flex-col gap-4 @md:p-8 text-gray-700">
                <p class="font-semibold text-xl text-gray-800">Your Entire Fleet, At Your Fingertips</p>
                <div class="flex flex-col gap-2">
                    <p>Every individual part of your fleet is digitalized in our platform.</p>
                    <p>From trucks and trailers to drivers and passengers, Terminus GPS illuminates every part of your fleet in a simple, easy-to-use interface.</p>
                    <p>Text</p>
                    <p>Text</p>
                </div>
            </div>
        </section>
        <section class="group flex flex-col @md:grid @md:grid-cols-2">
            <img class="@md:group-even:order-last max-h-128 w-full object-cover" src="{% static 'terminusgps/img/wialon/fleet-digitalization-notifications.jpg' %}">
            <div class="p-4 flex flex-col gap-4 @md:p-8 text-gray-700">
                <p class="font-semibold text-xl text-gray-800">Fleet Notifications</p>
                <div class="flex flex-col gap-2">
                    <p>Text</p>
                    <p>Text</p>
                    <p>Text</p>
                    <p>Text</p>
                </div>
            </div>
        </section>
        <section class="group flex flex-col @md:grid @md:grid-cols-2">
            <img class="@md:group-even:order-last max-h-128 w-full object-cover" src="{% static 'terminusgps/img/wialon/fuel-management.jpg' %}">
            <div class="p-4 flex flex-col gap-4 @md:p-8 text-gray-700">
                <p class="font-semibold text-xl text-gray-800">Fuel Management</p>
                <div class="flex flex-col gap-2">
                    <p>Text</p>
                    <p>Text</p>
                    <p>Text</p>
                    <p>Text</p>
                </div>
            </div>
        </section>
        <section class="group flex flex-col @md:grid @md:grid-cols-2">
            <img class="@md:group-even:order-last max-h-128 w-full object-cover" src="{% static 'terminusgps/img/wialon/geofencing.jpg' %}">
            <div class="p-4 flex flex-col gap-4 @md:p-8 text-gray-700">
                <p class="font-semibold text-xl text-gray-800">Geofencing</p>
                <div class="flex flex-col gap-2">
                    <p>Text</p>
                    <p>Text</p>
                    <p>Text</p>
                    <p>Text</p>
                </div>
            </div>
        </section>
        <section class="group flex flex-col @md:grid @md:grid-cols-2">
            <img class="@md:group-even:order-last max-h-128 w-full object-cover" src="{% static 'terminusgps/img/wialon/route-optimization.jpg' %}">
            <div class="p-4 flex flex-col gap-4 @md:p-8 text-gray-700">
                <p class="font-semibold text-xl text-gray-800">Route Optimization</p>
                <div class="flex flex-col gap-2">
                    <p>Text</p>
                    <p>Text</p>
                    <p>Text</p>
                    <p>Text</p>
                </div>
            </div>
        </section>
    </div>
</article>
{% endpartialdef main %}
{% block content %}
{% partial main %}
{% endblock content %}
