{% extends "terminusgps/layout.html" %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block content %}
<p>Terminus GPS</p>
<p>In God We Trust, All Others We Track</p>
<div id="carousel-container">
    <div id="slide-1" class="flex flex-col gap-8 items-center">
        <div class="flex items-center gap-4 justify-between">
            <svg id="slide-1-left-chevron" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-12 text-red-800" _="">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
            </svg>
            <img id="slide-1-image" class="w-fit h-128 select-none" src="{% static 'terminusgps/img/18wheeler-blue.jpg' %}">
            <svg id="slide-1-right-chevron" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-12 text-red-800" _="">
                <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
            </svg>
        </div>
        <div id="slide-1-dots" class="flex gap-4 items-center">
            <div class="w-8 h-8 rounded-full bg-red-800"></div>
            <div class="w-8 h-8 rounded-full border-4 border-red-800"></div>
            <div class="w-8 h-8 rounded-full border-4 border-red-800"></div>
            <div class="w-8 h-8 rounded-full border-4 border-red-800"></div>
            <div class="w-8 h-8 rounded-full border-4 border-red-800"></div>
        </div>
    </div>
    <div id="slide-2" class="hidden flex-col gap-8 items-center">
        <div class="flex items-center gap-4 justify-between">
            <svg id="slide-2-left-chevron" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-12 text-red-800" _="on click toggle .hidden between me and #slide-1">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
            </svg>
            <img id="slide-2-image" class="w-fit h-128 select-none" src="{% static 'terminusgps/img/18wheeler.jpg' %}">
            <svg id="slide-2-right-chevron" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-12 text-red-800" _="on click toggle .hidden between me and #slide-3">
                <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
            </svg>
        </div>
        <div id="slide-2-dots" class="flex gap-4 items-center">
            <div class="w-8 h-8 rounded-full border-4 border-red-800"></div>
            <div class="w-8 h-8 rounded-full bg-red-800"></div>
            <div class="w-8 h-8 rounded-full border-4 border-red-800"></div>
            <div class="w-8 h-8 rounded-full border-4 border-red-800"></div>
            <div class="w-8 h-8 rounded-full border-4 border-red-800"></div>
        </div>
    </div>
    <div id="slide-3" class="hidden">
        <img class="w-fit h-128" src="{% static 'terminusgps/img/happydriver.jpg' %}">
    </div>
    <div id="slide-4" class="hidden">
        <img class="w-fit h-128" src="{% static 'terminusgps/img/newdriver.jpg' %}">
    </div>
    <div id="slide-5" class="hidden">
        <img class="w-fit h-128" src="{% static 'terminusgps/img/family.jpg' %}">
    </div>
</div>
<p>Terminus GPS has been protecting vehicles, fleets and families across the greater Houston area since 2010.</p>
<p>We're not a call center; we're a friendly, local team that answers the phone, installs the next day and stays with you after the sale.</p>
<ul>
    <li>Fast installation - most systems are installed the day after contact</li>
    <li>Month-to-month - no long-term contracts required</li>
    <li>Real-time alerts - direct to your phone via sms/text-to-speech, 24&#47;7</li>
    <li>Local and personal - real support from real people in Houston, Texas</li>
</ul>
<p>Your Fleet. Fully Visible. Fully Accountable.</p>
<p>Whether you're managing three service trucks or 300, Terminus GPS streamlines fleet management in a single platform.</p>
<p>See everything at a glance: where your vehicles are, how your drivers are behaving and what maintenance is coming due.</p>
<p>We serve landscape crews, plumbing companies, electrical contractors, logistics operators and everything in-between.</p>
<p>The Terminus GPS platform scales with your business and our support team is always available to ensure you get the most out of it.</p>
<p>Most Used Capabilites:</p>
<ul>
    <li>Live location tracking with 60-second ping rates</li>
    <li>Geofence entry/exit alerts</li>
    <li>Driver behavior monitoring</li>
    <li>After-hours usage and unauthorized movement alerts</li>
    <li>Starter interrupt</li>
    <li>Daily reports delivered to your email inbox</li>
</ul>
<p>Fleet AI Dash Cameras</p>
<p>Add an extra layer of accountability with our Fleet AI camera solutions.</p>
<p>Front and dual-facing cameras capture video evidence in real-time, protecting your drivers from false claims, reducing insure liability and giving you visiblity into exactly what happened on every trip.</p>
<p>Paired with our GPS tracking, you'll always have access to the full picture: location, speed and video, all in one platform.</p>
<p>Whether you're monitoring a teen or an elderly driver, promoting safety and reducing driving risk is our number one priority.</p>
<p>We've taken the top-of-the-line industry-standard commercial GPS tracking technology, streamlined and simplified for the individual user.</p>
<p>Most Used Capabilities:</p>
<ul>
    <li>Geographic location</li>
    <li>Accelerated speed</li>
    <li>Time & distance traveled</li>
    <li>Stop & start times</li>
    <li>Driver behavior</li>
</ul>
<p>Terminus GPS can equip all vehicle types with a GPS tracker: cars, trucks, motorcycles, ATVs, watercrafts, tractors, trailers and any transportable, stationary equipment.</p>
{% endblock content %}
