{% extends "terminusgps/layout.html" %}
{% block content %}
{% partialdef partial inline %}
<section class="mx-4 flex flex-col gap-4 text-pretty">
    <h2 class="-mx-4 text-lg font-semibold text-terminus-red-500 dark:text-terminus-red-100">A Reliable, Robust Tracking Platform Accessible Anytime, Anywhere</h2>
    <p>Stay in-the-loop with the ever-reliable Terminus GPS <a href="{% url 'platform' %}" class="decoration w-fit text-terminus-red-800 underline decoration-terminus-black underline-offset-4 hover:text-terminus-red-500 hover:decoration-dotted dark:text-terminus-red-400 dark:decoration-white dark:hover:text-terminus-red-200">tracking platform</a>.</p>
</section>
<section class="mx-4 flex flex-col gap-4 text-pretty">
    <h2 class="-mx-4 text-lg font-semibold text-terminus-red-500 dark:text-terminus-red-100">Commercial-Grade Technology, Streamlined For Ease-of-use</h2>
    <p><span class="italic">The</span> industry standard GPS tracking technology, simplified.</p>
</section>
<section class="mx-4 flex flex-col gap-4 text-pretty">
    <h2 class="-mx-4 text-lg font-semibold text-terminus-red-500 dark:text-terminus-red-100">Live Notifications, Delivered Straight to Your Smartphone</h2>
    <p>Always know where yours are, no matter where <span class="italic">you</span> are.</p>
</section>
<p>You'll get access to our GPS tracking <a class="decoration text-terminus-red-200 decoration-terminus-black hover:text-terminus-red-100 w-fit underline underline-offset-4 hover:decoration-dotted dark:decoration-white" href="{% url 'platform' %}" hx-boost="false">platform</a>, the same platform used for commercial fleet management, streamlined for the individual user.</p>
<p>Our team of installation experts are familiar with all vehicle types: from the family station wagon to lifted F-250s, we've seen it and installed it all.</p>
{% endpartialdef partial %}
{% endblock content %}
