{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>{% if title %}{{ title }} | {% endif %}Terminus GPS</title>
        <link rel="preload" href="{% static 'terminusgps/css/output.css' %}" as="style" type="text/css"/>
        <link rel="preload" href="{% static 'terminusgps/js/htmx.min.js' %}" as="script" type="text/javascript"/>
        <link rel="preload" href="{% static "terminusgps/img/background.jpg" %}" as="image" type="image/jpg"/>
        <link rel="shortcut icon" href="{% static 'terminusgps/favicon.ico' %}"/>
        <link rel="stylesheet" href="{% static 'terminusgps/css/output.css' %}"/>
        <script src="{% static 'terminusgps/js/htmx.min.js' %}" defer></script>
        <script src="https://9681add82420.us-east-1.captcha-sdk.awswaf.com/9681add82420/jsapi.js" defer></script>
    </head>
    <body class="h-dvh text-gray-800 bg-repeat-round dark:text-gray-100" style="background-image: url({% static 'terminusgps/img/background.jpg' %});">
        {% include "terminusgps/navbar.html" %}
        <div class="p-8 md:p-16">
            <main class="flex flex-col gap-8 rounded border border-stone-300 bg-stone-100 p-4 drop-shadow-lg md:p-8 dark:border-stone-700 dark:bg-stone-900 print:border-none print:drop-shadow-none">
                {% include "terminusgps/header.html" %}
                {% if messages %}{% include "terminusgps/messages.html" %}{% endif %}
                {% block content %}{% endblock content %}
            </main>
        </div>
        {% include "terminusgps/footer.html" %}
    </body>
</html>
