{% extends "terminusgps/layout.html" %}
{% block content %}
{% partialdef partial inline %}
<form class="flex flex-col gap-4" action="{% url 'logged out' %}" method="post">
    {% csrf_token %}
    <p>Are you sure you want to logout?</p>
    <button type="submit" class="flex w-full cursor-pointer items-center justify-center gap-2 rounded border border-terminus-red-900 bg-terminus-red-800 p-2 text-center text-white transition-colors duration-300 ease-in-out hover:bg-terminus-red-400">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0 0 13.5 3h-6a2.25 2.25 0 0 0-2.25 2.25v13.5A2.25 2.25 0 0 0 7.5 21h6a2.25 2.25 0 0 0 2.25-2.25V15m3 0 3-3m0 0-3-3m3 3H9"/>
        </svg>
        <p>Logout</p>
    </button>
</form>
{% endpartialdef partial %}
{% endblock content %}
