{% extends "terminusgps/layout.html" %}
{% block content %}
{% partialdef partial inline %}
<form id="password-change-form" class="flex flex-col gap-4" hx-post="{% url 'password change' %}">
    {% csrf_token %}
    <section class="flex flex-col gap-2">
        {{ form.old_password }}
        <label class="order-first font-semibold peer-user-invalid:text-red-600" for="{{ form.old_password.id_for_label }}">{{ form.old_password.label }}</label>
        <p class="text-sm peer-user-invalid:text-red-800" id="{{ form.old_password.id_for_label }}_helptext">{{ form.old_password.help_text }}</p>
        {% if form.old_password.errors %}<div class="animate-jiggle font-italic">{{ form.old_password.errors }}</div>{% endif %}
    </section>
    <section class="flex flex-col gap-2">
        {{ form.new_password1 }}
        <label class="order-first font-semibold peer-user-invalid:text-red-600" for="{{ form.new_password1.id_for_label }}">{{ form.new_password1.label }}</label>
        <ul class="text-sm peer-user-invalid:text-red-800" id="{{ form.new_password1.id_for_label }}_helptext">
            {% for help_text in form.password_help_texts %}
            <li>{{ help_text }}</li>
            {% endfor %}
        </ul>
        {% if form.new_password1.errors %}<div class="animate-jiggle font-italic">{{ form.new_password1.errors }}</div>{% endif %}
    </section>
    <section class="flex flex-col gap-2">
        {{ form.new_password2 }}
        <label class="order-first font-semibold peer-user-invalid:text-red-600" for="{{ form.new_password2.id_for_label }}">{{ form.new_password2.label }}</label>
        <p class="text-sm peer-user-invalid:text-red-800" id="{{ form.new_password2.id_for_label }}_helptext">{{ form.new_password2.help_text }}</p>
        {% if form.new_password2.errors %}<div class="animate-jiggle font-italic">{{ form.new_password2.errors }}</div>{% endif %}
    </section>
    <button class="flex w-full cursor-pointer items-center gap-2 rounded border border-terminus-red-900 bg-terminus-red-800 p-2 text-white transition-colors duration-300 ease-in-out hover:bg-terminus-red-400" type="submit">Update Password</button>
</form>
{% endpartialdef %}
{% endblock content %}
