{% extends "home/layout.html" %}
{% load wagtailimages_tags wagtailcore_tags %}
{% block content %}
<article class="@container @md:text-lg p-8 flex flex-col gap-8">
    {% if page.header_title or page.header_text %}
    <div class="flex flex-col gap-2">
        {% if page.header_title %}
        <h1 class="text-4xl @2xl:text-6xl font-bold text-gray-800 dark:text-gray-100">
            {{ page.header_title }}
        </h1>
        {% endif %}
        {% if page.header_subtitle %}
        <h2 class="text-xl @2xl:text-2xl font-semibold text-gray-600 dark:text-gray-300">
            {{ page.header_subtitle }}
        </h2>
        {% endif %}
    </div>
    {% endif %}
    {% if page.image %}
    <div class="*:w-full *:max-h-128 *:object-cover">{% image page.image width-1000 %}</div>
    {% endif %}
    <div class="flex flex-col gap-4 [&_h2]:font-semibold [&_h2]:text-2xl [&_h2]:md:text-4xl [&_h2]:text-gray-800 [&_h2]:dark:text-gray-100 [&_p]:md:text-lg [&_ul]:list-disc [&_ul]:list-inside [&_h3]:font-semibold [&_h3]:text-xl [&_h3]:md:text-2xl [&_h3]:text-gray-800 [&_h3]:dark:text-gray-100 [&_h4]:text-lg [&_h4]:md:text-xl [&_h4]:text-gray-700 [&_h4]:dark:text-gray-200 [&_a]:w-fit [&_a]:decoration [&_a]:text-terminus-red-800 [&_a]:underline [&_a]:decoration-terminus-black [&_a]:underline-offset-4 [&_a]:hover:text-terminus-red-600 [&_a]:hover:decoration-dotted [&_a]:dark:decoration-white [&_a]:dark:text-red-200 [&_a]:hover:dark:text-red-50">
        {{ page.body|richtext }}
    </div>
</article>
{% endblock content %}
