<form class="flex flex-col gap-4" hx-post="{% url 'tracker:create unit' %}" method="post">
    {% if form.non_field_errors %}<div class="inset-shadow w-full animate-jiggle rounded border border-current bg-red-200 p-2 text-center text-red-600">{{ form.non_field_errors }}</div>{% endif %}
    {% csrf_token %}
    <div class="flex flex-col gap-2">
        <label for="{{ form.name.id_for_label }}">Unit name</label>
        {{ form.name }}
        <p id="{{ form.name.id_for_label }}_helptext">{{ form.name.help_text }}</p>
    </div>
    <div class="flex flex-col gap-2">
        <label for="{{ form.imei.id_for_label }}">IMEI #</label>
        {{ form.imei }}
        <p id="{{ form.imei.id_for_label }}_helptext">{{ form.imei.help_text }}</p>
    </div>
    <div class="flex flex-col gap-2">
        <label for="{{ form.tier.id_for_label }}">Tier</label>
        {{ form.tier }}
        <p id="{{ form.tier.id_for_label }}_helptext">{{ form.tier.help_text }}</p>
    </div>
    <button class="w-full cursor-pointer rounded border border-current bg-terminus-red-800 p-2 text-center text-white transition-colors duration-300 ease-in-out hover:bg-terminus-red-400" type="submit">Register</button>
</form>
