{% if unit_list|length == 0 %}
<p>There's nothing here...</p>
{% else %}
<div class="relative overflow-x-auto">
    <table class="w-full text-left text-sm text-gray-500 rtl:text-right dark:text-gray-400">
        <thead class="bg-gray-50 text-xs text-gray-700 uppercase dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    <p>Name</p>
                </th>
                <th scope="col" class="px-6 py-3">
                    <p>Tier</p>
                </th>
                <th scope="col" class="px-6 py-3">
                </th>
            </tr>
        </thead>
        <tbody>
        {% for unit in unit_list %}
            <tr hx-get="{% url 'tracker:unit list detail' unit.customer.pk unit.pk %}" hx-trigger="load" hx-target="this" id="unit-{{ unit.pk }}" class="border-b border-gray-600 bg-gray-100 odd:bg-gray-200 dark:bg-gray-800 dark:odd:bg-gray-900">
                <div class="animate-pulse">
                <th scope="row" class="w-1/3 px-6 py-4 font-medium whitespace-nowrap text-gray-900 select-all dark:text-white"></th>
                <td class="w-1/3 px-6 py-4 select-all"></td>
                <td class="w-1/3 px-6 py-4"></td>
                </div>
            </tr>
        {% endfor %}
    </table>
</div>
{% endif %}
