{% if unit_list|length == 0 %}
<p class="text-center">There's nothing here...</p>
{% else %}
<div class="relative overflow-x-auto">
    <table class="w-full text-left text-sm text-gray-500 rtl:text-right dark:text-gray-400">
        <thead class="bg-gray-50 text-xs text-gray-700 uppercase dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    <p>Name</p>
                </th>
                <th scope="col" class="px-6 py-3">
                    <p>Tier</p>
                </th>
                <th scope="col" class="px-6 py-3">
                </th>
            </tr>
        </thead>
        <tbody>
        {% for unit in unit_list %}
            <tr hx-get="{% url 'tracker:unit list detail' unit.customer.pk unit.pk %}" hx-trigger="load" hx-target="this" id="unit-{{ unit.pk }}" class="border-b border-gray-600 bg-gray-100 odd:bg-gray-200 dark:bg-gray-800 dark:odd:bg-gray-900 peer group">
                <th class="animate-pulse bg-gray-600 px-6 py-4 group-odd:bg-gray-400"></th>
                <td class="animate-pulse bg-gray-600 px-6 py-4 group-odd:bg-gray-400"></td>
                <td class="animate-pulse bg-gray-600 px-6 py-4 group-odd:bg-gray-400"></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
