<form hx-include="this" hx-target="this" hx-indicator=".htmx-indicator" class="{{ class }}" method="post" action="{% url 'bug report' %}">
    {% csrf_token %}
    <div class="flex flex-col gap-2">
        {{ form.user.as_hidden }}
        {{ form.category }}
        {{ form.text }}
    </div>
    <div class="flex flex-col gap-2">
        <input
            class="rounded border border-terminus-black bg-terminus-red-800 p-2 text-white hover:cursor-pointer hover:bg-terminus-red-400"
            hx-post="{% url 'bug report' %}"
            hx-trigger="click"
            type="submit"
        >
        <a class="cursor-pointer rounded border border-gray-600 bg-gray-300 p-2 text-center text-gray-700 hover:bg-gray-200" href="{% url 'tracker profile' %}">Back</a>
    </div>
</form>
