<form hx-indicator=".htmx-indicator" class="{{ class }}" hx-boost="true" method="post" action="{% url 'bug report' %}">
    {% csrf_token %}
    <div class="flex flex-col gap-2">
        {{ form.user.as_hidden }}
        {{ form.category }}
        {{ form.text }}
    </div>
    <div class="flex flex-col gap-2">
        <input
            class="rounded border border-terminus-black bg-terminus-red-800 p-2 text-white hover:cursor-pointer hover:bg-terminus-red-400"
            hx-post="{% url 'bug report' %}"
            hx-include="closest form"
            hx-trigger="click"
            type="submit"
        >
    </div>
</form>
