<h2 class="text-center text-2xl font-semibold text-terminus-red-800">Give us a call</h2>
<div class="flex flex-col gap-2">
    {% for phone in tracker_config.PHONES %}
    <a href="tel:{{ phone.OPTIONS.num }}" class="p-2 bg-gray-300 rounded">
        <h3>{{ phone.NAME|title }}</h3>
        <p>{{ phone.OPTIONS.num }}</p>
    </a>
    {% endfor %}
</div>
<h2 class="text-center text-2xl font-semibold text-terminus-red-800">Shoot us an email</h2>
<div class="flex flex-col gap-2">
    {% for email in tracker_config.EMAILS %}
    <a href="mailto:{{ email.OPTIONS.address }}" class="p-2 bg-gray-300 rounded">
        <h3>{{ email.NAME|title }}</h3>
        <p>{{ email.OPTIONS.address }}</p>
    </a>
    {% endfor %}
</div>
<a hx-get="{% url 'render map' 2 2 2 wialon_sid %}" hx-trigger="load" hx-target="this" hx-swap="outerHTML" hx-indicator=".htmx-indicator"></a>
