<div class="{{ class }}">
    <h2 class="text-lg font-semibold text-terminus-red-800 md:text-xl dark:text-terminus-red-300">Available Coupons</h2>
    {% for coupon in available_list %}
    <div id="{{ coupon.pk }}" class="rounded border p-4 drop-shadow-lg text-center flex flex-col gap-4 dark:bg-gray-600">
        <h3 class="text-xl font-bold tracking-wider">{{ coupon.percent_off }}% off</h3>
        <p>Your subscription for the next {% if coupon.total_months != 1 %}{{ coupon.total_months }}{% endif %} month{{ coupon.total_months|pluralize }}.</p>
        <input class="w-full cursor-pointer rounded border border-terminus-black bg-terminus-red-800 p-2 text-center text-white transition-colors duration-300 ease-in-out hover:bg-terminus-red-400 dark:border-terminus-gray-300" type="button" value="Redeem">
    </div>
    {% empty %}
    <div class="rounded border border-orange-300 bg-orange-50 p-4 text-orange-800 drop-shadow">
        <div class="flex-inline flex items-center gap-2">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 fill-yellow-100">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126ZM12 15.75h.007v.008H12v-.008Z" />
            </svg>
            <p class="text-sm font-semibold md:text-lg">You don't have any available coupons yet.</p>
        </div>
    </div>
    {% endfor %}
    <h2 class="text-lg font-semibold text-terminus-red-800 md:text-xl dark:text-terminus-red-300">Used Coupons</h2>
    {% for coupon in redeemed_list %}
    <div id="{{ coupon.pk }}" class="rounded border p-4 drop-shadow-lg text-center flex flex-col gap-4 dark:bg-gray-600">
        <h3 class="text-xl font-bold tracking-wider">{{ coupon.percent_off }}% off</h3>
        <p>Your subscription for the next {% if coupon.total_months != 1 %}{{ coupon.total_months }}{% endif %} month{{ coupon.total_months|pluralize }}.</p>
        <input class="w-full cursor-pointer rounded border border-terminus-black bg-terminus-red-800 p-2 text-center text-white transition-colors duration-300 ease-in-out hover:bg-terminus-red-400 dark:border-terminus-gray-300" type="button" value="Redeem">
    </div>
    {% empty %}
    <div class="rounded border border-orange-300 bg-orange-50 p-4 text-orange-800 drop-shadow">
        <div class="flex-inline flex items-center gap-2">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 fill-yellow-100">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126ZM12 15.75h.007v.008H12v-.008Z" />
            </svg>
            <p class="text-sm font-semibold md:text-lg">You haven't used any coupons yet.</p>
        </div>
    </div>
    {% endfor %}
</div>
