{{ form.errors }}
<form class="flex flex-col gap-4 rounded border-2 bg-gray-300 p-4" hx-post="{% url 'terminusgps_tracker:create subscription' %}" method="post">
    {% csrf_token %}
    <div class="flex flex-col gap-2">
        <label class="font-semibold" for="{{ form.payment_profile.id_for_label }}">Payment Method</label>
        {{ form.payment_profile }}
    </div>
    <div class="flex flex-col gap-2">
        <label class="font-semibold" for="{{ form.address_profile.id_for_label }}">Shipping Address</label>
        {{ form.address_profile }}
    </div>
    <div class="bg-white dark:bg-gray-600">
        <div class="flex justify-between border-b p-2 first:border-t">
            <p class="italic">Subtotal</p>
            <p>${{ subtotal|floatformat:"2g" }}</p>
        </div>
        <div class="flex justify-between border-b p-2 first:border-t">
            <p class="italic">Tax</p>
            <p>${{ tax|floatformat:"2g" }}</p>
        </div>
        <div class="flex justify-between border-b p-2 first:border-t">
            <p class="font-semibold">Grand total</p>
            <p>${{ grand_total|floatformat:"2g" }}</p>
        </div>
    </div>
    <div class="flex items-center gap-2 select-none">
        {{ form.consent }}
        <label class="text-sm" for="{{ form.consent.id_for_label }}">I authorize Terminus GPS to charge the above credit card for ${{ grand_total }} on the {% now 'jS' %} day (or final day) of each month.</label>
    </div>
    <section id="buttons">
        <button class="w-full cursor-pointer rounded border border-current bg-terminus-red-800 p-2 text-center text-white transition-colors duration-300 ease-in-out hover:bg-terminus-red-400" type="submit">Submit</button>
    </section>
</form>
