<div id="questions" class="{{ class }}">
    <div class="flex flex-col gap-2 text-gray-800">
        <h2 class="indent-0 text-xl font-semibold text-terminus-red-800">How does it work?</h2>
        <p>The device is a cellular modem with a GPS receiver that transmits its geographic location as the vehicle moves around.</p>
        <p>Typically, you will see a renewed location every 5 minutes when the vehicle is driving and every 12 hours if parked.</p>
    </div>
    <div class="flex flex-col gap-2 text-gray-800">
        <h2 class="indent-0 text-xl font-semibold text-terminus-red-800">What is GPS?</h2>
        <p>The <abbr class="cursor-help" title="Global Positioning System">GPS</abbr> is a "constellation" of approximately 30 well-spaced satellites that orbit Earth.</p>
        <p>These satellites make it possible to pinpoint a specific geographic location using a ground receiver.</p>
    </div>
    <div class="flex flex-col gap-2 text-gray-800">
        <h2 class="indent-0 text-xl font-semibold text-terminus-red-800">How reliable is the system?</h2>
        <p>We have a 99% reliability of the platform using multiple servers to keep you up-to-date with immediate location.  At times the unit may lose cellular signal like your cell phone but the memory will hold the plotted information until it reconnects.</p>
        <p>In the meantime, the device will immediately start looking for cell signal.</p>
        <p>Sometimes when a vehicle is driven into a large parking structure that is underground or a metal building with few or no windows, the unit may lose GPS signal.</p>
        <p>The unit will record its last good location and broadcast it with the message of lost signal.</p>
        <p>When the vehicle emerges from the garage it will regain signal and continue as normal.</p>
    </div>
    <div class="flex flex-col gap-2 text-gray-800">
        <h2 class="indent-0 text-xl font-semibold text-terminus-red-800">How much power does it draw on the vehicle?</h2>
    </div>
    <div class="flex flex-col gap-2 text-gray-800">
        <h2 class="indent-0 text-xl font-semibold text-terminus-red-800">Will it tell me the history of where my vehicle has been?</h2>
        <p></p>
    </div>
    <div class="flex flex-col gap-2 text-gray-800">
        <h2 class="indent-0 text-xl font-semibold text-terminus-red-800">Is the reported vehicle mileage on our platform accurate?</h2>
        <p></p>
    </div>
    <div class="flex flex-col gap-2 text-gray-800">
        <h2 class="indent-0 text-xl font-semibold text-terminus-red-800">What is a geofence?</h2>
        <p></p>
    </div>
    <div class="flex flex-col gap-2 text-gray-800">
        <h2 class="indent-0 text-xl font-semibold text-terminus-red-800">When will I be informed that the vehicle has reached a geofence area?</h2>
        <p></p>
    </div>
    <div class="flex flex-col gap-2 text-gray-800">
        <h2 class="indent-0 text-xl font-semibold text-terminus-red-800">Can I install it myself?</h2>
        <p></p>
    </div>
    <div class="flex flex-col gap-2 text-gray-800">
        <h2 class="indent-0 text-xl font-semibold text-terminus-red-800">How much power does it draw on the vehicle?</h2>
        <p></p>
    </div>
</div>
