<div class="mb-4">
    <label class="block mb-2 text-sm font-medium text-red-700 dark:text-red-500">{{ field.label }}</label>
    <input 
        class="bg-red-50 border border-red-500 text-red-900 dark:text-red-400 placeholder-red-700 dark:placeholder-red-500 text-sm rounded-lg focus:ring-red-500 focus:border-red-500 block w-full p-2.5 dark:bg-gray-700 dark:border-red-500"
        id="{{ field.auto_id }}"
        name="{{ field.name }}"
        type="{{ field.widget.input_type }}"
    >
    <ul class="list-disc list-inside">
        <span class="sr-only">{{ field.name|title }} Errors</span>
        {% for error in field.errors %}
        <li class="mt-4 text-sm md:text-md font-serif dark:text-gray-50">{{ error }}</li>
        {% endfor %}
    </ul>
</div>
