{% if not form.is_bound %}
    {% for field in form %}
        <div class="grid grid-cols-2 divide-x-2" id="{{ field.id_for_label }}">
            <label class="mb-4">{{ field.label }}:</label>
            <input class="mb-4 bg-gray-50 border border-gray-300 text-gray-800 text-sm rounded-lg focus:ring-blue-500 block w-full p-2">
        </div>
    {% endfor %}
{% else %}
    {% for field in form %}
        <div class="grid grid-cols-2 divide-x-2" id="{{ field.id_for_label }}">
            <label class="mb-4 text-green-700">{{ field.label }}:</label>
            <input class="mb-4 bg-gray-50 border border-gray-300 text-gray-800 text-sm rounded-lg focus:ring-blue-500 block w-full p-2">
        </div>
    {% endfor %}
{% endif %}
