<div class="mb-4">
    <label
        for="{{ field.id_label_for }}"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
    >{{ field.label }}
    </label>
    <input
        class="mb-2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        id="{{ field.auto_id }}"
        name="{{ field.name }}"
        {% if field.name == "wialon_password_1" or field.name == "wialon_password_2" %}type="password"{% endif %}
        {% if field.name == "file" %}type="file"{% endif %}
        {% if field.name != "wialon_password_1" or field.name != "wialon_password_2" or field.name != "file" %}type="text"{% endif %}
    >
</div>
