<form
    class="group m-4 flex cursor-pointer items-center gap-2 rounded border border-gray-600 bg-gray-300 p-2 drop-shadow-sm transition-colors duration-300 ease-in-out select-none hover:border-terminus-red-300 hover:bg-gray-50"
    action="{% url 'logout' %}"
    method="post"
    hx-boost="true"
    hx-confirm="Are you sure you want to logout?"
    hx-include="this"
    hx-trigger="click"
>
    {% csrf_token %}
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 transition-colors duration-300 ease-in-out group-hover:text-terminus-red-300">
        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0 0 13.5 3h-6a2.25 2.25 0 0 0-2.25 2.25v13.5A2.25 2.25 0 0 0 7.5 21h6a2.25 2.25 0 0 0 2.25-2.25V15m3 0 3-3m0 0-3-3m3 3H9" />
    </svg>
    <h3 class="text-md hidden font-light tracking-wide transition-colors duration-300 ease-in-out group-hover:text-terminus-red-500 md:flex">Logout</h3>
</form>
