<form action="{% url 'tracker login' %}" method="post" class="m-4 dark:text-terminus-white" hx-headers="{'X-CSRFToken': '{{ csrf_token }}'}">
    {% if form.non_field_errors %}
    <ul class="m-4 list-inside list-none rounded bg-red-100 p-4">
        {% for error in form.non_field_errors %}<li class="text-red-700">{{ error }}</li>{% endfor %}
    </ul>
    {% endif %}
    {% csrf_token %}
    {{ form.username }}
    {{ form.password }}
    <input class="block w-full rounded border border-terminus-black bg-terminus-red-800 p-2 text-white hover:cursor-pointer hover:bg-terminus-red-400" value="Login" type="submit">
    <p class="mt-4 text-center text-sm">Don't have an account? <a class="font-semibold text-terminus-red-800 underline decoration-terminus-black decoration-2 underline-offset-4 hover:text-terminus-red-500 hover:decoration-dotted" href="{% url 'tracker signup' %}">Click here</a> to signup.</p>
    <input class="hidden" type="hidden" name="next" value="{{ next }}"></input>
</form>
