<form class="{{ class }}" action="{% url 'register' %}" method="post" hx-boost="true">
    {{ form.non_field_errors }}
    {% csrf_token %}
    <div class="flex w-full flex-col gap-1 p-2">
        {{ form.username.label }}
        {{ form.username }}
        {% if form.username.errors %}
        <div class="mt-2 animate-jiggle rounded border border-red-800 bg-red-100 p-2 text-red-600">{{ form.username.errors }}</div>
        {% endif %}
    </div>
    <div class="flex flex-col md:flex-row">
        <div class="flex w-full flex-col gap-1 p-2">
            {{ form.first_name.label }}
            {{ form.first_name }}
            {% if form.first_name.errors %}
            <div class="mt-2 animate-jiggle rounded border border-red-800 bg-red-100 p-2 text-red-600">{{ form.first_name.errors }}</div>
            {% endif %}
        </div>
        <div class="flex w-full flex-col gap-1 p-2">
            {{ form.last_name.label }}
            {{ form.last_name }}
            {% if form.last_name.errors %}
            <div class="mt-2 animate-jiggle rounded border border-red-800 bg-red-100 p-2 text-red-600">{{ form.last_name.errors }}</div>
            {% endif %}
        </div>
    </div>
    <div class="flex flex-col md:flex-row">
        <div class="flex w-full flex-col gap-1 p-2">
            {{ form.password1.label }}
            {{ form.password1 }}
            {% if form.password1.errors %}
            <div class="mt-2 animate-jiggle rounded border border-red-800 bg-red-100 p-2 text-red-600">{{ form.password1.errors }}</div>
            {% endif %}
        </div>
        <div class="flex w-full flex-col gap-1 p-2">
            {{ form.password2.label }}
            {{ form.password2 }}
            {% if form.password2.errors %}
            <div hx-on:load="console.log(this.getAttribute('class'));" class="mt-2 animate-jiggle rounded border border-red-800 bg-red-100 p-2 text-red-600">{{ form.password2.errors }}</div>
            {% endif %}
        </div>
    </div>
    <div class="mt-4 flex flex-col gap-4">
        <input class="w-full cursor-pointer rounded border border-terminus-black bg-terminus-red-800 p-2 text-white transition-colors duration-300 ease-in-out hover:bg-terminus-red-400" type="submit" value="Register">
        <p class="text-center text-sm dark:text-gray-200">Already have an account? <a class="font-semibold text-terminus-red-800 underline decoration-terminus-black decoration-2 underline-offset-4 hover:text-terminus-red-500 hover:decoration-dotted" href="{% url 'login' %}">Click here</a> to login.</p>
        <input class="hidden" type="hidden" name="next" value="{{ next }}"></input>
    </div>
</form>
