<div id="settings" class="{{ class }}">
    <div class="flex flex-col gap-4 p-4" id="payments" hx-target="this">
        <div class="flex w-full justify-between">
            <div class="flex-inline flex items-center gap-2">
                <h2 class="text-xl font-semibold text-terminus-red-800">Payment Methods</h2>
                <svg id="payments-spinner" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="htmx-indicator size-6 animate-spin">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0 3.181 3.183a8.25 8.25 0 0 0 13.803-3.7M4.031 9.865a8.25 8.25 0 0 1 13.803-3.7l3.181 3.182m0-4.991v4.99" />
                </svg>
            </div>
            <div hx-get="{% url 'list payments' %}" hx-target="#payment-list" hx-trigger="click" hx-swap="innerHTML" class="flex-inline flex cursor-pointer items-center gap-2 rounded border bg-gray-200 p-2 text-gray-800 transition-colors duration-300 ease-in-out select-none hover:bg-gray-50">
                <p>Refresh</p>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0 3.181 3.183a8.25 8.25 0 0 0 13.803-3.7M4.031 9.865a8.25 8.25 0 0 1 13.803-3.7l3.181 3.182m0-4.991v4.99" />
                </svg>
            </div>
        </div>
        <div class="flex flex-col gap-4" id="payment-list" hx-indicator="#payments-spinner" hx-get="{% url 'list payments' %}" hx-target="this" hx-trigger="load"></div>
        <a class="w-full cursor-pointer rounded border border-terminus-black bg-terminus-red-800 p-2 text-center text-white transition-colors duration-300 ease-in-out hover:bg-terminus-red-400" href="{% url 'create payment' %}">Add Payment Method</a>
    </div>
    <div class="flex flex-col gap-4 p-4" id="addresses" hx-target="this">
        <div class="flex w-full justify-between">
            <div class="flex-inline flex items-center gap-2">
                <h2 class="text-xl font-semibold text-terminus-red-800">Shipping Addresses</h2>
                <svg id="addresses-spinner" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="htmx-indicator size-6 animate-spin">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0 3.181 3.183a8.25 8.25 0 0 0 13.803-3.7M4.031 9.865a8.25 8.25 0 0 1 13.803-3.7l3.181 3.182m0-4.991v4.99" />
                </svg>
            </div>
            <div hx-get="{% url 'list addresses' %}" hx-target="#address-list" hx-trigger="click" hx-swap="innerHTML" class="flex-inline flex cursor-pointer items-center gap-2 rounded border bg-gray-200 p-2 text-gray-800 transition-colors duration-300 ease-in-out select-none hover:bg-gray-50">
                <p>Refresh</p>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0 3.181 3.183a8.25 8.25 0 0 0 13.803-3.7M4.031 9.865a8.25 8.25 0 0 1 13.803-3.7l3.181 3.182m0-4.991v4.99" />
                </svg>
            </div>
        </div>
        <div class="flex flex-col gap-4" id="address-list" hx-indicator="#addresses-spinner" hx-get="{% url 'list addresses' %}" hx-target="this" hx-trigger="load"></div>
        <a class="w-full cursor-pointer rounded border border-terminus-black bg-terminus-red-800 p-2 text-center text-white transition-colors duration-300 ease-in-out hover:bg-terminus-red-400" href="{% url 'create address' %}">Add Shipping Address</a>
    </div>
</div>
