<form
    class="{{ class }}"
    action="{% url 'tracker signup' %}"
    method="post"
    hx-boost="true"
>
    {% csrf_token %}
    {{ form.username }}
    <div class="flex gap-2">
        {{ form.first_name }}
        {{ form.last_name }}
    </div>
    <div class="flex gap-2">
        {{ form.password1 }}
        {{ form.password2 }}
    </div>
    <div class="flex flex-col gap-4">
        <input class="block w-full rounded border border-terminus-black bg-terminus-red-800 p-2 text-white hover:cursor-pointer hover:bg-terminus-red-400" type="submit">
        <p class="text-center text-sm dark:text-gray-200">Already have an account? <a class="font-semibold text-terminus-red-800 underline decoration-terminus-black decoration-2 underline-offset-4 hover:text-terminus-red-500 hover:decoration-dotted" href="{% url 'tracker login' %}">Click here</a> to login.</p>
        <input class="hidden" type="hidden" name="next" value="{{ next }}"></input>
    </div>
</form>
