{% if subscription == None %}
    {% with num_payments=customer.payments.count num_addresses=customer.address.count %}
    {% if num_payments == 0 or num_addresses == 0 %}
    <section id="warning" class="flex items-center gap-4 rounded border border-current bg-yellow-50 p-2 text-center text-yellow-700">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-8 fill-yellow-200">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126ZM12 15.75h.007v.008H12v-.008Z" />
        </svg>
        <div class="flex flex-col">
        {% if num_payments == 0 %}<p>You can't subscribe until you add a <a href="{% url 'tracker:payment create' customer.pk %}" hx-boost="true" class="decoration text-terminus-red-800 underline decoration-terminus-black underline-offset-4 hover:text-terminus-red-500 hover:decoration-dotted dark:text-terminus-red-400 dark:decoration-white dark:hover:text-terminus-red-200">payment method</a>.</p>{% endif %}
        {% if num_addresses == 0 %}<p>You can't subscribe until you add a <a href="{% url 'tracker:address create' customer.pk %}" hx-boost="true" class="decoration text-terminus-red-800 underline decoration-terminus-black underline-offset-4 hover:text-terminus-red-500 hover:decoration-dotted dark:text-terminus-red-400 dark:decoration-white dark:hover:text-terminus-red-200">shipping address</a>.</p>{% endif %}
        </div>
    </section>
    {% endif %}
    {% endwith %}
    <section id="subscription" class="flex flex-col gap-4 rounded border-2 border-current bg-gray-100 p-4 text-center dark:bg-gray-800" hx-target="this" hx-indicator="#subscription-spinner">
        <p class="font-semibold">You aren't subscribed yet...</p>
        <input type="button" class="w-full cursor-pointer rounded border border-current bg-terminus-red-800 p-2 text-center text-white transition-colors duration-300 ease-in-out hover:bg-terminus-red-400" hx-get="{% url 'tracker:subscription create' customer.pk %}" value="Subscribe">
    </section>
{% else %}
    <section id="subscription" hx-get="{{ customer.subscription.get_absolute_url }}" hx-target="this" hx-trigger="load" class="flex flex-col gap-4 rounded border-2 border-current bg-gray-100 p-4 dark:bg-gray-800" hx-indicator="#subscription-spinner">
        <div id="subscription-spinner" class="htmx-indicator">
            <div class="flex items-center justify-center gap-2">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 animate-spin">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0 3.181 3.183a8.25 8.25 0 0 0 13.803-3.7M4.031 9.865a8.25 8.25 0 0 1 13.803-3.7l3.181 3.182m0-4.991v4.99" />
                </svg>
                <p>Loading...</p>
            </div>
        </div>
    </section>
{% endif %}
