<a class="font-semibold text-terminus-red-800 underline decoration-terminus-black decoration-2 underline-offset-4 hover:text-terminus-red-500 hover:decoration-dotted" href="{{ support_link }}">Email support</a>
<script type="text/javascript">
  (function(w, d, x, id){
    s=d.createElement('script');
    s.src='https://db08fjupg2abb.cloudfront.net/amazon-connect-chat-interface-client.js';
    s.async=1;
    s.id=id;
    d.getElementsByTagName('head')[0].appendChild(s);
    w[x] =  w[x] || function() { (w[x].ac = w[x].ac || []).push(arguments) };
  })(window, document, 'amazon_connect', '7511b537-c6e4-48ab-b317-a908cbfc1b88');
  amazon_connect('styles', { iconType: 'CHAT_VOICE', openChat: { color: '#ffffff', backgroundColor: '#951316' }, closeChat: { color: '#ffffff', backgroundColor: '#951316'} });
  amazon_connect('snippetId', 'QVFJREFIZ2ZYaENvQWJCb1ZtYmxRNlFMNVJYMlhab3BKY1p0RnRGQ2pJNGhxdnBvemdGZGEwbEJkckFrL214TVBqbE1Sd2dMQUFBQWJqQnNCZ2txaGtpRzl3MEJCd2FnWHpCZEFnRUFNRmdHQ1NxR1NJYjNEUUVIQVRBZUJnbGdoa2dCWlFNRUFTNHdFUVFNU1hlaUxiTndDWlRtQUorWUFnRVFnQ3Q1VzB6azljYnNSUVQwMlV5WGFmZVlHbjBRSGRDTjRXeDFBMFYxMkpvUEpRN1ZKeThiKzFEQk53Q2M6OmxRQ20zdVFNT0JlVkRtRDJwWldsSVV0UEFSRGVHTzBkb0tvdXAwRjB1V1ZZcXZpUG1LWHNVdmtMNktvQ2J4Nk13MkxKdFpTUDYyY2Q3OWx4d0R4UlFyUG5pUWJjVG0reHp3Uyt2RmtScW4rWU5kNXB6eThobHljWkdTcDI1SmtGUllmbm9QeGxBZFN1U2lDVGhnQzZaOFBBcVk1SCt1VT0=');
  amazon_connect('supportedMessagingContentTypes', [ 'text/plain', 'text/markdown', 'application/vnd.amazonaws.connect.message.interactive', 'application/vnd.amazonaws.connect.message.interactive.response' ]);
  amazon_connect('authenticate', function(callback) {
      window.fetch("{% url 'connect token' %}").then(res => {
          res.json().then(data => {
              callback(data.data);
          });
      });
  });
</script>
