{% load tz %}
<div class="relative overflow-x-auto">
    <table class="w-full text-left text-sm text-gray-500 rtl:text-right dark:text-gray-400">
        <thead class="bg-gray-50 text-xs text-gray-700 uppercase dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Payment
                </th>
                <th scope="col" class="px-6 py-3">
                    Attempt
                </th>
                <th scope="col" class="px-6 py-3">
                    Date + Time
                </th>
                <th scope="col" class="px-6 py-3">
                    Message
                </th>
            </tr>
        </thead>
        <tbody>
            {% for t in transaction_list %}
            <tr id="transaction-{{ t.transId }}" class="border-b border-gray-200 bg-white dark:border-gray-700 dark:bg-gray-800">
                <td class="px-6 py-4">
                    {{ t.payNum }}
                </td>
                <td class="px-6 py-4">
                    {{ t.attemptNum }}
                </td>
                <th scope="row" class="px-6 py-4 whitespace-nowrap">
                    {{ t.submitTimeUTC|localtime }}
                </th>
                <td class="px-6 py-4 font-medium whitespace-nowrap text-gray-900 dark:text-white">
                    {{ t.response }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
