{% extends "terminusgps/layout.html" %}
{% block content %}
{% partialdef partial inline %}
<form
    id="create-address-profile-form"
    class="@container flex flex-col gap-4"
    hx-target="this"
    hx-post="{% url 'terminusgps_manager:create address profiles' customerprofile.pk %}"
>
    {% if form.non_field_errors %}
    <div class="p-2 bg-red-200 text-red-700 animate-jiggle border border-current rounded">
        <div class="flex gap-2 items-center">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 text-red-700 fill-red-50 animate-pulse">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m9-.75a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9 3.75h.008v.008H12v-.008Z" />
            </svg>
            {{ form.non_field_errors }}
        </div>
    </div>
    {% endif %}
    {% csrf_token %}
    <div class="flex flex-col gap-4 p-4 bg-stone-200 rounded dark:bg-stone-900">
        <h4 class="text-lg text-terminus-red-700 font-semibold dark:text-terminus-red-200 @md:text-xl">Billing Address</h4>
        <div class="flex flex-col gap-4 @md:justify-between @md:flex-row">
            <div class="flex flex-col gap-2 w-full group">
                {{ form.first_name }}
                <label class="order-first peer-user-invalid:text-red-600 peer-aria-required:font-semibold group-has-[ul]:text-red-600" for="{{ form.first_name.id_for_label }}">{{ form.first_name.label }}</label>
                <p class="text-sm" id="{{ form.first_name.id_for_label }}_helptext">{{ form.first_name.help_text }}</p>
                <div class="text-red-700 animate-jiggle peer-user-valid:text-green-700">{{ form.first_name.errors }}</div>
            </div>
            <div class="flex flex-col gap-2 w-full">
                {{ form.last_name }}
                <label class="order-first peer-user-invalid:text-red-600 peer-aria-required:font-semibold" for="{{ form.last_name.id_for_label }}">{{ form.last_name.label }}</label>
                <p class="text-sm" id="{{ form.last_name.id_for_label }}_helptext">{{ form.last_name.help_text }}</p>
                <div class="text-red-700 animate-jiggle peer-user-valid:text-green-700">{{ form.last_name.errors }}</div>
            </div>
        </div>
        <div class="flex flex-col gap-4 @md:justify-between @md:flex-row">
            <div class="flex flex-col gap-2 w-full">
                {{ form.address }}
                <label class="order-first peer-user-invalid:text-red-600 peer-aria-required:font-semibold" for="{{ form.address.id_for_label }}">Street</label>
                <p class="text-sm" id="{{ form.address.id_for_label }}_helptext">{{ form.address.help_text }}</p>
                <div class="text-red-700 animate-jiggle peer-user-valid:text-green-700">{{ form.address.errors }}</div>
            </div>
        </div>
        <div class="flex flex-col gap-4 @md:justify-between @md:flex-row">
            <div class="flex flex-col gap-2 w-full">
                {{ form.city }}
                <label class="order-first peer-user-invalid:text-red-600 peer-aria-required:font-semibold" for="{{ form.city.id_for_label }}">{{ form.city.label }}</label>
                <p class="text-sm" id="{{ form.city.id_for_label }}_helptext">{{ form.city.help_text }}</p>
                <div class="text-red-700 animate-jiggle peer-user-valid:text-green-700">{{ form.city.errors }}</div>
            </div>
            <div class="flex flex-col gap-2 w-full">
                {{ form.state }}
                <label class="order-first peer-user-invalid:text-red-600 peer-aria-required:font-semibold" for="{{ form.state.id_for_label }}">{{ form.state.label }}</label>
                <p class="text-sm" id="{{ form.state.id_for_label }}_helptext">{{ form.state.help_text }}</p>
                <div class="text-red-700 animate-jiggle peer-user-valid:text-green-700">{{ form.state.errors }}</div>
            </div>
        </div>
        <div class="flex flex-col gap-4 @md:justify-between @md:flex-row">
            <div class="flex flex-col gap-2 w-full">
                {{ form.country }}
                <label class="order-first peer-user-invalid:text-red-600 peer-aria-required:font-semibold" for="{{ form.country.id_for_label }}">{{ form.country.label }}</label>
                <p class="text-sm" id="{{ form.country.id_for_label }}_helptext">{{ form.country.help_text }}</p>
                <div class="text-red-700 animate-jiggle peer-user-valid:text-green-700">{{ form.country.errors }}</div>
            </div>
            <div class="flex flex-col gap-2 w-full">
                {{ form.zip }}
                <label class="order-first peer-user-invalid:text-red-600 peer-aria-required:font-semibold" for="{{ form.zip.id_for_label }}">{{ form.zip.label }}</label>
                <p class="text-sm" id="{{ form.zip.id_for_label }}_helptext">{{ form.zip.help_text }}</p>
                <div class="text-red-700 animate-jiggle peer-user-valid:text-green-700">{{ form.zip.errors }}</div>
            </div>
        </div>
        <div class="flex flex-col gap-4 @md:justify-between @md:flex-row">
            <div class="flex flex-col gap-2 w-full">
                {{ form.phone_number }}
                <label class="order-first peer-user-invalid:text-red-600 peer-aria-required:font-semibold" for="{{ form.phone_number.id_for_label }}">{{ form.phone_number.label }}</label>
                <p class="text-sm" id="{{ form.phone_number.id_for_label }}_helptext">{{ form.phone_number.help_text }}</p>
                <div class="text-red-700 animate-jiggle peer-user-valid:text-green-700">{{ form.phone_number.errors }}</div>
            </div>
            <div class="flex flex-col gap-2 w-full">
                {{ form.company_name }}
                <label class="order-first peer-user-invalid:text-red-600 peer-aria-required:font-semibold" for="{{ form.company_name.id_for_label }}">{{ form.company_name.label }}</label>
                <p class="text-sm" id="{{ form.company_name.id_for_label }}_helptext">{{ form.company_name.help_text }}</p>
                <div class="text-red-700 animate-jiggle peer-user-valid:text-green-700">{{ form.company_name.errors }}</div>
            </div>
        </div>
    </div>
    <div class="flex flex-col gap-2">
        <button
            type="submit"
            class="flex w-full cursor-pointer items-center justify-center gap-2 rounded border border-terminus-red-900 bg-terminus-red-800 p-2 text-center text-white transition-colors duration-300 ease-in-out hover:bg-terminus-red-400"
        >
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5" />
            </svg>
            <p>Submit</p>
        </button>
        <button
            type="button"
            class="flex w-full cursor-pointer items-center gap-2 rounded border border-gray-900 bg-gray-800 p-2 text-white transition-colors duration-300 ease-in-out justify-center hover:bg-gray-400"
            hx-target="#address-profiles"
            hx-trigger="click"
            hx-get="{% url 'terminusgps_manager:list address profiles' customerprofile.pk %}"
        >
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
            </svg>
            <p>Back</p>
        </button>
    </div>
</form>
{% endpartialdef partial %}
{% endblock content %}
