{% extends "terminusgps/layout.html" %}
{% block content %}
{% partialdef partial inline %}
{% for aprofile in object_list %}
<div class="p-4 border rounded" id="address-profile-{{ aprofile.pk }}">{{ aprofile }}</div>
{% empty %}
<p>You don't have any address profiles yet.</p>
{% endfor %}
<button
    type="button"
    class="flex w-full cursor-pointer items-center gap-2 rounded border border-terminus-red-900 bg-terminus-red-800 p-2 text-white transition-colors duration-300 ease-in-out hover:bg-terminus-red-400"
    hx-target="#address-profiles"
    hx-trigger="click"
    hx-get="{% url 'terminusgps_manager:create address profiles' customerprofile.pk %}"
>
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
    </svg>
    <p>Add Address Profile</p>
</button>
{% endpartialdef partial %}
{% endblock content %}
