<div style="font-family: 'Times New Roman', Times, serif; align-items: center; text-align: center; justify-content: center; padding: 12px; width: 100%; max-width: 600px;">
    <div style="background-color:black; padding-bottom: .8em;">
        <h1 style= "color: red;">TERMINUS GPS, LLC.</h1>
    </div>
    <div>
        <h2><i>Your new credentials:</i></h2>
    </div>
    <div style="display: flex; align-items: center; justify-content: center; margin-top: .25em; margin-bottom: .25em;">
        <table>
            <tr>
                <td style="padding: .8em; text-align: center;"><strong>Username</strong></td>
                <td style="padding: .8em; text-align: center;"><strong>Password</strong></td>
            </tr>
            <tr>
                <td id="username" style="border: 2px solid black; padding: .8em; text-align: center;">{{ username }}</td>
                <td id="password" style="border: 2px solid black; padding: .8em; text-align: center;">{{ password }}</td>
            </tr>
        </table>
    </div>
    <div style="justify-content: center; text-align: center;">
        <p style="text-align: center; background-color: red; color: white; border: 4 solid black; border-radius: 6px; padding: .8em;">Please change your password as soon as possible.</p>
    </div>
    <hr class="solid">
    <h2><i>Login with your credentials here:</i></h2>
    <div style="display: flex; align-items: center; justify-content: center;">
        <div style="margin: .5em; padding: .8em; text-align: center; justify-content: center; border: 2px black solid; border-radius: 12px; color: white; background-color: red; max-width: 200px;">
            <a id="login_link" href="https://hosting.terminusgps.com/">Login</a>
        </div>
        <div style="margin: .5em; padding: .8em; text-align: center; justify-content: center; border: 2px black solid; border-radius: 12px; color: white; background-color: red; max-width: 200px;">
            <a href="https://www.terminusgps.com/app-support?mc_cid=55c9b4f210">Login Tutorial</a>
        </div>
    </div>
</div>
