<div style="display: flex; flex-direction: column; padding: 1rem; background-color: oklch(0.129 0.042 264.695); color: #fff; border-radius: 0.25rem;">
    <h2 style="text-align: center; font-size: 1.875rem; line-height: 2.25rem; letter-spacing: 0.05em; color: oklch(46.16% 0.1749 26.64);">Terminus GPS, LLC</h2>
</div>
<div style="display: flex; flex-direction: column; gap: 0.5rem; align-items: center;">
    <div style="padding: 1rem; font-family: ui-sans-serif, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';">
        <h2>Thanks for signing up for the <a style="text-decoration: underline;" href="https://app.terminusgps.com/about/">Terminus GPS Tracker application</a>!</h2>
        <h3>On {{ now|date:'l, F jS' }} at {{ now|time:'P' }} you created an account using '{{ email }}'.</h3>
    </div>
</div>
<div style="display: flex; flex-direction: column; gap: 0.5rem; align-items: center;">
    <a style="width: 40%; display: block; text-align: center; padding: 0.5rem; background-color: oklch(46.16% 0.1749 26.64); color: #fff; border-radius: 0.25rem; border-width: 1px; border-color: oklch(43.02% 0.163 26.83);" href="https://app.terminusgps.com/login/">Login</a>
    <a style="width: 40%; display: block; text-align: center; padding: 0.5rem; background-color: oklch(46.16% 0.1749 26.64); color: #fff; border-radius: 0.25rem; border-width: 1px; border-color: oklch(43.02% 0.163 26.83);" href="https://www.youtube.com/playlist?list=PLY2DuqkfvdzWDzoyMQ5eCPNoZCtXQemkn">Video Tutorials</a>
</div>
