{% extends "terminusgps/layout.html" %}
{% block title %}Password Reset{% endblock title %}
<form class="@container flex flex-col gap-4" action="{% url 'password_reset' %}" method="post">
    {% csrf_token %}
    {{ form }}
    <div class="min-w-0 flex flex-col gap-4">
        <button class="w-full px-4 py-2 border border-current cursor-pointer rounded text-gray-100 bg-terminus-red-800 hover:bg-terminus-red-400 ease-in-out duration-300 transition-colors" type="submit">Send Reset Email</button>
    </div>
</form>
{% block content %}
{% endblock content %}
