<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title }}</title>
        {% load static %}
        <link href="{% static 'ecom/main.css' %}" rel="stylesheet">
    </head>
    <body>
        <main>
            {% include "ecom/navbar.html" %}
            {% block content %}
            {% endblock content %}
            {% include "ecom/footer.html" %}
        </main>
    </body>
</html>
