<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title }}</title>
        {% load static %}
        <link href="{% static 'css/main.css' %}" rel="stylesheet">
    </head>
    <body>
        {% include "ecom/navbar.html" %}
        <main>
            {% block content %}
            {% endblock content %}
        </main>
        {% include "ecom/footer.html" %}
    </body>
</html>
