{% load static %}
<!doctype html>
<html lang="en-US">
    <head>
        <meta charset="utf-8"/>
        <link rel="preload" href="{% static 'terminusgps/css/output.css' %}" as="style" type="text/css"/>
        <link rel="preload" href="{% static 'terminusgps/icon/logo-waypoint.svg' %}" as="image"/>
        <link rel="preload" href="{% static 'terminusgps/icon/logo-text.svg' %}" as="image"/>
        <link rel="stylesheet" href="{% static 'terminusgps/css/output.css' %}"/>
        <title>{{ subject }}</title>
    </head>
    <body>
        <main class="border-2 rounded text-center bg-stone-100 border-stone-500">
            {% include "terminusgps/emails/header.html" %}
            <div class="p-8 flex flex-col gap-4 items-center shadow-inner">
                {% block content %}{% endblock content %}
            </div>
            {% include "terminusgps/emails/footer.html" %}
        </main>
    </body>
</html>
