{% extends "terminusgps/emails/layout.html" %}
{% block content %}
<h3 class="text-xl font-semibold">Hey {{ first_name }}!</h3>
<div class="flex flex-col items-center gap-2 text-pretty">
    <p>Thanks for subscribing on {{ date }}.</p>
    <p>You now have full access to the Terminus GPS platform!</p>
    <p>Please don't hesitate to reach out to our support team with further questions.</p>
    <p>See you on the platform,</p>
    {% include "terminusgps/emails/signature.html" %}
</div>
{% endblock content %}
