{% if field.use_fieldset %}
  <fieldset{% if field.help_text and field.auto_id and "aria-describedby" not in field.field.widget.attrs %} aria-describedby="{{ field.auto_id }}_helptext"{% endif %}>
  {% if field.label %}{% include "terminusgps_tracker/forms/partials/_legend.html" with label=field.label only %}{% endif %}
{% else %}
    {% if field.label %}{% include "terminusgps_tracker/forms/partials/_label.html" with label=field.label only %}{% endif %}
{% endif %}
{% if field.help_text %}<div class="helptext"{% if field.auto_id %} id="{{ field.auto_id }}_helptext"{% endif %}>{{ field.help_text|safe }}</div>{% endif %}
{{ field }}{% if field.use_fieldset %}</fieldset>{% endif %}
