{% if errors and not fields %}
  <div class="hidden">{% for field in hidden_fields %}{{ field }}{% endfor %}</div>
{% endif %}
{% for field, errors in fields %}
<div class="mb-4">
    {{ field.as_field_group }}
    {% if errors %}
    <ul class="mb-4 mt-2 list-disc list-inside">
        {% for error in errors %}
        <li class="text-terminus-red-500 dark:text-terminus-red-200">{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% if forloop.last %}
      {% for field in hidden_fields %}{{ field }}{% endfor %}
    {% endif %}
</div>
{% endfor %}
{% if not fields and not errors %}
  {% for field in hidden_fields %}{{ field }}{% endfor %}
{% endif %}
