{% extends "terminusgps_tracker/layout.html" %}
{% load static %}
{% block content %}
<form action="{% url 'create asset' %}" method="post" class="m-4 dark:text-terminus-white" hx-headers="{'X-CSRFToken': '{{ csrf_token }}'}">
    {{ form.non_field_errors }}
    {% csrf_token %}
    {% if form.errors %}
    <ul class="bg-red-100 p-8">
        {% for field in form %}
        {% for error in field.errors %}<li class="text-red-800">{{ error }}</li>{% endfor %}
        {% endfor %}
    </ul>
    {% endif %}
    {{ form.asset_name }}
    {{ form.imei_number }}
    {{ form.phone_number }}
    <div class="mt-4 flex flex-grow justify-evenly gap-2">
        <a href="{% url 'tracker profile' %}" class="grow rounded-md border border-solid border-gray-600 bg-gray-200 px-4 py-2 text-center text-gray-700 hover:bg-gray-50 dark:border-gray-300 dark:bg-gray-700 dark:text-white dark:hover:bg-gray-400">
            Back
        </a>
        <button class="grow rounded-md border border-solid border-gray-600 bg-terminus-red-500 px-4 py-2 text-center text-gray-50 hover:bg-terminus-red-300 dark:border-gray-300" type="submit">
            Upload
        </button>
    </div>
</form>
{% endblock content %}
