{% extends "terminusgps_tracker/layout.html" %}
{% load static %}
{% block content %}
<form action="{% url 'create payment' %}" method="post" class="m-4 dark:text-terminus-white" hx-headers="{'X-CSRFToken': '{{ csrf_token }}'}">
    {{ form.non_field_errors }}
    {% csrf_token %}
    <div class="mb-8 grid grid-rows-1 gap-8 md:grid-cols-2">
        <div class="flex flex-col gap-4">
            <h2 class="text-lg">Credit Card</h2>
            <p class="text-sm"><em>NOTE:</em> Your selected payment method will be charged every month starting the day you select a subscription.</p>
        </div>
        <div class="flex flex-col gap-4">
            {{ form.credit_card_number }}
            <div class="flex gap-2">
                {{ form.credit_card_expiry_month }}
                {{ form.credit_card_expiry_year }}
            </div>
            {{ form.credit_card_ccv }}
        </div>
    </div>
    <div class="mb-8 grid grid-rows-1 gap-8 md:grid-cols-2">
        <div class="flex flex-col gap-4">
            <h2 class="text-lg">Billing Address</h2>
        </div>
        <div class="flex flex-col gap-4">
            <div class="flex gap-2">
                {{ form.address_first_name }}
                {{ form.address_last_name }}
            </div>
            {{ form.address_street }}
            {{ form.address_city }}
            <div class="flex gap-2">
                {{ form.address_state }}
                {{ form.address_country }}
            </div>
            <div class="flex gap-2">
                {{ form.address_zip }}
                {{ form.address_phone }}
            </div>
        </div>
    </div>
    <div class="mb-8 grid grid-rows-1 gap-8 md:grid-cols-2">
        <div class="flex flex-col gap-4">
            <h2 class="text-lg">Set as default?</h2>
        </div>
        <div class="flex-inline block w-full bg-white p-8">
            {{ form.is_default }}
        </div>
    </div>
    <div class="mb-8 grid grid-rows-1 gap-8 md:grid-cols-2">
        <div class="flex flex-col gap-4">
            <h2 class="text-lg">I authorize <a href="{% url 'tracker privacy' %}" class="font-semibold hover:underline">{{ legal_name|default:'Terminus GPS, LLC.' }}</a> to charge this card according to my selected subscription</h2>
        </div>
        <div class="flex-inline block w-full bg-white p-8">
            {{ form.is_consenting }}
        </div>
    </div>
    <div class="mt-4 flex flex-grow justify-evenly gap-2">
        <a href="{% url 'profile settings' %}" class="grow rounded-md border border-solid border-gray-600 bg-gray-200 px-4 py-2 text-center text-gray-700 hover:bg-gray-50 dark:border-gray-300 dark:bg-gray-700 dark:text-white dark:hover:bg-gray-400">
            Back
        </a>
        <button class="grow rounded-md border border-solid border-gray-600 bg-terminus-red-500 px-4 py-2 text-center text-gray-50 hover:bg-terminus-red-300 dark:border-gray-300" type="submit">
            Upload
        </button>
    </div>
</form>
{% endblock content %}
