{% extends "terminusgps_tracker/layout.html" %}
{% load static %}
{% block content %}
<form action="{% url 'profile create payment' %}" method="post" class="m-4 dark:text-terminus-white" hx-headers="{'X-CSRFToken': '{{ csrf_token }}'}">
    {% csrf_token %}
    <div class="grid grid-cols-2 gap-8 mb-8">
        <div class="flex flex-col gap-4">
            <h2 class="text-lg">Credit Card</h2>
            <p class="text-sm"><em>NOTE:</em> Your selected payment method will be charged at the first of every month according to your selected subscription.<br><br>If you do not have a subscription yet, you will be charged after selection.</p>
        </div>
        <div class="flex flex-col gap-4">
            {{ form.credit_card_number }}
            <div class="flex gap-2">
                {{ form.credit_card_expiry_month }}
                {{ form.credit_card_expiry_year }}
            </div>
            {{ form.credit_card_ccv }}
        </div>
    </div>
    <div class="grid grid-cols-2 gap-8 mb-8">
        <div class="flex flex-col gap-4">
            <h2 class="text-lg">Billing Address</h2>
        </div>
        <div class="flex flex-col gap-4">
            {{ form.address_street }}
            {{ form.address_city }}
            <div class="flex gap-2">
                {{ form.address_state }}
                {{ form.address_country }}
            </div>
            <div class="flex gap-2">
                {{ form.address_zip }}
                {{ form.address_phone }}
            </div>
        </div>
    </div>
    <div class="flex justify-evenly gap-2">
        <a href="{% url 'tracker profile' %}" class="text-center grow rounded-md border border-solid border-gray-600 bg-terminus-gray-600 hover:bg-terminus-gray-300 hover:cursor-pointer px-4 py-2 text-gray-50 hover:from-terminus-red-300 hover:via-terminus-red-300 hover:to-terminus-red-400" type="submit">
            Cancel
        </a>
        <button class="grow rounded-md border border-solid border-gray-600 bg-gradient-to-l from-terminus-red-700 via-terminus-red-600 to-terminus-red-700 px-4 py-2 text-gray-50 hover:from-terminus-red-300 hover:via-terminus-red-300 hover:to-terminus-red-400" type="submit">
            Create
        </button>
    </div>
</form>
{% endblock content %}
