{% extends "terminusgps_tracker/layout.html" %}
{% load static terminusgps_tracker_display %}
{% block content %}
<form action="{% url 'default payment' payment_id %}" method="post" class="m-4 dark:text-terminus-white" hx-headers="{'X-CSRFToken': '{{ csrf_token }}'}">
    {% csrf_token %}
    {{ form.payment_id }}
    <div class="border-xl container mx-auto rounded-md border border-gray-600 bg-white p-4 drop-shadow-md dark:border-gray-300 dark:bg-gray-500">
        <div class="flex flex-col space-y-4 md:flex-row md:justify-between md:space-y-0 dark:text-white">
            <div class="flex flex-col gap-2">
                <div class="flex-inline flex items-center gap-2">
                    {{ payment_profile.payment.creditCard.cardType|credit_card_icon }}
                    <h2 class="text-md flex-inline font-semibold tracking-widest text-gray-800 dark:text-gray-100">&#8226; &#8226; &#8226; &#8226; {{ payment_profile.payment.creditCard.cardNumber|cut:"XXXX" }}</h2>
                </div>
                <div class="grid grid-rows-2 text-sm">
                    <p class="text-gray-800 dark:text-gray-100">{{ payment_profile.billTo.address }}</p>
                    <p class="text-gray-700 dark:text-gray-200">{{ payment_profile.billTo.city }}, {{ payment_profile.billTo.state }}, {{ payment_profile.billTo.zip }}</p>
                </div>
            </div>
            <h2 class="text-gray-800 dark:text-gray-100">{{ payment_profile.billTo.firstName }} {{ payment_profile.billTo.lastName }}</h2>
        </div>
    </div>
    <div class="mt-4 flex flex-grow justify-evenly gap-2">
        <a href="{% url 'payments' %}" class="grow rounded-md border border-solid border-gray-600 bg-gray-200 px-4 py-2 text-center text-gray-700 hover:bg-gray-50 dark:border-gray-300 dark:bg-gray-700 dark:text-white dark:hover:bg-gray-400">
            Back
        </a>
        <button class="grow rounded-md border border-solid border-gray-600 bg-terminus-red-500 px-4 py-2 text-center text-gray-50 hover:bg-terminus-red-300 dark:border-gray-300" type="submit">
            Confirm
        </button>
    </div>
</form>
{% endblock content %}
