{% extends "terminusgps_tracker/layout.html" %}
{% load static %}
{% block content %}
<form action="{% url 'profile modify notification' notification.pk %}" method="post" class="m-4 dark:text-terminus-white" hx-headers="{'X-CSRFToken': '{{ csrf_token }}'}">
    {% csrf_token %}
    {{ form }}
    <div class="flex justify-evenly gap-2">
        <a href="{% url 'tracker profile' %}" class="text-center grow rounded-md border border-solid border-gray-600 bg-terminus-gray-600 hover:bg-terminus-gray-300 hover:cursor-pointer px-4 py-2 text-gray-50 hover:from-terminus-red-300 hover:via-terminus-red-300 hover:to-terminus-red-400" type="submit">
            Back
        </a>
        <button class="grow rounded-md border border-solid border-gray-600 bg-gradient-to-l from-terminus-red-700 via-terminus-red-600 to-terminus-red-700 px-4 py-2 text-gray-50 hover:from-terminus-red-300 hover:via-terminus-red-300 hover:to-terminus-red-400" type="submit">
            Submit
        </button>
    </div>
</form>
{% endblock content %}
