{% extends "terminusgps_tracker/layout.html" %}
{% load static %}
{% block content %}
<form class="flex flex-col gap-2" method="post" action="{% url 'asset create' %}">
    {% csrf_token %}
    {{ form.name }}
    {{ form.imei_number }}
    <div class="flex gap-2">
        <input hx-trigger="click" hx-get="{% url 'tracker profile' %}" value="Back" class="w-full rounded border-gray-600 bg-gray-200 p-2 hover:cursor-pointer hover:bg-gray-400" type="button">
        <input class="w-full rounded bg-terminus-red-800 p-2 text-gray-200 hover:cursor-pointer hover:bg-terminus-red-400"  type="submit">
    </div>
</form>
{% endblock content %}
