{% extends "terminusgps/layout.html" %}
{% block content %}
{% partialdef partial inline %}
<form class="@container flex flex-col gap-4" hx-post="{% url 'terminusgps_manager:create subscriptions' %}">
    {% if form.non_field_errors %}
    <div class="p-2 bg-red-200 text-red-700 animate-jiggle border border-current rounded">
        <div class="flex gap-2 items-center">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 text-red-700 fill-red-50 animate-pulse">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m9-.75a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9 3.75h.008v.008H12v-.008Z" />
            </svg>
            {{ form.non_field_errors }}
        </div>
    </div>
    {% endif %}
    {% csrf_token %}
    <div class="flex flex-col gap-4 p-4 bg-stone-200 rounded dark:bg-stone-900">
        <div class="flex flex-col gap-4 @md:justify-between @md:flex-row">
            <div class="flex flex-col gap-2 w-full group">
                {{ form.payment_profile }}
                <label class="order-first peer-user-invalid:text-red-600 peer-aria-required:font-semibold group-has-[ul]:text-red-600 peer-user-valid:text-green-800" for="{{ form.payment_profile.id_for_label }}">{{ form.payment_profile.label }}</label>
                <p class="text-sm peer-user-invalid:text-red-800 group-has-[ul]:text-red-800" id="{{ form.payment_profile.id_for_label }}_helptext">{{ form.payment_profile.help_text }}</p>
                {{ form.payment_profile.errors }}
            </div>
        </div>
        <div class="flex flex-col gap-4 @md:justify-between @md:flex-row">
            <div class="flex flex-col gap-2 w-full">
                {{ form.address_profile }}
                <label class="order-first peer-user-invalid:text-red-600 peer-aria-required:font-semibold group-has-[ul]:text-red-600 peer-user-valid:text-green-800" for="{{ form.address_profile.id_for_label }}">{{ form.address_profile.label }}</label>
                <p class="text-sm peer-user-invalid:text-red-800" id="{{ form.address_profile.id_for_label }}_helptext">{{ form.address_profile.help_text }}</p>
                {{ form.address_profile.errors }}
            </div>
        </div>
    </div>
    <div class="flex flex-col gap-4 p-4 bg-stone-200 rounded dark:bg-stone-900">
        <div class="flex flex-col gap-4 p-4">
            <h4 class="font-semibold">Pricing</h4>
            <div class="flex flex-col gap-4">
                <div class="flex justify-between border-b p-2">
                    <p>Subtotal:</p>
                    <p class="font-semibold">${{ customer.sub_total }}</p>
                </div>
                <div class="flex justify-between border-b p-2">
                    <p>Tax:</p>
                    <p class="font-semibold">${{ customer.tax_total }}</p>
                </div>
                <div class="flex justify-between border-b p-2">
                    <p>Grand total:</p>
                    <p class="font-semibold">${{ customer.grand_total }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="flex items-center gap-2">
        {{ form.consent }}
        <label class="peer-user-invalid:text-red-600 peer-aria-required:font-semibold text-sm @md:text-md" for="{{ form.consent.id_for_label }}">By checking this box, you consent to being charged <span class="font-semibold">${{ customer.grand_total|floatformat:'2g' }}</span> now and every <span class="font-semibold">{% now 'jS' %}</span> (or last) day of the month hereafter.</label>
        <p class="text-sm peer-user-invalid:text-red-800" id="{{ form.consent.id_for_label }}_helptext">{{ form.consent.help_text }}</p>
        {{ form.consent.errors }}
    </div>
    <button
        type="submit"
        class="flex w-full cursor-pointer items-center justify-center gap-2 rounded border border-terminus-red-900 bg-terminus-red-800 p-2 text-center text-white transition-colors duration-300 ease-in-out hover:bg-terminus-red-400"
    >
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5" />
        </svg>
        <p>Subscribe</p>
    </button>
</form>
{% endpartialdef partial %}
{% endblock content %}
