<form class="flex flex-col gap-4" action="{% url 'register' %}" method="post">
    {% csrf_token %}
    {% if form.errors %}{{ form.errors }}{% endif %}
    <div class="flex gap-2">
        <div class="flex flex-col gap-2 group w-full">
            {{ form.first_name.as_field_group }}
        </div>
        <div class="flex flex-col gap-2 group w-full">
            {{ form.last_name.as_field_group }}
        </div>
    </div>
    <div class="flex flex-col gap-2 group">
        {{ form.company_name.as_field_group }}
    </div>
    <div class="flex flex-col gap-2 group">
        {{ form.username.as_field_group }}
    </div>
    <div class="flex flex-col gap-2 group">
        {{ form.password1.as_field_group }}
    </div>
    <div class="flex flex-col gap-2 group">
        {{ form.password2.as_field_group }}
    </div>
    <button class="w-full rounded border border-current bg-terminus-red-800 p-2 text-center text-white transition-colors duration-300 ease-in-out hover:bg-terminus-red-400" type="submit">Login</button>
    <div class="flex justify-between gap-2">
        <p class="text-sm">Already have an account? Click <a href="{% url 'login' %}" class="decoration w-fit text-terminus-red-800 underline decoration-terminus-black underline-offset-4 hover:text-terminus-red-500 hover:decoration-dotted dark:text-terminus-red-400 dark:decoration-white dark:hover:text-terminus-red-200">here</a> to login.</p>
    </div>
</form>
