<div id="command-{{ command.id }}" class="pointer-events-auto relative flex min-h-full flex-col items-center justify-between gap-4 rounded border bg-gray-200 p-4 md:flex-row dark:bg-gray-800">
    <div id="command-{{ command.pk }}-indicator" class="htmx-indicator group pointer-events-none absolute inset-0">
        <div class="relative hidden h-full flex-col items-center justify-between gap-4 rounded bg-gray-200 px-4 py-8 group-[.htmx-request]:flex md:flex-row dark:bg-gray-800">
            <div class="flex gap-2">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 animate-spin">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0 3.181 3.183a8.25 8.25 0 0 0 13.803-3.7M4.031 9.865a8.25 8.25 0 0 1 13.803-3.7l3.181 3.182m0-4.991v4.99" />
                </svg>
                <p class="font-semibold">Executing '{{ command.name }}'...</p>
            </div>
        </div>
    </div>
    <div class="mx-4 text-center font-semibold">
        <h2 class="select-all">{{ command.name }}</h2>
        <h3 class="font-normal tracking-wide text-gray-400">(<span class="select-all">{{ command.asset.name }}</span>)</h3>
    </div>
    <div hx-get="{{ command.get_execute_url }}" hx-target="this" hx-trigger="load" hx-swap="outerHTML"></div>
</div>
