<div id="command-list-{{ asset.pk }}" class="{{ class }}">
{% for cmd in page_obj %}<div id="command-{{ cmd.id }}" hx-get="{{ cmd.get_absolute_url }}" hx-trigger="load" hx-target="this"></div>{% endfor %}
    <div id="pagination" class="flex items-center justify-between" hx-target="#command-list-{{ asset.pk }}">
        <div class="flex gap-4">
        {% if page_obj.has_previous %}
            <svg id="first" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-8 cursor-pointer text-terminus-red-400 dark:text-terminus-red-800" hx-get="{% url 'installer:command list' asset_pk=asset.pk %}?page=1">
                <path stroke-linecap="round" stroke-linejoin="round" d="m18.75 4.5-7.5 7.5 7.5 7.5m-6-15L5.25 12l7.5 7.5" />
            </svg>
            <svg id="prev" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-8 cursor-pointer text-terminus-red-400 dark:text-terminus-red-800" hx-get="{% url 'installer:command list' asset_pk=asset.pk %}?page={{ page_obj.previous_page_number }}">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
            </svg>
        {% else %}
            <svg id="first" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-8 cursor-not-allowed text-gray-400 dark:text-gray-800">
                <path stroke-linecap="round" stroke-linejoin="round" d="m18.75 4.5-7.5 7.5 7.5 7.5m-6-15L5.25 12l7.5 7.5" />
            </svg>
            <svg id="prev" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-8 cursor-not-allowed text-gray-400 dark:text-gray-800">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
            </svg>
        {% endif %}
        </div>
        <span id="page-number">{{ page_obj.number }}/{{ page_obj.paginator.num_pages }}</span>
        <div class="flex gap-4">
        {% if page_obj.has_next %}
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-8 cursor-pointer text-terminus-red-400 dark:text-terminus-red-800" hx-get="{% url 'installer:command list' asset_pk=asset.pk %}?page={{ page_obj.next_page_number }}">
                <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-8 cursor-pointer text-terminus-red-400 dark:text-terminus-red-800" hx-get="{% url 'installer:command list' asset_pk=asset.pk %}?page={{ page_obj.paginator.num_pages }}">
                <path stroke-linecap="round" stroke-linejoin="round" d="m5.25 4.5 7.5 7.5-7.5 7.5m6-15 7.5 7.5-7.5 7.5" />
            </svg>
        {% else %}
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-8 cursor-not-allowed text-gray-400 dark:text-gray-800">
                <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-8 cursor-not-allowed text-gray-400 dark:text-gray-800">
                <path stroke-linecap="round" stroke-linejoin="round" d="m5.25 4.5 7.5 7.5-7.5 7.5m6-15 7.5 7.5-7.5 7.5" />
            </svg>
        {% endif %}
        </div>
    </div>
</div>
