{% extends "terminusgps/layout.html" %}
{% block title %}In-Progress Jobs{% endblock title %}
{% partialdef main %}
<article class="@container p-8 flex flex-col gap-8">
    <section class="flex flex-col gap-2">
        <p class="text-3xl text-gray-800 dark:text-gray-100">In-Progress Jobs</p>
        <p class="text-lg text-gray-700 dark:text-gray-200">Click 'View' to view job details.</p>
    </section>
    <section class="overflow-x-auto min-w-0">
        {% if jobs_list|length == 0 %}
        <p>You're all caught up!</p>
        {% else %}
        <table class="border border-collapse border-gray-800 w-full">
            <thead class="bg-gray-100">
                <tr>
                    <th class="px-2 py-4 border border-gray-700">Job #</th>
                    <th class="px-2 py-4 border border-gray-700">Status</th>
                    <th class="px-2 py-4 border border-gray-700">Date Created</th>
                    <th class="px-2 py-4 border border-gray-700">Date Last Modified</th>
                    <th class="px-2 py-4 border border-gray-700">Details</th>
                </tr>
            </thead>
            <tbody>
                {% for job in jobs_list %}
                <tr class="bg-gray-200 even:bg-gray-300">
                    <td class="p-2 border border-gray-700">{{ job.pk }}</td>
                    <td class="p-2 border border-gray-700">{{ job.status }}</td>
                    <td class="p-2 border border-gray-700">{{ job.crt_date|date:'m-d-Y g:i a' }}</td>
                    <td class="p-2 border border-gray-700">{{ job.mod_date|date:'m-d-Y g:i a' }}</td>
                    <td class="p-2 border border-gray-700">
                        <a class="w-fit decoration text-terminus-red-200 underline decoration-terminus-black underline-offset-4 hover:text-terminus-red-100 hover:decoration-dotted dark:decoration-white" href="{{ job.get_absolute_url }}" hx-boost="true">View</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </section>
</article>
{% endpartialdef main %}
{% block content %}
{% partial main %}
{% endblock content %}
