{% extends "terminusgps/layout.html" %}
{% block title %}Update Job #{{ job.pk }}{% endblock title %}
{% partialdef main %}
<article class="@container p-8 flex flex-col gap-8">
    <section class="flex flex-col gap-2">
        <p class="text-3xl text-gray-800 dark:text-gray-100">Update Job #{{ job.pk }}</p>
        <p class="text-lg text-gray-700 dark:text-gray-200">TODO: Write this subtitle.</p>
    </section>
    {% if unit %}
    <form class="@container flex flex-col gap-8 bg-stone-300 border border-stone-600 rounded p-8">
        <div>
            <p class="text-gray-800 select-all font-semibold">{{ unit.nm }}</p>
            <div class="">{{ form.imei }}</div>
            <div class="">{{ form.vin }}</div>
        </div>
        <div class="">{{ form.license_plate }}</div>
        <div class="">{{ form.mileage }}</div>
        <div class="">{{ form.vehicle_id }}</div>
        <button type="submit">Save</button>
    </form>
    {% else %}
    <p>There isn't a unit associated with IMEI #{{ job.imei }}...</p>
    {% endif %}
</article>
{% endpartialdef main %}
{% block content %}
{% partial main %}
{% endblock content %}
