{% extends "terminusgps/layout.html" %}
{% block title %}New Install Job{% endblock title %}
{% partialdef main %}
<article class="@container p-8 flex flex-col gap-8">
    <section class="flex flex-col gap-2">
        <p class="text-3xl text-gray-800 dark:text-gray-100">New Install Job</p>
        <p class="text-lg text-gray-700 dark:text-gray-200">Fill out the form then click submit.</p>
    </section>
    <form class="@container flex flex-col gap-4" method="post" action="{% url 'installer:new job form' %}">
        {% csrf_token %}
        <div class="grid grid-cols-1 @md:grid-cols-2 gap-8">
            <div id="id_{{ form.employee.id_for_label }}_container" class="flex flex-col gap-2 min-w-0">
                <div class="*:peer *:p-2 *:border *:bg-stone-50 *:rounded *:w-full *:dark:bg-gray-400">{{ form.employee }}</div>
                <label for="{{ form.employee.id_for_label }}" class="order-first font-semibold">{{ form.employee.label }}<span class="text-terminus-red-700">*</span></label>
                <div id="id_{{ form.employee.id_for_label }}_helptext">
                    <p>{{ form.employee.help_text }}</p>
                </div>
                {% if form.employee.errors %}
                <div id="id_{{ form.employee.id_for_label }}_errors">
                    {{ form.employee.errors }}
                </div>
                {% endif %}
            </div>
            <div id="id_{{ form.resource.id_for_label }}_container" class="flex flex-col gap-2 min-w-0">
                <div class="*:peer *:p-2 *:border *:bg-stone-50 *:rounded *:w-full *:dark:bg-gray-400">{{ form.resource }}</div>
                <label for="{{ form.resource.id_for_label }}" class="order-first font-semibold">Company<span class="text-terminus-red-700">*</span></label>
                <div id="id_{{ form.resource.id_for_label }}_helptext">
                    <p>{{ form.resource.help_text }}</p>
                </div>
                {% if form.resource.errors %}
                <div id="id_{{ form.resource.id_for_label }}_errors">
                    {{ form.resource.errors }}
                </div>
                {% endif %}
            </div>
            <div id="id_{{ form.imei.id_for_label }}_container" class="flex flex-col gap-2 min-w-0">
                <div class="*:peer *:p-2 *:border *:bg-stone-50 *:rounded *:w-full *:dark:bg-gray-400">{{ form.imei }}</div>
                <label for="{{ form.imei.id_for_label }}" class="order-first font-semibold peer-user-invalid:text-red-700">IMEI Number<span class="text-terminus-red-700">*</span></label>
                <div id="id_{{ form.imei.id_for_label }}_helptext">
                    <p>{{ form.imei.help_text }}</p>
                </div>
                {% if form.imei.errors %}
                <div id="id_{{ form.imei.id_for_label }}_errors">
                    {{ form.imei.errors }}
                </div>
                {% endif %}
            </div>
            <div id="id_{{ form.vin.id_for_label }}_container" class="flex flex-col gap-2 min-w-0">
                <div class="*:peer *:p-2 *:border *:bg-stone-50 *:rounded *:w-full *:dark:bg-gray-400">{{ form.vin }}</div>
                <label for="{{ form.vin.id_for_label }}" class="order-first">VIN Number</label>
                <div id="id_{{ form.vin.id_for_label }}_helptext">
                    <p>{{ form.vin.help_text }}</p>
                </div>
                {% if form.vin.errors %}
                <div id="id_{{ form.vin.id_for_label }}_errors">
                    {{ form.vin.errors }}
                </div>
                {% endif %}
            </div>
        </div>
        <div id="id_vin_info"></div>
        <div class="min-w-0 flex flex-col gap-4">
            <button class="w-full px-4 py-2 border border-current cursor-pointer rounded text-gray-100 bg-terminus-red-800 hover:bg-terminus-red-400 ease-in-out duration-300 transition-colors" type="submit">Submit</button>
        </div>
    </form>
</article>
{% endpartialdef main %}
{% block content %}
{% partial main %}
{% endblock content %}
