{% extends "terminusgps/layout.html" %}
{% partialdef main %}
{% if vin_info.error %}
<p>{{ vin_info.message }}</p>
{% else %}
<div class="overflow-x-auto">
    <table>
        <tbody>
            {% for field in vin_info.pflds %}
            <tr class="bg-stone-50 odd:bg-stone-200">
                <td>{{ field.n }}</td>
                <td>{{ field.v }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
{% endpartialdef main %}
{% block content %}
{% partial main %}
{% endblock content %}
