<div id="subscription" hx-indicator=".htmx-indicator" hx-target="this" hx-swap="outerHTML" class="{{ class }}">
    <div class="flex flex-col gap-2">
    {% if subscription.tier != None %}
        <!-- Subscribed -->
        {{ profile.user.first_name }}'s {{ subscription.tier.name }} Subscription
        {{ subscription.tier.amount }}
        {{ subscription.tier.features }}
    {% else %}
        <!-- Not subscribed -->    
        {{ profile.user.first_name }}'s Subscription
    {% endif %}
        <input
            class="w-full cursor-pointer rounded bg-terminus-red-800 p-2 text-center text-white hover:bg-terminus-red-300"
            hx-get="{% url 'subscription update' subscription.pk %}"
            type="button"
            value="Switch plans"
            hx-trigger="click"
        >
        {% if subscription.tier != None %}
        <input
            class="w-full cursor-pointer rounded bg-gray-300 p-2 text-center text-gray-700 hover:bg-gray-200"
            type="button"
            value="Cancel"
            hx-post="{% url 'subscription cancel' subscription.pk %}"
            hx-trigger="click"
            hx-confirm="Are you sure you want to cancel your '{{ subscription.tier.name }}' subscription?"
        >
        {% endif %}
    </div>
</div>
