<form id="subscription" hx-target="this" hx-swap="outerHTML" class="{{ class }}" action="{% url 'subscription update' subscription.pk %}" method="post">
    {% csrf_token %}
    <label>Subscription Tier</label>
    {% if "tier" in form.errors %}
    <ul class="relative top-0 list-inside list-none rounded border border-red-600 bg-red-200 p-2 text-terminus-red-700">
        {% for error in form.tier.errors %}<li>{{ error }}</li>{% endfor %}
    </ul>
    {% endif %}
    {{ form.tier }}
    {{ form.address_id.as_hidden }}
    {{ form.payment_id.as_hidden }}
    <div class="flex flex-col gap-2">
        <input
            class="w-full cursor-pointer rounded bg-terminus-red-800 p-2 text-center text-white hover:bg-terminus-red-300"
            type="button"
            value="Confirm"
            hx-post="{% url 'subscription update' subscription.pk %}"
        >
        <input
            class="w-full cursor-pointer rounded bg-gray-300 p-2 text-center text-gray-700 hover:bg-gray-200"
            value=Cancel
            type="button"
            hx-get="{% url 'subscription detail' subscription.pk %}"
            >
    </div>
</form>
