<form id="subscription" hx-target="this" hx-swap="outerHTML" class="{{ class }}" action="{% url 'subscription update' subscription.pk %}" method="post">
    {% csrf_token %}
    {% if "tier" in form.errors %}
    <ul class="relative top-0 list-inside list-none rounded border border-red-600 bg-red-200 p-2 text-terminus-red-700">
        {% for error in form.tier.errors %}<li>{{ error }}</li>{% endfor %}
    </ul>
    {% endif %}
    {{ form.tier }}
    {{ form.address_id.as_hidden }}
    {{ form.payment_id.as_hidden }}
    <div class="flex flex-col gap-2">
        <input
            class="rounded border border-terminus-black bg-terminus-red-800 p-2 text-white hover:cursor-pointer hover:bg-terminus-red-400"
            type="button"
            value="Confirm"
            hx-post="{% url 'subscription update' subscription.pk %}"
        >
        <input
            class="cursor-pointer rounded border border-gray-600 bg-gray-300 p-2 text-gray-700 hover:bg-gray-200"
            value=Cancel
            type="button"
            hx-get="{% url 'subscription detail' subscription.pk %}"
            >
    </div>
</form>
