{% extends "terminusgps_tracker/layout.html" %}
{% block content %}
<div class="container mx-auto space-y-4">
    <div class="{% if not form.non_field_errors %}hidden{% else %}mx-auto rounded bg-red-100 p-8{% endif %}">
        <ul class="list-inside list-none">
            {% for error in form.non_field_errors %}
            <li class="text-terminus-red-500">{{ error }}</li>
            {% endfor %}
        </ul>
    </div>
    {% include "terminusgps_tracker/subscriptions/partials/_tier.html" with tier=tier %}
    <div class="flex flex-col gap-4 rounded bg-gray-300 p-8">
        <h2 class="text-2xl text-terminus-red-500">{{ tier.name|title }} Plan Features</h2>
        {% for feature in tier.features.values %}
        <div class="flex flex-col gap-2 rounded p-4">
            <h2 class="text-xl text-gray-800">{{ feature.name }}<h2>
            <p class="indent-4 text-gray-700">{{ feature.desc }}</p>
        </div>
        {% endfor %}
    </div>
    <div class="flex flex-col gap-4 rounded bg-gray-300 p-8">
        <h2 class="text-2xl text-terminus-red-500">Your Order</h2>
        <table class="mx-auto w-full rounded bg-gray-400 text-left">
            <tr class="bg-gray-700 text-white">
                <td>Item</td>
                <td>Total</td>
            </tr>
            <tr class="odd:bg-gray-300">
                <td><em>{{ tier.name|title }} Subscription Plan (Monthly)</em></td>
                <td>${{ tier.amount }}</td>
            </tr>
        </table>
        <ul class="list-inside list-disc p-4">
            <li>You will be charged <strong>${{ tier.amount }}</strong> (not incl. taxes) on the {{ now|date:'jS' }} of every month.</li>
            <li>First payment will be collected {{ now|date:'l, F jS, Y' }} (today).</li>
            <li>Charges will be applied to the {{ card_merchant|title }} card you saved ending in '{{ card_last_4|cut:"XXXX" }}'.</li>
        </ul>
        <form method="post" action="{% url 'confirm subscription' tier.pk %}">
            {% csrf_token %}
            {{ form.address_id.as_hidden }}
            {{ form.payment_id.as_hidden }}
            <div class="flex justify-evenly gap-2">
                <a href="{% url 'tracker subscriptions' %}" class="grow rounded-md border border-solid border-gray-600 bg-gray-200 px-4 py-2 text-center text-gray-700 hover:bg-gray-50 dark:border-gray-300 dark:bg-gray-700 dark:text-white dark:hover:bg-gray-400">
                    Back
                </a>
                <button class="grow rounded-md border border-solid border-gray-600 bg-terminus-red-500 px-4 py-2 text-center text-gray-50 hover:bg-terminus-red-300 dark:border-gray-300" type="submit">
                    Confirm
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}
