{% extends "terminusgps/layout.html" %}
{% load static %}
{% block title %}About{% endblock title %}
{% partialdef main %}
<article class="@container p-8 flex flex-col gap-8">
    <section id="header" class="flex flex-col gap-2">
        <p class="text-3xl text-gray-800 dark:text-gray-100">About Terminus GPS</p>
        <p class="text-lg text-gray-700 dark:text-gray-200">We are parents to three teenage children, one who began driving in 2013.</p>
    </section>
    <section id="story" class="p-4 flex flex-col gap-8">
        <div class="indent-4 flex flex-col gap-2">
            <p>Nowadays, driving can be challenging even for the most experienced road veteran; gone are the days of driving with just the radio as the only distraction.</p>
            <p>For a 16-year-old, achieving their driver license is a major, exciting milestone. On the other hand, it's a parent's worst nightmare realized.</p>
            <p>When our daughter began driving, I was working for a GPS tracking company where it was my responsibility to program tracking devices for installation in commercial fleet vehicles.</p>
            <p>Not long after, my wife asked if I could program a similar device and install it in our daughter's vehicle.</p>
            <p>I got to work, programmed and installed the new GPS tracking device, and suddenly my wife and I were able to view real-time information concerning our teenaged driver's driving habits and how long she spent at each destination.</p>
            <p>The peace of mind this program offered was <em>invaluable</em>.</p>
            <p>Alerts were set and received on my wife's cell phone every time our daughter turned her vehicle on and could be viewed at anytime while the car was in operation.</p>
            <p>The device was also programmed to alert both our daughter and my wife if speed limits were exceeded and for how long.</p>
            <p>Almost immediately, other parents were asking us how they could purchase this device and program.</p>
            <p>As excited as we were to share our solution with other parents, we lacked a way to actually provide this service to them.</p>
            <p>After more than four years and many, many requests from friends, neighbors and acquaintances, we launched Terminus GPS to allow every parent to <em>always know where yours are</em>.</p>
            <p>While we can't solve <em>every</em> worry associated with our vulnerable drivers, we can provide you with a little peace of mind while they're behind the wheel.</p>
        </div>
        <div class="flex items-center gap-4">
            <img class="max-h-24 rounded-full" src="{% static 'terminusgps/img/peterheadshot.jpg' %}">
            <div>
                <p class="font-semibold text-gray-800 dark:text-gray-100">Peter Speckman</p>
                <p class="text-gray-600 dark:text-gray-200">President</p>
            </div>
        </div>
    </section>
</article>
{% endpartialdef main %}
{% block content %}
{% partial main %}
{% endblock content %}
