{% extends "terminusgps/layout.html" %}
{% load static %}
{% block content %}
<div class="m-8 rounded-lg drop-shadow-md border border-solid bg-terminus-gray-100 md:m-6 lg:m-4 dark:bg-terminus-black">
    <div class="m-2 p-4 flex flex-row items-center">
        <img class="size-32 rounded-lg flex-none" src="{% static 'terminusgps_tracker/logo.svg' %}" alt="Terminus GPS Logo" height="60" width="60">
        <div class="flex flex-col">
            <h1 class="text-2xl text-terminus-gray-800 dark:text-terminus-gray-100">Terminus GPS</h1>
            <h2 class="text-xl font-light text-terminus-gray-700 dark:text-terminus-gray-200">Register a new account</h2>
        </div>
    </div>
    <form action="{{ current_url }}" method="post" class="m-4 dark:text-terminus-white" hx-headers="{'X-CSRFToken': '{{ csrf_token }}'}">
        {% csrf_token %}
        {{ form }}
        <div class="flex justify-evenly gap-2">
            <a class="text-center grow rounded-md border border-solid border-gray-600 bg-blue-500 px-4 py-2 text-gray-50 hover:bg-blue-300" href="{% url 'help register' %}">
                Help
            </a>
            <button class="grow rounded-md border border-solid border-gray-600 bg-blue-500 px-4 py-2 text-gray-50 hover:bg-blue-300" type="submit">
                Register
            </button>
        </div>
    </form>
</div>
{% endblock content %}
