<tr class="border-b bg-white dark:border-gray-700 dark:bg-gray-800">
    <form method="post" action="{% url 'create asset' %}" class="m-4 dark:text-terminus-white">
        {{ form.non_field_errors }}
        {% csrf_token %}
        <td scope="row" class="whitespace-nowrap bg-gray-300 px-6 py-4 font-medium text-gray-900">
            {{ form.asset_name }}
        </td>
        <td class="bg-gray-300 px-6 py-4 text-black">
            {{ form.imei_number }}
        </td>
        <td class="bg-gray-300 px-6 py-4">
            <button class="rounded bg-terminus-red-700 p-2 text-gray-200 hover:scale-105" hx-post="{% url 'create asset' %}" hx-trigger="click">Register</button>
        </td>
    </form>
</tr>
