{% extends "payments/layout.html" %}
{% block content %}
    <section>
        <div class="items-center justify-center min-h-screen">
            <div class="p-6 rounded-lg shadow-lg">
                <h1 class="text-3xl text-gray-700">Whoops!</h1>
                <p class="text-xl text-gray-500">An error occured while authenticating with Quickbooks...</p>
                <p class="text-xl text-gray-400">Please try again later.</p>
            </div>
            <div class="relative overflow-x-auto">
                <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th scope="col" class="px-6 py-3">Error</th>
                            <th scope="col" class="px-6 py-3">Description</th>
                            <th scope="col" class="px-6 py-3">State</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                            <th scope="row"
                                class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                {{ error }}
                            </th>
                            <td class="px-6 py-4">{{ error_description }}</td>
                            <td class="px-6 py-4">{{ state }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
{% endblock content %}
