<form
    action="{% url 'create payment' %}"
    method="post"
    hx-include="this"
    hx-target="this"
    hx-boost="true"
>
    <h2 class="mb-4 text-xl text-center text-terminus-red-800">New Payment Method</h2>
    <div class="{{ class }}">
        {% csrf_token %}
        {{ form.credit_card }}
        {{ form.address }}
        <div class="flex flex-inline gap-2 items-center accent-terminus-red-600">
            <label class="text-sm">Set as default payment method?</label>
            {{ form.default }}
        </div>
    </div>
    <div class="mt-4 flex flex-col gap-2">
        <input
            class="w-full rounded border border-terminus-black bg-terminus-red-800 p-2 text-white cursor-pointer hover:bg-terminus-red-400 transition-colors duration-300 ease-in-out"
            type="submit"
            value="Submit"
            hx-trigger="click"
        >
        <input 
            class="w-full cursor-pointer rounded border border-gray-600 bg-gray-300 p-2 text-gray-700 hover:bg-gray-200 transition-colors duration-300 ease-in-out"
            type="button"
            value="Cancel"
            hx-trigger="click"
            hx-delete="{% url 'create payment' %}"
        >
    </div>
</form>
