<form class="{{ class }}" action="{% url 'create payment' %}" method="post" hx-headers="{'X-CSRFToken': '{{ csrf_token }}'}">
    {% csrf_token %}
    <div class="flex flex-col gap-8 mt-8">
        <h2 class="text-xl">Credit Card</h2>
        <div class="flex flex-col">
            {{ form.credit_card_number }}
            <div class="flex justify-evenly">
                {{ form.credit_card_expiry_month }}
                {{ form.credit_card_expiry_year }}
            </div>
            {{ form.credit_card_ccv }}
        </div>
        <h2 class="text-xl">Billing Address</h2>
        <div class="flex flex-col">
            <div class="flex">
                {{ form.address_first_name }}
                {{ form.address_last_name }}
            </div>
            {{ form.address_street }}
            <div class="flex">
                {{ form.address_city }}
                {{ form.address_state }}
            </div>
            <div class="flex">
                {{ form.address_zip }}
                {{ form.address_phone }}
            </div>
        </div>
        <div class="flex gap-2 justify-evenly">
            <a href="{% url 'profile settings' %}" class="grow rounded-md border border-solid border-gray-600 bg-gray-200 px-4 py-2 text-center text-gray-700 hover:bg-gray-50 dark:border-gray-300 dark:bg-gray-700 dark:text-white dark:hover:bg-gray-400">
                Cancel
            </a>
            <button class="grow rounded-md border border-solid border-gray-600 bg-terminus-red-500 px-4 py-2 text-center text-gray-50 hover:bg-terminus-red-300 dark:border-gray-300" type="submit">
                Create
            </button>
        </div>
    </div>
</form>
