<form class="flex w-full flex-col gap-4" hx-post="{% url 'tracker:payment delete' payment.customer.pk payment.pk %}" method="post">
    {% if form.non_field_errors %}<div class="inset-shadow w-full animate-jiggle rounded border border-current bg-red-200 p-2 text-center text-red-600">{{ form.non_field_errors }}</div>{% endif %}
    <p class="text-center font-semibold">Delete {{ payment.cc_type }} ending in '{{ payment.cc_last_4 }}'?</p>
    {% csrf_token %}
    <section id="buttons" class="flex flex-col gap-2">
        <button class="w-full cursor-pointer rounded border border-current bg-gray-50 p-2 text-center text-red-800 transition-colors duration-300 ease-in-out hover:bg-red-50" type="submit" hx-post="{% url 'tracker:payment delete' payment.customer.pk payment.pk %}" hx-target="#payment-list">
            <p>Confirm</p>
        </button>
        <button class="w-full cursor-pointer rounded border border-current bg-gray-300 p-2 text-center transition-colors duration-300 ease-in-out hover:bg-gray-200" type="button" hx-get="{% url 'tracker:payment detail' payment.customer.pk payment.pk %}" hx-target="#payment-{{ payment.pk }}" hx-swap="outerHTML">
            <p>Cancel</p>
        </button>
    </section>
</form>
