<form class="flex flex-col gap-4" action="{% url 'tracker:payment delete' payment.pk %}" method="post" hx-post="{% url 'tracker:payment delete' payment.pk %}" hx-include="this" hx-target="#payment-list">
    {% if form.non_field_errors %}<div class="inset-shadow w-full animate-jiggle rounded border border-current bg-red-200 p-2 text-center text-red-600">{{ form.non_field_errors }}</div>{% endif %}
    <p class="text-center">Delete '{{ cc_num }}'?</p>
    {% csrf_token %}
    <section id="buttons" class="flex flex-col gap-2">
        <input class="w-full cursor-pointer rounded border border-current bg-gray-50 p-2 text-center text-red-800 transition-colors duration-300 ease-in-out hover:bg-red-50" type="submit" value="Delete" hx-post="{% url 'tracker:payment delete' payment.pk %}">
        <input class="w-full cursor-pointer rounded border border-current bg-gray-300 p-2 text-center transition-colors duration-300 ease-in-out hover:bg-gray-200" type="button" value="Cancel" hx-get="{% url 'tracker:payment detail' payment.pk %}" hx-target="#payment-{{ payment.pk }}" hx-swap="outerHTML">
    </section>
</form>
