{% load terminusgps_tracker_display %}
<section id="payment-{{ payment.pk }}" class="flex flex-col gap-4 rounded border-2 border-current bg-white p-4 dark:bg-gray-800" hx-target="this">
    <div class="flex items-center justify-between">
        <h2 class="font-semibold tracking-wide">BILL TO:</h2>
        <h3 class="font-bold">{{ profile.billTo.firstName }} {{ profile.billTo.lastName }}</h3>
    </div>
    <div class="flex items-center gap-2">
        {{ profile.payment.creditCard.cardType|credit_card_icon }}
        <p class="tracking-widest">&#x2022;&#x2022;&#x2022;&#x2022; {{ profile.payment.creditCard.cardNumber|cut:'XXXX' }}</p>
    </div>
    <div class="flex flex-col">
        <p>{{ profile.billTo.address }}</p>
        <p>{{ profile.billTo.city }}, {{ profile.billTo.state }}, {{ profile.billTo.country }} {{ profile.billTo.zip }}</p>
    </div>
    <input class="w-full cursor-pointer rounded border border-current bg-gray-50 p-2 text-center text-red-800 transition-colors duration-300 ease-in-out hover:bg-red-50" type="button" value="Delete" hx-get="{% url 'tracker:payment delete' payment.customer.pk payment.pk %}">
</section>
