{% for payment in page_obj %}
<div id="payment-{{ payment.pk }}" hx-get="{{ payment.get_absolute_url }}" hx-target="this" hx-trigger="load" hx-swap="outerHTML" class="animate-pulse rounded border-2 border-current p-4 odd:bg-gray-400 even:bg-gray-200"></div>
{% empty %}
<div class="rounded border border-orange-300 bg-orange-50 p-4 text-orange-800 drop-shadow">
    <div class="flex-inline flex items-center gap-2">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 fill-yellow-100">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126ZM12 15.75h.007v.008H12v-.008Z" />
        </svg>
        <p class="text-sm font-semibold md:text-lg">No payment methods found.</p>
    </div>
</div>
{% endfor %}
