<div class="text-xl">
    {% if not form.is_bound %}
        <label for="{{ field.label }}"
               class="mb-2 mt-4 block text-sm font-medium text-gray-900 dark:text-white">{{ field.label }}</label>
        <input class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500"
               id="{{ field.id_for_label }}"
               value="{{ field.value|default_if_none:'' }}"
               {% if field.required %}required{% endif %}>
    {% elif not field.errors %}
        <label for="{{ field.label }}"
               class="mb-2 mt-4 block text-sm font-medium text-green-700 dark:text-green-500">{{ field.label }}</label>
        <input class="block w-full rounded-lg border border-green-500 bg-green-50 p-2.5 text-sm text-green-900 placeholder-green-700 focus:border-green-500 focus:ring-green-500 dark:border-green-500 dark:bg-gray-700 dark:text-green-400 dark:placeholder-green-500"
               id="{{ field.id_for_label }}"
               value="{{ field.value|default_if_none:'' }}"
               {% if field.required %}required{% endif %}>
        <p class="mb-4 mt-2 text-sm text-green-600 dark:text-green-500">
            <span class="font-medium"><i>Looks good!</i></span>
        </p>
    {% else %}
        <label for="{{ field.label }}"
               class="mb-2 mt-4 block text-sm font-medium text-red-700 dark:text-red-500">{{ field.label }}</label>
        <input class="block w-full rounded-lg border border-red-500 bg-red-50 p-2.5 text-sm text-red-900 placeholder-red-700 focus:border-red-500 focus:ring-red-500 dark:border-red-500 dark:bg-gray-700 dark:text-red-500 dark:placeholder-red-500"
               id="{{ field.id_for_label }}"
               value="{{ field.value|default_if_none:'' }}"
               {% if field.required %}required{% endif %}>
        <p class="mb-4 mt-2 text-sm text-red-600 dark:text-red-500">
            <span class="font-medium"><i>Oops!</i></span>
            <ul class="mb-2 mt-4 text-sm">
                {% for error in field.errors %}
                    <li class="mb-4 mt-2 text-sm text-red-600 dark:text-red-500">- {{ error }}</li>
                {% endfor %}
            </ul>
        </p>
    {% endif %}
</div>
