<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="refresh" content="0; url='{{ redirect_url }}'">
        <title>{{ title }}</title>
    </head>
    <body>
        <main>
            <div style="text-align: center;">
                <p>The form was successfully submitted.</p>
                <p>If you are not redirected within 3 seconds, please
                    <a href="{{ redirect_url }}">click here...</a>
                </p>
            </div>
        </main>
    </body>
</html>
