{% if errors and not fields %}
  <div>{% for field in hidden_fields %}{{ field }}{% endfor %}</div>
{% endif %}
<div class="flex flex-col">
{% for field, errors in fields %}
    {% if field.label %}<label for="{{ field.id_for_label }}">{{ field.label }}</label>{% endif %}
    {{ field }}
    {% if forloop.last %}
      {% for field in hidden_fields %}{{ field }}{% endfor %}
    {% endif %}
{% endfor %}
</div>
{% if not fields and not errors %}
  {% for field in hidden_fields %}{{ field }}{% endfor %}
{% endif %}
