{% extends "terminusgps_tracker/layout.html" %}
{% load static %}
{% block content %}
<div class="m-4 lg:m-6 xl:m-8">
    <h1 class="text-2xl text-center dark:text-gray-50">Terminus GPS Registration Form</h1>
    <form action="{% url 'registration form' %}" method="post" class="m-4 md:m-6 lg:m-8">
        {% csrf_token %}
        {% if not form.is_bound %}
            {% for field in form %}
                {% include "terminusgps_tracker/partials/_field_unbound.html" with field=field only %}
            {% endfor %}
        {% else %}
            {% for field in form %}
                {% include "terminusgps_tracker/partials/_field_bound.html" with field=field only %}
            {% endfor %}
        {% endif %}
        <button class="px-4 py-2 mt-4 my-2 text-gray-50 bg-blue-500 hover:bg-blue-300 rounded rounded-md border border-solid border-gray-800" type="submit">Submit</button>
    </form>
</div>
<script src="{% static 'terminusgps_tracker/js/registration.js' %}" defer></script>
{% endblock content %}
