{{ errors }}
{% if errors and not fields %}
  <div class="hidden">{% for field in hidden_fields %}{{ field }}{% endfor %}</div>
{% endif %}
{% for field, errors in fields %}
  {{ errors }}
<div {% if field.css_classes %}class="{{ classes }}"{% else %}class="mb-4"{% endif %}>
    {% if field.label %}{% include 'terminusgps_tracker/forms/label.html' %}{% endif %}
    {{ field }}
    {% if field.help_text %}
      <p class="mt-2 text-center rounded-md font-light bg-gray-400 p-4"{% if field.auto_id %} id="{{ field.auto_id }}_helptext"{% endif %}>{{ field.help_text|safe }}</p>
    {% endif %}
    {% if forloop.last %}
      {% for field in hidden_fields %}{{ field }}{% endfor %}
    {% endif %}
  </div>
{% endfor %}
{% if not fields and not errors %}
  {% for field in hidden_fields %}{{ field }}{% endfor %}
{% endif %}
{% if next %}<input class="hidden" type="hidden" value="{{ next }}"/>{% endif %}
