{% extends "terminusgps_tracker/layout.html" %}
{% load static %}
{% block content %}
<div class="m-8 rounded-lg border border-solid bg-terminus-gray-100 md:m-6 lg:m-4 dark:bg-terminus-gray-700">
    <div class="flex-cols flex items-center">
        <img class="m-6" src="{% static 'terminusgps_tracker/logo.svg' %}" alt="Terminus GPS Logo" height="60" width="60">
        <div>
            <h1 class="mx-6 mb-2 mt-4 font-serif text-2xl text-terminus-gray-800 dark:text-gray-50">Terminus GPS</h1>
            <h2 class="mx-6 mb-4 font-serif text-xl text-terminus-gray-600 dark:text-gray-50">Simplify, Monitor, Protect</h2>
        </div>
    </div>
    <form action="{% url 'form register' %}" method="post" class="m-4 md:m-6 lg:m-8">
        {% csrf_token %}
        {{ form }}
        <button class="mb-4 mt-2 min-w-full rounded-md border border-solid border-gray-800 bg-blue-500 px-4 py-2 text-gray-50 hover:bg-blue-300" type="submit">Submit</button>
    </form>
</div>
{% endblock content %}
