{% extends "terminusgps_tracker/layout.html" %}
{% block content %}
    <form action="{% url 'registration form' %}" method="post" class="m-4 md:m-6 lg:m-8">
        {% csrf_token %}
        {% include "terminusgps_tracker/partials/_field.html" with form=form only %}
        <div class="grid grid-cols-2 divide-x gap-2 md:gap-4">
            <button class="px-4 py-2 mt-4 my-2 rounded rounded-md bg-stone-200 border border-solid border-gray-800" type="button">Help</button>
            <button class="px-4 py-2 mt-4 my-2 rounded rounded-md bg-gradient-to-t from-red-500 to-red-100 border border-solid border-gray-800" type="submit">Submit</button>
        </div>
    </form>
{% endblock content %}
