{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title }}</title>
        {% tailwind_css %}
    </head>
    <body  class="bg-gray-200 dark:bg-gray-800">
        <main class>
            <h2 class="my-8 text-center text-3xl text-gray-900 dark:text-white">TerminusGPS {{ title|title }} Form</h2>
            <form method="post" action="{% url 'form registration' %}">
                {% csrf_token %}
                {% for field in form %}
                <div class="m-4 justify-items-center">
                    {% if not form.is_bound %}
                        <label for="{{ field.id_for_label }}"
                               class="mb-2 mt-4 block text-sm font-medium text-gray-900 dark:text-white">{{ field.label }}</label>
                        <input class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500"
                               id="{{ field.id_for_label }}"
                               name="{{ field.name }}"
                               type="{{ field.field.widget.input_type|default_if_none:'text' }}"
                               value="{% if field.value %}{{ field.value|default_if_none:'' }}{% else %}{{ field.intial|default_if_none:'' }}{% endif %}" 
                               {% if field.required %}required{% endif %}
                               {% if field.disabled %}disabled{% endif %}>
                    {% elif not field.errors %}
                        <label for="{{ field.id_for_label }}"
                               class="mb-2 mt-4 block text-sm font-medium text-green-700 dark:text-green-500">{{ field.label }}</label>
                        <input class="block w-full rounded-lg border border-green-500 bg-green-50 p-2.5 text-sm text-green-900 placeholder-green-700 focus:border-green-500 focus:ring-green-500 dark:border-green-500 dark:bg-gray-700 dark:text-green-400 dark:placeholder-green-500"
                               id="{{ field.id_for_label }}"
                               name="{{ field.name }}"
                               value="{% if field.value %}{{ field.value|default_if_none:'' }}{% else %}{{ field.intial|default_if_none:'' }}{% endif %}" 
                               type="{{ field.field.widget.input_type|default_if_none:'text' }}"
                               {% if field.required %}required{% endif %}
                               {% if field.disabled %}disabled{% endif %}>
                        <p class="mb-4 mt-2 text-sm text-green-600 dark:text-green-500">
                            <span class="font-medium"><i>Looks good!</i></span>
                        </p>
                    {% else %}
                        <label for="{{ field.id_for_label }}"
                               class="mb-2 mt-4 block text-sm font-medium text-red-700 dark:text-red-500">{{ field.label }}</label>
                        <input class="block w-full rounded-lg border border-red-500 bg-red-50 p-2.5 text-sm text-red-900 placeholder-red-700 focus:border-red-500 focus:ring-red-500 dark:border-red-500 dark:bg-gray-700 dark:text-red-500 dark:placeholder-red-500"
                               id="{{ field.id_for_label }}"
                               name="{{ field.name }}"
                               value="{% if field.value %}{{ field.value|default_if_none:'' }}{% else %}{{ field.intial|default_if_none:'' }}{% endif %}" 
                               type="{{ field.field.widget.input_type|default_if_none:'text' }}"
                               {% if field.required %}required{% endif %}
                               {% if field.disabled %}disabled{% endif %}>
                        <p class="mb-4 mt-2 text-sm text-red-600 dark:text-red-500">
                            <span class="font-medium"><i>Oops!</i></span>
                            <ul class="mb-2 mt-4 text-sm">
                                {% for error in field.errors %}
                                    <li class="mb-4 mt-2 text-sm text-red-600 dark:text-red-500">- {{ error }}</li>
                                {% endfor %}
                            </ul>
                        </p>
                    {% endif %}
                </div>
                {% endfor %}
                <button type="submit"
                        class="m-4 w-fit justify-items-center rounded-lg bg-blue-700 px-5 py-2.5 text-center text-sm font-medium text-white hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 sm:w-auto dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    Submit
                </button>
                </form>
        </main>
        <script src={% static 'terminusgps_tracker/js/main.js' %}></script>
    </body>
</html>
