<label for="id_{{ field.name }}"
       class="block mb-2 text-sm font-medium text-red-700 dark:text-red-500">{{ field.label }}</label>
<input class="bg-red-50 border border-red-500 text-red-900 placeholder-red-700 text-sm rounded-lg focus:ring-red-500 dark:bg-gray-700 focus:border-red-500 block w-full p-2.5 dark:text-red-500 dark:placeholder-red-500 dark:border-red-500"
       name="{{ field.name }}"
       for="id_{{ field.name }}"
       hx-trigger="blur delay:500ms"
       hx-swap="outerHTML"
       hx-post="{% url 'form' form.name %}"
       {% if field.required %}required{% endif %}>
