<div class="flex items-center gap-4 rounded border border-yellow-600 bg-yellow-100 p-4">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-8 text-yellow-800 fill-yellow-300 drop-shadow-sm">
        <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126ZM12 15.75h.007v.008H12v-.008Z" />
    </svg>
    <div class="text-yellow-800 flex flex-col">
        <p>VIN # was scanned.</p>
        <p class="text-sm text-yellow-700">Please ensure the below VIN # and the vehicle's VIN # match.</p>
    </div>
</div>
<div hx-get="{% url 'install:create asset' %}?vin={{ vin_number }}" hx-trigger="load"></div>
