{% load static %}
<div class="flex flex-col gap-8">
    <div class="flex gap-4 items-center bg-gray-300 dark:bg-gray-700 rounded-full p-4">
        <div class="h-full w-24">
            <img class="rounded-full border" src="{% static 'terminusgps/peter_headshot.jpeg' %}" alt="A headshot of Terminus GPS founder Peter Speckman">
        </div>
        <div class="flex flex-col gap-1">
            <h2 class="font-semibold">Peter Speckman</h2>
            <h3 class="font-light">Founder</h3>
            <h4 class="font-extralight">Terminus GPS</h4>
        </div>
    </div>
    <h2 class="text-xl font-semibold text-terminus-red-400">Terminus GPS is "need driven" and founded on a parent's need-to-know.</h2>
    <div class="flex flex-col gap-4 mx-4">
        <p>We are parents to three teenage children, one who began driving in 2013.</p>
        <p>Today's driving is challenging even for the most experienced road veterans. Gone are the days of just driving with the radio as our <em>only</em> distraction.</p>
        <p>Today's roads are deceptively dangerous; it's a major milestone for any 16 year old to achieve their driver's license, conversely it's every parents' nightmare once driving begins.</p>
        <p>When our daughter began driving I was working for a GPS tracking company where it was my responsibility to program devices for specific co-ordinance, speed, distance, gas consumption and other optimization diagnostics for fleet vehicles.</p>
        <p>My wife asked if I could design a similar device to be installed into the vehicle our daughter was driving, to allow for real time information of driving, duration of destinations and speeds during travel.</p>
        <p>The peace of mind this simple program offered was <em>invaluable</em>.</p>
        <p>Alerts were sent and received on my wife's cell phone each time our daughter turned her vehicle on and could be viewed at anytime while the car was in operation.  The device was also programmed to alert both our daughter and my wife if speed limits were exceeded and for how long.</p>
        <p>Almost immediately, our neighbors, young parents themselves as well, were asking how they could purchase this device and program. While we very much wanted to share the same peace of mind with other parents of teenage drivers, and children of aging parents, at that time this was not possible.</p>
        <p>After more than four years and many request from friends, neighbors and acquaintances, we launched our company Terminus GPS in 2015 to provide the solution.</p>
        <p>While we can't solve every worry associated with our teens, we can provide a little peace of mind while they are behind the wheel. We're committed to reducing risk that teens and adults face while on the road.</p>
    </div>
    <h2 class="text-xl font-semibold text-terminus-red-400">Accolades</h2>
    <img class="object-fit" src="{% static 'terminusgps/2024_iot_project_finalist_badge.png' %}" alt="2024 IoT Project of the Year Finalist Badge">
</div>
