<section class="mx-4 flex flex-col gap-2 text-pretty">
    <h2 class="-mx-4 text-lg font-semibold text-terminus-red-600 dark:text-terminus-red-200">Terminus GPS For Fleet Management</h2>
    <p>Today's fleet managers need a reliable and efficient way to keep  up with today's demands on their fleet.</p>
    <p>Whether you're keeping up with just a few service vehicles to a large scale fleet operation, we have the tools ready to aid in your fleet management.</p>
    <p>All assets can be on one platform and utilized several different ways for each needed department.</p>
    <p>Your reports can be customized then sent to you automatically daily or as needed.</p>
    <p>Most commonly used capabilities:</p>
    <ul class="list-inside list-disc">
        <li>Geographic Location</li>
        <li>Enter/Exit of Geofences</li>
        <li>Time/Distance Traveled</li>
        <li>Daily Start/Stop Times</li>
        <li>Driver Behavior Monitoring</li>
    </ul>
    <p>Most commonly used reports:</p>
    <ul class="list-inside list-disc">
        <li>Daily Activity</li>
        <li>After Hours Usage</li>
        <li>Maintenance Due</li>
        <li>International Fuel Tax Agreement</li>
        <li>Hours of Service</li>
        <li>Driver Report Card</li>
    </ul>
</section>
