{% load static %}
<img class="h-full rounded" src="{% static 'terminusgps/img/fleet-hero.jpg' %}">
<section class="mx-4 flex flex-col gap-4 text-pretty">
    <h2 class="-mx-4 text-lg font-semibold text-terminus-red-500 dark:text-terminus-red-100">A Reliable, Robust Tracking Platform Accessible Anytime, Anywhere</h2>
    <p>Easy, breezy fleet management with our ever-reliable <a href="{% url 'platform' %}" class="decoration w-fit text-terminus-red-800 underline decoration-terminus-black underline-offset-4 hover:text-terminus-red-500 hover:decoration-dotted dark:text-terminus-red-400 dark:decoration-white dark:hover:text-terminus-red-200">tracking platform</a>.</p>
</section>
<section class="mx-4 flex flex-col gap-4 text-pretty">
    <h2 class="-mx-4 text-lg font-semibold text-terminus-red-500 dark:text-terminus-red-100">One Platform To Digitize Them All</h2>
    <p>View and manage your <span class="italic">entire</span> fleet from <a href="{% url 'platform' %}" class="decoration w-fit text-terminus-red-800 underline decoration-terminus-black underline-offset-4 hover:text-terminus-red-500 hover:decoration-dotted dark:text-terminus-red-400 dark:decoration-white dark:hover:text-terminus-red-200">the platform</a>.</p>
</section>
<section class="mx-4 flex flex-col gap-4 text-pretty">
    <h2 class="-mx-4 text-lg font-semibold text-terminus-red-500 dark:text-terminus-red-100">From Terminus GPS To Your Fleet, Specifically</h2>
    <p>We'll make <a href="{% url 'platform' %}" class="decoration w-fit text-terminus-red-800 underline decoration-terminus-black underline-offset-4 hover:text-terminus-red-500 hover:decoration-dotted dark:text-terminus-red-400 dark:decoration-white dark:hover:text-terminus-red-200">the platform</a> work for you no matter what you're cooking.</p>
</section>
