{% load static %}
<section class="flex flex-col gap-4 p-4">
    <h2
        class="text-terminus-red-600 dark:text-terminus-red-100 text-xl font-semibold"
    >
        Headline 1
    </h2>
    <div class="mx-4 flex flex-col gap-2 text-pretty">
        <p>{% lorem %}</p>
        <p>{% lorem %}</p>
    </div>
</section>
<section class="flex flex-col gap-4 p-4">
    <h2
        class="text-terminus-red-600 dark:text-terminus-red-100 text-xl font-semibold"
    >
        Headline 2
    </h2>
    <div class="mx-4 flex flex-col gap-2 text-pretty">
        <p>{% lorem %}</p>
    </div>
</section>
<section class="flex flex-col gap-4 p-4">
    <h2
        class="text-terminus-red-600 dark:text-terminus-red-100 text-xl font-semibold"
    >
        Headline 3
    </h2>
    <div class="mx-4 flex flex-col gap-2 text-pretty">
        <p>{% lorem %}</p>
        <p>{% lorem %}</p>
        <p>{% lorem %}</p>
    </div>
</section>
