{% load static %}
<section class="flex flex-col gap-4 p-4">
    <h2 class="text-xl font-semibold text-terminus-red-600 dark:text-terminus-red-100">Headline 1</h2>
    <div class="text-pretty flex flex-col gap-2 mx-4">
        <p>{% lorem %}</p>
        <p>{% lorem %}</p>
    </div>
</section>
<section class="flex flex-col gap-4 p-4">
    <h2 class="text-xl font-semibold text-terminus-red-600 dark:text-terminus-red-100">Headline 2</h2>
    <div class="text-pretty flex flex-col gap-2 mx-4">
        <p>{% lorem %}</p>
    </div>
</section>
