{% load static %}
<section id="header" class="relative -mx-8 -mt-8">
    <img class="h-auto w-full" src="{% static 'terminusgps/traffic.avif' %}" alt="">
    <h2 class="absolute top-0 w-full bg-[#d1d1e0]/80 p-4 text-center text-2xl font-bold tracking-wider text-terminus-red-600 md:text-3xl dark:text-terminus-red-200">In God We Trust, All Others We Track</h2>
</section>
<section id="floater" class="flex flex-col gap-4 text-center font-semibold text-gray-50">
    <div class="flex items-center gap-2 rounded border border-current bg-terminus-red-600 p-4 drop-shadow odd:bg-terminus-red-400">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="hidden size-6 md:flex">
            <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5" />
        </svg>
        <p>Promoting Safety Through Technology</p>
    </div>
    <div class="flex items-center gap-2 rounded border border-current bg-terminus-red-600 p-4 drop-shadow odd:bg-terminus-red-400">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="hidden size-6 md:flex">
            <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5" />
        </svg>
        <p>Reliable, Scalable and Efficient Fleet Monitoring</p>
    </div>
    <div class="flex items-center gap-2 rounded border border-current bg-terminus-red-600 p-4 drop-shadow odd:bg-terminus-red-400">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="hidden size-6 md:flex">
            <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5" />
        </svg>
        <p>Commerical-Grade GPS Monitoring for Individuals</p>
    </div>
</section>
<section id="customers" class="flex flex-col gap-4">
    <section id="commercial" class="mx-4 flex flex-col gap-2">
        <h2 class="text-lg font-semibold text-terminus-red-600 dark:text-terminus-red-200">For Commerical Use</h2>
        <p>Today's fleet managers need a reliable and efficient way to keep up with today's demands on their fleet.</p>
        <p>Whether you're keeping up with just a few service vehicles, or a large scale fleet operation with thousands of vehicles, we have the tools you need to properly manage your scaling fleet.</p>
        <p>All vehicles in the fleet are accessible in <a href="{% url 'hosting' %}" class="decoration text-terminus-red-800 underline decoration-terminus-black underline-offset-4 hover:text-terminus-red-500 hover:decoration-dotted dark:text-terminus-red-400 dark:decoration-white dark:hover:text-terminus-red-200">one place</a> but utilized in different ways by department, job or any other organizational structure your fleet has.</p>
        <p>Here's what our commercial fleet managers cite as their most used capabilities:</p>
        <ul class="mx-2 list-inside list-disc marker:text-terminus-red-600">
            <li>Geographic location</li>
            <li>Enter/exit of geofence areas</li>
            <li>Time and distance traveled</li>
            <li>Daily start and stop times</li>
            <li>Driver behavior</li>
        </ul>
    </section>
    <section id="individuals" class="mx-4 flex flex-col gap-2">
        <h2 class="text-lg font-semibold text-terminus-red-600 dark:text-terminus-red-200">For Individual Use</h2>
        <p>Whether you're monitoring a <a href="{% url 'teen safety' %}" class="decoration text-terminus-red-800 underline decoration-terminus-black underline-offset-4 hover:text-terminus-red-500 hover:decoration-dotted dark:text-terminus-red-400 dark:decoration-white dark:hover:text-terminus-red-200">teen driver</a> or an <a href="{% url 'senior safety' %}" class="decoration text-terminus-red-800 underline decoration-terminus-black underline-offset-4 hover:text-terminus-red-500 hover:decoration-dotted dark:text-terminus-red-400 dark:decoration-white dark:hover:text-terminus-red-200">elderly driver</a>, promoting safety and reducing driving risk is our <span class="italic">first</span> priority; it's the very idea Terminus GPS was founded on.</p>
        <p>We've taken the industry standard GPS tracking software and hardware, mainly used in commerical fleet tracking, and simplified it for individual users.</p>
        <p>Here's what our individual users cite as their most used capabilities:</p>
        <ul class="mx-2 list-inside list-disc marker:text-terminus-red-600">
            <li>Geographic location</li>
            <li>Accelerated speed</li>
            <li>Time and distance traveled</li>
            <li>Stop and start times</li>
            <li>Driver behavior monitoring</li>
        </ul>
        <p>Alerts you create and configure in <a href="{% url 'hosting' %}" class="decoration text-terminus-red-800 underline decoration-terminus-black underline-offset-4 hover:text-terminus-red-500 hover:decoration-dotted dark:text-terminus-red-400 dark:decoration-white dark:hover:text-terminus-red-200">the platform</a> are sent via SMS directly to your smartphone.</p>
        <section id="dont-want-text-messages" class="mt-4 flex flex-col gap-4 rounded border border-current bg-yellow-50 p-4 text-yellow-800 drop-shadow">
            <div class="flex items-center gap-2">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M9.143 17.082a24.248 24.248 0 0 0 3.844.148m-3.844-.148a23.856 23.856 0 0 1-5.455-1.31 8.964 8.964 0 0 0 2.3-5.542m3.155 6.852a3 3 0 0 0 5.667 1.97m1.965-2.277L21 21m-4.225-4.225a23.81 23.81 0 0 0 3.536-1.003A8.967 8.967 0 0 1 18 9.75V9A6 6 0 0 0 6.53 6.53m10.245 10.245L6.53 6.53M3 3l3.53 3.53" />
                </svg>
                <p class="font-semibold">Don't want text messages?</p>
            </div>
            <p class="text-yellow-700">You can view notifications in <a href="{% url 'hosting' %}" class="decoration text-terminus-red-800 underline decoration-terminus-black underline-offset-4 hover:text-terminus-red-500 hover:decoration-dotted dark:text-terminus-red-400 dark:decoration-white dark:hover:text-terminus-red-200">the platform</a> instead.</p>
        </section>
    </section>
</section>
<section id="socials" class="flex flex-col gap-4">
    <h3 class="text-xl text-terminus-red-700 dark:text-terminus-red-700">Follow us</h3>
    <div class="-mx-8 flex justify-evenly gap-2 bg-gray-300 p-4 shadow-inner md:gap-4">
        {% for social in socials.values %}
        <a href="{{ social.link }}" class="group flex flex-col items-center gap-2 text-terminus-red-800 transition-colors duration-300 ease-in-out hover:text-terminus-red-300">
            {% include social.icon with class="size-8 fill-terminus-red-800 group-hover:fill-terminus-red-300 duration-300 ease-in-out transition-colors" %}
            <p class="hidden text-sm md:flex">@{{ social.username }}</p>
        </a>
        {% endfor %}
    </div>
</section>
<section id="mobile-apps" class="flex flex-col gap-4">
    <h3 class="text-xl text-terminus-red-700 dark:text-terminus-red-300">Download the mobile app</h3>
    <div class="-mx-8 flex items-center justify-center gap-4 bg-gray-300 p-4 shadow-inner">
        <a href="https://apps.apple.com/us/app/terminus-gps-mobile/id1419439009?ls=1">
            <img class="h-auto w-48" src="{% static 'terminusgps/App_Store_Badge_Black.svg' %}" alt="Download it on the App Store Badge">
        </a>
        <a href="https://play.google.com/store/apps/details?id=com.terminusgps.track&hl=en">
            <img class="h-auto w-54" src="{% static 'terminusgps/Play_Store_Badge_White.png' %}" alt="Get it on the Google Play Store Badge">
        </a>
    </div>
</section>
