<section class="mx-4 flex flex-col gap-2 text-pretty">
    <h2 class="-mx-4 text-lg font-semibold text-terminus-red-600 dark:text-terminus-red-200">Terminus GPS For Individuals</h2>
    <p>Whether you’re monitoring your teen driver or your eldest driver, Promoting Safety and Reducing Driving Risk is Our First Priority, the very idea of which, Terminus GPS was formed.</p>
    <p>We’ve taken the best technology used for commercial application and simplified it for the individual user. Predetermined alerts you've created are sent via text message directly to your smartphone, or can be accessed by logging into our platform from any internet connected device providing real time data and reporting.</p>
    <p>Most commonly used capabilities:</p>
    <ul class="list-inside list-disc">
        <li>Geographic Location</li>
        <li>Accelerated Speed</li>
        <li>Time/Distance Traveled</li>
        <li>Stop/Start Times</li>
        <li>Driver Behavior Monitoring</li>
    </ul>
    <p>Terminus GPS can equip all vehicle type cars, trucks, motorcycles, ATV's, watercraft's, tractors, trailers and any transportable stationary equipment.</p>
</section>
