<form class="flex flex-col gap-4" action="{% url 'login' %}" method="post" hx-boost="true">
    {% csrf_token %}
    <section class="flex flex-col gap-2 w-full">
        {{ form.username }}
        <label class="order-first font-semibold peer-user-invalid:text-red-600" for="{{ form.username.id_for_label }}">{{ form.username.label }}</label>
        <p class="text-sm peer-user-invalid:text-red-800" id="{{ form.username.id_for_label }}_helptext">{{ form.username.help_text }}</p>
        {% if form.username.errors %}<div class="animate-jiggle font-italic">{{ form.username.errors }}</div>{% endif %}
    </section>
    <section class="flex flex-col gap-2 w-full">
        {{ form.password }}
        <label class="order-first font-semibold peer-user-invalid:text-red-600" for="{{ form.password.id_for_label }}">{{ form.password.label }}</label>
        <p class="text-sm peer-user-invalid:text-red-800" id="{{ form.password.id_for_label }}_helptext">{{ form.password.help_text }}</p>
        {% if form.password.errors %}<div class="animate-jiggle font-italic">{{ form.password.errors }}</div>{% endif %}
    </section>
    <button class="flex w-full cursor-pointer items-center justify-center gap-2 rounded border border-terminus-red-900 bg-terminus-red-800 p-2 text-center text-white transition-colors duration-300 ease-in-out hover:bg-terminus-red-400" type="submit">Login</button>
    <section id="links" class="flex-none items-center justify-evenly w-full text-sm md:flex">
        <p>Don't have an account? <a href="{% url 'register' %}" class="w-fit decoration text-terminus-red-200 underline decoration-terminus-black underline-offset-4 hover:text-terminus-red-100 hover:decoration-dotted dark:decoration-white">Register an account</a>.</p>
        <p>Forgot your password? <a href="{% url 'password reset' %}" class="w-fit decoration text-terminus-red-200 underline decoration-terminus-black underline-offset-4 hover:text-terminus-red-100 hover:decoration-dotted dark:decoration-white">Reset your password</a>.</p>
    </section>
</form>
