<form class="{{ class }}" action="{% url 'login' %}" method="post" hx-boost="true">
    {% if form.non_field_errors %}
    <div class="mt-2 animate-jiggle rounded border border-red-800 bg-red-100 p-2 text-red-600">{{ form.non_field_errors }}</div>
    {% endif %}
    {% csrf_token %}
    <div class="flex w-full flex-col gap-1 p-2">
        {{ form.username.label }}
        {{ form.username }}
        {% if form.username.errors %}
        <div class="mt-2 animate-jiggle rounded border border-red-800 bg-red-100 p-2 text-red-600">{{ form.username.errors }}</div>
        {% endif %}
    </div>
    <div class="flex w-full flex-col gap-1 p-2">
        {{ form.password.label }}
        {{ form.password }}
        {% if form.password.errors %}
        <div class="mt-2 animate-jiggle rounded border border-red-800 bg-red-100 p-2 text-red-600">{{ form.password.errors }}</div>
        {% endif %}
    </div>
    <div class="mt-4 flex flex-col gap-4">
        <input class="w-full cursor-pointer rounded border border-terminus-black bg-terminus-red-800 p-2 text-center text-white transition-colors duration-300 ease-in-out hover:bg-terminus-red-400 dark:border-terminus-gray-300" value="Login" type="submit">
        <div class="flex flex-col justify-evenly gap-2 md:flex-row">
            <p class="text-center text-sm dark:text-gray-200">Forgot your password? <a class="decoration text-terminus-red-800 underline decoration-terminus-black underline-offset-4 hover:text-terminus-red-500 hover:decoration-dotted dark:text-terminus-red-400 dark:decoration-white dark:hover:text-terminus-red-200" href="{% url 'password reset' %}">Click here</a> to reset it.</p>
            <p class="text-center text-sm dark:text-gray-200">Don't have an account? <a class="decoration text-terminus-red-800 underline decoration-terminus-black underline-offset-4 hover:text-terminus-red-500 hover:decoration-dotted dark:text-terminus-red-400 dark:decoration-white dark:hover:text-terminus-red-200" href="{% url 'register' %}">Click here</a> to register.</p>
        </div>
        <input class="hidden" type="hidden" name="next" value="{{ next }}">
    </div>
</form>
