<form hx-include="*" hx-swap="outerHTML" hx-target="this" class="{{ class }}">
    {% if form.non_field_errors %}<div class="inset-shadow w-full p-2 text-red-600">{{ form.non_field_errors }}</div>{% endif %}
    {% csrf_token %}
    <div class="flex flex-col gap-2">
        <div class="flex w-full flex-col gap-2 has-[#errors]:bg-red-200 has-[#errors]:p-2">
            {{ form.new_password1.label }}
            {{ form.new_password1 }}
            {% if form.new_password1.errors %}
            <div class="animate-jiggle rounded border border-red-800 bg-red-100 p-2 text-red-600">{{ form.new_password1.errors }}</div>
            {% endif %}
        </div>
        <div class="flex w-full flex-col gap-2 has-[#errors]:bg-red-200 has-[#errors]:p-2">
            {{ form.new_password2.label }}
            {{ form.new_password2 }}
            {% if form.new_password2.errors %}
            <div class="animate-jiggle rounded border border-red-800 bg-red-200 p-2 text-red-600">{{ form.new_password2.errors }}</div>
            {% endif %}
        </div>
    </div>
    <input hx-post="" hx-trigger="click" class="w-full cursor-pointer rounded border border-terminus-black bg-terminus-red-800 p-2 text-center text-white transition-colors duration-300 ease-in-out hover:bg-terminus-red-400 dark:border-terminus-gray-300" type="submit">
</form>
