<div class="{{ class }}">
    <h2 class="text-sm text-gray-400">Last updated: May 15, 2025</h2>
    <h2 class="indent-4">This Privacy Policy describes how and when we collect, use and share your information across this application, hereby referred to as "App". When using the App, you consent to the collection, transfer, storage, disclosure, and use of your information as described in this Privacy Policy.</h2>
    <div id="section-1" class="mb-4 flex flex-col gap-4">
            <h2 class="text-xl font-semibold text-terminus-red-400">I. How your information is used</h2>
            <p class="indent-4">When you create or reconfigure your account and for use in the App, you voluntarily give us personal information, such as your name, email, phone number and when necessary, billing information. Should you choose to provide us with additional information, you also consent to providing that information and its limited use. If authorized by you, we may also have an on-going access to your personal information from third-party social media sites like Facebook, if you and/or users of those sites give us access to such information, depending upon your or users’ settings on those sites.</p>
            <p>We may use information about you for various purposes, including to:</p>
            <ul class="mx-4 list-inside list-disc space-y-4 marker:text-terminus-red-400 text-pretty">
                <li>provide, maintain and improve our services, including to provide additional features and content;</li>
                <li>respond to your questions and requests and provide customer service;</li>
                <li>send you technical notices, updates, security alerts and support, and administrative messages;</li>
                <li>monitor and analyze trends, usage and activities in connection with our services;</li>
                <li>personalize and improve the services;</li>
                <li>detect, investigate and/or prevent fraudulent, unauthorized or illegal activity; and</li>
                <li>carry out any other purpose for which the information was collected according to this Privacy Policy.</li>
            </ul>
    </div>
    <div id="section-1.1" class="mb-2 flex flex-col gap-4">
        <h3 class="text-lg font-semibold text-terminus-red-300">Location</h3>
        <p class="indent-4">In serving you, we may use or store your precise geographic location. We may use and store information about your location to provide features of our App and to improve and customize the App. We do not use or share this data for any other purpose. Many devices will indicate through an icon when location services are operating. We only share this location information with others as described by this Privacy Policy.</p>
    </div>
    <div id="section-1.2" class="mb-2 flex flex-col gap-4">
        <h3 class="text-lg font-semibold text-terminus-red-300">Log Data</h3>
        <p class="indent-4">Our servers automatically record information ("log data") created by your use of the App. Log data may include information such as your IP address, operating system, device and search terms. We receive log data when you sign into our App. We use log data to provide our service, measure and improve it.</p>
    </div>
    <div id="section-1.3" class="mb-2 flex flex-col gap-4">
        <h3 class="text-lg font-semibold text-terminus-red-300">Limited period of personal data storage</h3>
        <p class="indent-4">Our systems are designed to retain log data for up to 30 days after it is collected. We remove personally identifiable information (such as your name, address, email or phone number, location) and other preferences associated with your account promptly after you delete your account.</p>
    </div>
    <div id="section-1.4" class="mb-2 flex flex-col gap-4">
        <h3 class="text-lg font-semibold text-terminus-red-300">Restrictions towards children</h3>
        <p class="indent-4">We do not knowingly contact or collect personal information from children under 13. If you become aware that your child has provided us with personal information without your consent, please contact us. If we become aware that a child under 13 has provided us with personal information, we take steps to remove such information and terminate the child's account.</p>
    </div>
    <div id="section-1.5" class="mb-2 flex flex-col gap-4">
        <h3 class="text-lg font-semibold text-terminus-red-300">No advertising companies collect data through this service</h3>
        <p class="indent-4">We do not allow advertising companies to collect data through our service for ad targeting.</p>
    </div>
    <div id="section-2" class="mb-4 flex flex-col gap-4">
        <h2 class="text-xl font-semibold text-terminus-red-400">II. When we disclose information</h2>
        <div class="mb-2 flex flex-col gap-4">
            <h3 class="text-lg font-semibold text-terminus-red-300">Third-parties</h3>
            <p class="indent-4">We provide personally identifiable information and non-personally-identifiable information only to our subsidiaries for the purpose of processing such information on our behalf. We require that these parties agree to process such information in compliance with our Privacy Policy, and we use reasonable efforts to limit their use of such information and to use other appropriate confidentiality and security measures.</p>
        </div>
        <div id="section-2.2" class="mb-2 flex flex-col gap-4">
            <h3 class="text-lg font-semibold text-terminus-red-300">Law and harm</h3>
            <p class="indent-4">Notwithstanding anything to the contrary in this Privacy Policy, we may preserve or disclose your information if we believe that it is reasonably necessary to comply with a law, regulation, legal process, or governmental request; in order to investigate, prevent, or take action regarding suspected or actual illegal activities, including but not limited to, fraud, potential threats to public safety or the physical safety of any person; to protect the security or integrity of our products and services; or to protect rights, property, or our personal safety, our staff, our users or others. However, nothing in this Privacy Policy is intended to limit any legal defenses or objections that you may have to a third party’s, including a government’s, request to disclose your information.</p>
        </div>
        <div id="section-2.3" class="mb-2 flex flex-col gap-4">
            <h3 class="text-lg font-semibold text-terminus-red-300">Business transfers</h3>
            <p class="indent-4">In the event that we are involved in a bankruptcy, merger, acquisition, reorganization or sale of assets, your information may be sold or transferred as part of that transaction. This Privacy Policy will apply to your information as transferred to the new entity. We may also disclose information about you to our corporate affiliates in order to help provide, understand, and improve our App and our affiliates’ Apps.</p>
        </div>
        <div id="section-2.4" class="mb-2 flex flex-col gap-4">
            <h3 class="text-lg font-semibold text-terminus-red-300">Non-private or non-personal information</h3>
            <p class="indent-4">We may share or disclose your non-personal information, such as your public user profile information, shared boards and so on. Remember: your privacy and visibility settings control whether your personal or any other information are made public.</p>
        </div>
    </div>
    <div id="section-3" class="mb-4 flex flex-col gap-4">
        <h2 class="text-xl font-semibold text-terminus-red-400">III. You can request to see your personal data</h2>
        <div class="mb-2 flex flex-col gap-4 indent-4">
            <p>You can sign into your account to see any personally identifiable information we have stored, such as your name, email, address or phone number. You can also contact us by email to request to see this information.</p>
            <p>You may update or correct your personal profile information and email preferences at any time by visiting your account profile page only via the web interface. We can provide you with additional support to access, correct, delete, or modify the personal information you provided to us and associated with your account.</p>
            <p>To protect your privacy and security, we take reasonable steps (such as requesting any personal information) to verify your identity before making corrections. You are responsible for maintaining the secrecy of your password and account information at all times.</p>
        </div>
    </div>
    <div id="section-4" class="mb-4 flex flex-col gap-4">
        <h2 class="text-xl font-semibold text-terminus-red-400">IV. Our commitment to data security</h2>
        <div class="mb-2 flex flex-col gap-4 indent-4">
            <p>Users are expected to take actions to secure their credentials while using the App.</p>
            <p>We use appropriate physical, managerial, and technical procedures to safeguard and help prevent unauthorized access, maintain data security, and correctly use the information we collect about you. We cannot, however, ensure or warrant the security of any information you convey to us, and you do so at your own risk.</p>
            <p>Although we take appropriate measures to safeguard against unauthorized disclosures of information, we cannot guarantee with absolute certainty that personally identifiable information will be strictly used in a manner that is consistent with this Privacy Policy.</p>
        </div>
    </div>
    <div id="section-5" class="mb-4 flex flex-col gap-4">
        <h2 class="text-xl font-semibold text-terminus-red-400">V. Changes to this policy</h2>
        <div class="mb-2 flex flex-col gap-4 indent-4">
            <p>We may revise our Privacy Policy from time to time. If we make any material changes to our policies, we will place a prominent notice on our website or application. If we make a change to this Policy that, in our sole discretion, is material, we will notify you via the email address you optionally provided during sign up. By continuing to access or use the App after those changes become effective, you agree to be bound by the revised Privacy Policy.</p>
        </div>
    </div>
    <div id="section-6" class="mb-4 flex flex-col gap-4">
        <h2 class="text-xl font-semibold text-terminus-red-400">VI. How to contact us</h2>
        <div class="mb-2 flex flex-col gap-4 indent-4">
            <p>If you have further privacy concerns, please email us at <a class="decoration text-terminus-red-800 underline decoration-terminus-black underline-offset-4 hover:text-terminus-red-500 hover:decoration-dotted dark:text-terminus-red-400 dark:decoration-white dark:hover:text-terminus-red-200" href="mailto:support@terminusgps.com">support@terminusgps.com</a>.</p>
        </div>
    </div>
</div>
