{% load static %}
<div class="{{ class }}">
    <div class="flex flex-col gap-4 rounded border p-4 drop-shadow md:flex-row dark:bg-gray-600">
        <img class="w-fit rounded md:h-48" src="{% static 'terminusgps/callcenter.jpg' %}" alt="Men taking calls at a call center">
        <div class="flex flex-col gap-2">
            <h2 class="text-xl font-semibold dark:text-terminus-red-100">Call Center</h2>
            <h3 class="text-xl dark:text-terminus-red-200">Subtitle</h3>
            <p class="text-md">Content</p>
        </div>
    </div>
</div>
