{% load static %}
<img class="h-full rounded" src="{% static 'terminusgps/img/newdriver.jpg' %}" alt="Two teenagers posing for a selfie while behind the wheel of a stopped car by Freepix">
<p>Your teen just received their driver's license: an exciting milestone for both of you to celebrate... or so it should be.</p>
<section id="congratulations" class="mx-4 flex flex-col gap-4 text-pretty">
    <h2 class="-mx-4 text-lg font-semibold text-terminus-red-600 dark:text-terminus-red-200">Congratulations! 🎉</h2>
    <p>It's likely your anxiety levels just reached a new all-time high.</p>
    <p>The roads today are a scary and unpredictable place for experienced drivers, let alone new drivers.</p>
    <p>As parents, of course we applaud their achievement and independence but we simply <span class="italic">cannot</span> ignore the innumerable risks every time our teens get behind the wheel.</p> <p>At Terminus GPS, we aim to provide peace-of-mind for you, the parents, whenever and wherever your teen hits the road.</p>
</section>
<section id="5-nos-to-drive" class="mx-4 flex flex-col gap-4 text-pretty">
    <h2 class="-mx-4 text-lg font-semibold text-terminus-red-600 dark:text-terminus-red-200">5 <span class="font-bold">NO</span>s to Drive</h2>
    <ol class="list-inside list-decimal">
        <li><span class="font-bold italic">No</span> Cell Phones</li>
        <li><span class="font-bold italic">No</span> Extra Passengers</li>
        <li><span class="font-bold italic">No</span> Speeding</li>
        <li><span class="font-bold italic">No</span> Alcohol</li>
        <li><span class="font-bold italic">No</span> Driving/Riding without seatbelts</li>
    </ol>
</section>
<section id="consequences-of-speeding" class="mx-4 flex flex-col gap-4 text-pretty">
    <h2 class="-mx-4 text-lg font-semibold text-terminus-red-600 dark:text-terminus-red-200">Consequences of Speeding</h2>
    <p>We are all guilty of speeding, often to just keep with the flow of traffic.</p>
    <p>However, <span class="font-bold uppercase">it's bad practice, unsafe and unlawful.</span></p>
    <p>Speeding is even more dangerous for teen drivers as they are more likely to lack the driving intuition experienced drivers take for granted on the road.</p>
    <p>Teens may not be able to swiftly make critical decisions required under sudden changed weather conditions, road changes, road obstructions or gauging an oncoming vehicle while trying to pass.</p>
    <p>Driver intuition <span class="italic">only</span> improves with <span class="font-bold">experience</span> and <span class="font-bold">time</span>.</p>
</section>
<section id="technology-does-help" class="mx-4 flex flex-col gap-4 text-pretty">
    <h2 class="-mx-4 text-lg font-semibold text-terminus-red-600">Technology Does Help</h2>
    <p>We believe in <span class="font-bold">positive reinforcement</span> of good behavior, rather than emphasizing mistakes.</p>
    <p>Remind your teen their safety is <span class="font-bold italic">your foremost concern</span>; establishing a level of trust is key.</p>
    <p>Today's technology, like GPS monitoring and speed alerts, can be used in the reinforcement of good driving behaviors and to secure that level of trust between you and your teen driver.</p>
</section>
<section id="teen-parent-agreement" class="mx-4 flex flex-col gap-4 text-pretty">
    <h2 class="-mx-4 text-lg font-semibold text-terminus-red-600">Teen-Parent Agreement</h2>
    <p>Acknowledge and discuss this <a class="decoration w-fit text-terminus-red-800 underline decoration-terminus-black underline-offset-4 hover:text-terminus-red-500 hover:decoration-dotted dark:text-terminus-red-400 dark:decoration-white dark:hover:text-terminus-red-200" href="{% static 'terminusgps/pdf/teen-parent-agreement.pdf' %}">two-page contract</a> with your teen driver before they get behind the wheel.</p>
</section>
