{% extends "terminusgps/layout.html" %}
{% block content %}
{% partialdef partial inline %}
{% for unit in object_list %}
<div id="{{ unit.pk }}" class="p-2 font-semibold rounded bg-stone-50 border border-stone-600">{{ unit.name }}</div>
{% empty %}
<p>You don't have any.</p>
{% endfor %}
<button
    type="button"
    class="flex w-full cursor-pointer items-center justify-center gap-2 rounded border border-terminus-red-900 bg-terminus-red-800 p-2 text-center text-white transition-colors duration-300 ease-in-out hover:bg-terminus-red-400"
    hx-target="#units-list"
    hx-trigger="click"
    hx-get="{% url 'terminusgps_manager:create units' %}"
>
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
    </svg>
    <p>Add Unit</p>
</button>
{% endpartialdef partial %}
{% endblock content %}
