<li class="mt-4 flex gap-2">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-{{ svg_size }} {{ svg_color }}">{{ svg_path }}</svg>
    <a href="{{ url }}" class="bg-gradient-to-r from-terminus-red-800 via-terminus-red-400 to-terminus-red-800 dark:from-terminus-red-300 dark:via-terminus-red-100 dark:to-terminus-red-300 bg-clip-text font-semibold underline decoration-terminus-gray-800 dark:decoration-terminus-gray-300 decoration-solid decoration-2 underline-offset-2 hover:decoration-dotted">{{ label }}</a>
</li>
