{% load tailwind_tags static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title }} - {{ client.NAME }}</title>
        {% tailwind_css %}
        <script src="https://unpkg.com/htmx.org@1.9.12" integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2" crossorigin="anonymous"></script>
    </head>
    <body>
        <nav class="lg:px-16 px-6 bg-white shadow-md flex flex-wrap items-center lg:py-0 py-2">
            <div class="flex-1 flex justify-between items-center">
                <a href="/forms" class="flex text-lg font-semibold">
                    <img
                        src="{% static "logo.png" %}"
                        width="150"
                        height="100"
                        class="p-2"
                        alt="{{ client.NAME }} Logo"
                    />
                </a>
            </div>
        </nav>
        <main>
            {% block content %}
            {% endblock content %}
        </main>
        <footer class="bg-white rounded-lg shadow m-4 dark:bg-gray-800">
            <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
                <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400"><a href="/" class="hover:underline">{{ client.COPYRIGHT }}</a>
                </span>
                <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
                    <li>
                        <a href="/about" class="hover:underline me-4 md:me-6">About</a>
                    </li>
                    <li>
                        <a href="/contact" class="hover:underline me-4 md:me-6">Contact</a>
                    </li>
                    <li>
                        <a href="/privacy" class="hover:underline me-4 md:me-6">Privacy Policy</a>
                    </li>
                    <li>
                        <a href="/terms" class="hover:underline me-4 md:me-6">Terms and Conditions</a>
                    </li>
                </ul>
            </div>
        </footer>
    </body>
</html>
