<form hx-post="{% url 'asset create' %}" hx-swap="innerHTML" hx-target="this" method="post" action="{% url 'asset create' %}" class="p-6 rounded bg-gray-300">
    {% csrf_token %}
    <div class="flex gap-2">
        <div class="flex flex-col gap-2">
            {{ form.name }}
            {% if "asset_name" in form.errors.keys %}<div class="text-sm text-terminus-red-100">{{ form.errors.asset_name }}</div>{% endif %}
        </div>
        <div class="flex flex-col gap-2">
            {{ form.imei_number }}
            {% if "imei_number" in form.errors.keys %}<div class="text-sm text-terminus-red-100">{{ form.errors.imei_number }}</div>{% endif %}
        </div>
        <div class="flex justify-between gap-2">
            <input class="hover:pointer-cursor rounded bg-terminus-gray-200 p-2 text-gray-800 hover:cursor-pointer hover:bg-gray-50" hx-target="closest form" hx-delete="{% url 'asset create' %}" hx-trigger="click" hx-swap="delete" type="button" value="Cancel">
            <input class="hover:pointer-cursor rounded bg-terminus-red-500 p-2 text-gray-200 hover:cursor-pointer hover:bg-terminus-red-300" type="submit" value="Register">
        </div>
    </div>
</form>
