<tr id="{{ asset.id }}" class="border-b bg-white dark:border-gray-700 dark:bg-gray-800">
    <th scope="row" class="whitespace-nowrap px-6 py-4 font-medium text-gray-900 dark:text-white">
        <a class="font-semibold text-terminus-red-500 underline decoration-gray-700 decoration-solid decoration-2 underline-offset-2 hover:text-terminus-red-300 hover:decoration-dotted" href="{% url 'asset remote' asset.id %}">{{ asset.name }}</a>
    </th>
    <td class="px-6 py-4">
        {{ asset.imei_number }}
    </td>
    <td class="px-6 py-4">
        <a class="font-semibold text-terminus-red-500 underline decoration-gray-700 decoration-solid decoration-2 underline-offset-2 hover:cursor-pointer hover:text-terminus-red-300 hover:decoration-dotted" hx-get="{% url 'asset update' asset.id %}" hx-target="#{{ asset.id }}" hx-swap="outerHTML" hx-trigger="click">Edit Asset</a>
    </td>
</tr>
