<th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
    {{ asset.imei_number }}
</th>
<td class="px-6 py-4">
    {{ asset.name }}
</td>
<td class="px-6 py-4">
    <div class="flex justify-between gap-2">
        <input type="button" class="w-full cursor-pointer rounded border border-red-800 bg-gray-100 p-2 text-red-900 transition-colors duration-300 ease-in-out hover:bg-red-50" value="Delete">
        <input type="button" class="w-full cursor-pointer rounded border border-terminus-black bg-terminus-red-800 p-2 text-white transition-colors duration-300 ease-in-out hover:bg-terminus-red-400" value="Edit">
    </div>
</td>
