<tr id="{{ asset.id }}" class="border-b bg-white dark:border-gray-700 dark:bg-gray-800">
    {% csrf_token %}
    <td class="px-6 py-4">
        {{ form.name }}
    </td>
    <td class="px-6 py-4">
        {{ asset.imei_number }}
    </td>
    <td class="flex-inline relative flex gap-2 px-6 py-4">
        <input
            class="rounded border-gray-600 bg-gray-300 p-2 text-gray-700 hover:cursor-pointer hover:bg-gray-200"
            type="button"
            value="Cancel"
            hx-get="{% url 'asset detail' asset.id %}"
            hx-swap="outerHTML"
            hx-target="closest tr"
            hx-trigger="click"
        >
        <input
            class="rounded bg-terminus-red-500 p-2 text-gray-200 hover:cursor-pointer hover:bg-terminus-red-300"
            type="submit"
            value="Save"
            hx-indicator=".htmx-indicator"
            hx-include="closest tr"
            hx-target="closest tr"
            hx-post="{% url 'asset create' %}"
            hx-swap="outerHTML"
            hx-trigger="click"
        >
    </td>
</tr>
