<div class="flex flex-col gap-8">
    <div class="flex flex-col gap-4">
        <h2 class="text-xl font-semibold text-terminus-red-400">Account</h2>
        <p class="text-lg">{{ job.account.name }}</p>
    </div>
    <div class="flex flex-col gap-4">
        <div class="flex gap-2">
            <h2 class="text-xl font-semibold text-terminus-red-400">Asset</h2>
        </div>
        <div id="{{ job.asset.pk }}" hx-get="{{ job.asset.get_absolute_url }}" hx-target="this" hx-trigger="load" hx-indicator="#asset-spinner"></div>
    </div>
    {% if not job.completed %}
    <div class="flex flex-col gap-4">
        <h2 class="text-xl font-semibold text-terminus-red-400">Completion Form</h2>
        <div class="flex flex-col gap-4 rounded border bg-white p-4 dark:bg-gray-800" hx-get="{{ job.get_complete_url }}" hx-target="this" hx-trigger="load"></div>
    </div>
    {% endif %}
</div>
