<h2 class="text-xl font-semibold">{{ subscription.name }}</h2>
<h3>{{ subscription.features }}</h3>
<section id="buttons" class="flex flex-col gap-2">
    <input class="w-full cursor-pointer rounded border border-current bg-terminus-red-800 p-2 text-center text-white transition-colors duration-300 ease-in-out hover:bg-terminus-red-400" hx-get="{{ subscription.get_update_url }}" hx-target="#subscription" type="button" value="Update">
    <input class="w-full cursor-pointer rounded border border-current bg-gray-100 p-2 text-center text-red-700 transition-colors duration-300 ease-in-out hover:bg-red-100" hx-get="{{ subscription.get_delete_url }}" hx-target="#subscription" type="button" value="Cancel">
</section>
