<div class="{{ class }}">
{% for tier in tier_list %}
    <div id="{{ tier.name|lower }}-tier" class="flex flex-col rounded border bg-gray-100 p-4 dark:border-gray-200 dark:bg-gray-700">
        <div class="-m-4 rounded-t border-b bg-red-300 p-4 dark:border-gray-400 dark:bg-red-800">
            <div class="flex items-center justify-between">
                <h2 class="font-serif text-2xl font-bold tracking-wider text-terminus-red-800 md:text-3xl dark:text-gray-100">{{ tier.name|upper }}</h2>
                <p class="font-serif text-lg text-terminus-red-900 md:text-xl dark:text-gray-200">${{ tier.amount }}/mo</p>
            </div>
        </div>
        <p class="mt-8">{{ tier.desc|safe }}</p>
        <ul id="{{ tier.name|lower }}-features" class="flex flex-col py-4">
        {% for feature in tier.features.all %}
            <li class="-mx-4 border-b bg-gray-300 p-4 first:border-t dark:bg-gray-600">
                <div hx-on:click="s=this.getAttribute('aria-expanded')==='true'?'false':'true';this.setAttribute('aria-expanded',s);" class="peer group flex cursor-pointer items-center justify-between gap-4 rounded-full p-2 transition-colors duration-300 ease-in-out hover:bg-gray-100 dark:hover:bg-gray-800 dark:hover:text-current" aria-expanded="false">
                    <label for="feature-desc" class="cursor-pointer text-lg font-semibold select-none">{% if feature.amount != None %}{{ feature.get_amount_display }}{% endif %} {{ feature.name }}</label>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="flex size-6 group-aria-expanded:hidden">
                        <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="hidden size-6 group-aria-expanded:flex">
                        <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
                    </svg>
                </div>
                <p id="feature-desc" class="mt-2 hidden p-2 indent-4 peer-aria-expanded:flex">{{ feature.desc }}</p>
            </li>
        {% endfor %}
        </ul>
    </div>
{% endfor %}
</div>
