<section id="info" class="flex flex-col gap-4 text-center">
    <h2 class="text-lg font-semibold">Update Your Subscription</h2>
    <p class="text-sm md:text-lg">You can choose a different payment method or shipping address for your subscription here.</p>
</section>
<form class="group flex flex-col gap-4" method="post" hx-post="{{ subscription.get_update_url }}" hx-target="#subscription">
    {% csrf_token %}
    {{ form.payment.as_field_group }}
    {{ form.address.as_field_group }}
    <section id="buttons" class="flex flex-col gap-2">
        <button class="flex w-full cursor-pointer items-center justify-center gap-2 rounded border border-current bg-terminus-red-800 p-2 text-center text-white transition-colors duration-300 ease-in-out hover:bg-terminus-red-400" type="submit">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="hidden size-6 animate-spin group-[.htmx-request]:flex">
                <path stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0 3.181 3.183a8.25 8.25 0 0 0 13.803-3.7M4.031 9.865a8.25 8.25 0 0 1 13.803-3.7l3.181 3.182m0-4.991v4.99" />
            </svg>
            <p>Confirm</p>
        </button>
        <button class="group w-full cursor-pointer rounded border border-current bg-gray-200 p-2 text-center text-gray-700 transition-colors duration-300 ease-in-out hover:bg-gray-100" type="button" hx-get="{{ subscription.get_absolute_url }}">
            <p>Back</p>
        </button>
    </section>
</form>
