<form id="update-subscription" class="{{ class }}" hx-target="#subscription" hx-post="{% url 'update subscription' subscription.pk %}" hx-swap="outerHTML">
    {% csrf_token %}
    {{ form.tier.label }}
    {{ form.tier }}
    {% if form.tier.errors %}
    <div class="border border-red-800 bg-red-100 p-2 text-red-600">{{ form.tier.errors }}</div>
    {% endif %}
    <div class="flex flex-col gap-2">
        <input
            class="w-full cursor-pointer rounded border border-terminus-black bg-terminus-red-800 p-2 text-white transition-colors duration-300 ease-in-out hover:bg-terminus-red-400"
            type="submit"
        >
        <input
            class="w-full cursor-pointer rounded border border-gray-600 bg-gray-300 p-2 text-gray-700 transition-colors duration-300 ease-in-out hover:bg-gray-200"
            type="button"
            value="Back"
            hx-get="{% url 'detail subscription' subscription.pk %}"
        >
    </div>
</form>
