{% extends "terminusgps_tracker/layout.html" %}
{% load static terminusgps_tracker_display %}
{% block content %}
{% for profile in payment_profiles %}
    {% if default %} 
    <div class="border-xl container mx-auto rounded-md border border-green-600 bg-green-100 p-4 drop-shadow-md dark:border-green-300 dark:bg-green-900">
    {% else %}
    <div class="border-xl container mx-auto rounded-md border border-gray-600 bg-white p-4 drop-shadow-md dark:border-gray-300 dark:bg-gray-500">
    {% endif %}
        <div class="flex flex-col space-y-4 md:flex-row md:justify-between md:space-y-0 dark:text-white">
            <div class="flex flex-col gap-2">
                <div class="flex-inline flex items-center gap-2">
                    {{ profile.payment.creditCard.cardType|credit_card_icon }}
                    <h2 class="text-md flex-inline font-semibold tracking-widest text-gray-800 dark:text-gray-100">&#8226; &#8226; &#8226; &#8226; {{ profile.payment.creditCard.cardNumber|cut:"XXXX" }}</h2>
                </div>
                <div class="grid grid-rows-2 text-sm">
                    <p class="text-gray-800 dark:text-gray-100">{{ profile.billTo.address }}</p>
                    <p class="text-gray-700 dark:text-gray-200">{{ profile.billTo.city }}, {{ profile.billTo.state }}, {{ profile.billTo.zip }}</p>
                </div>
                <a class="text-sm text-gray-400" href="{% url 'delete payment' profile.customerPaymentProfileId %}"><span class="hover:underline">Delete</span></a>
            </div>
            <h2 class="text-gray-800 dark:text-gray-100">{{ profile.billTo.firstName }} {{ profile.billTo.lastName }}</h2>
        </div>
        {% if not default %}
        <a href="{% url 'default payment' profile.customerPaymentProfileId %}" class="mt-4 block w-full rounded-md border border-solid border-gray-600 bg-gray-200 px-4 py-2 text-center text-gray-700 hover:bg-gray-50 dark:border-gray-300 dark:bg-gray-700 dark:text-white dark:hover:bg-gray-400">
            Set as default
        </a>
        {% endif %}
    </div>
{% empty %}
    <div class="container mx-auto rounded-md bg-white p-4 drop-shadow-md">
        <h2>Hey! Upload a payment method, buddy!</h2>
    </div>
{% endfor %}
<div class="mt-4 flex flex-grow justify-evenly gap-2">
    <a href="{% url 'tracker profile' %}" class="grow rounded-md border border-solid border-gray-600 bg-gray-200 px-4 py-2 text-center text-gray-700 hover:bg-gray-50 dark:border-gray-300 dark:bg-gray-700 dark:text-white dark:hover:bg-gray-400">
        Back
    </a>
    <a href="{% url 'create payment' %}" class="grow rounded-md border border-solid border-gray-600 bg-terminus-red-500 px-4 py-2 text-center text-gray-50 hover:bg-terminus-red-300 dark:border-gray-300" type="submit">
        New
    </a>
</div>
{% endblock content %}
