{% extends "terminusgps_tracker/layout.html" %}
{% load static terminusgps_tracker_display %}
{% block content %}
<div class="container mx-auto">
    <div class="flex flex-col gap-8">
        <div class="space-y-8 p-8">
            <h2 class="border-b-2 border-terminus-red-300 pb-2 text-2xl font-bold tracking-wider dark:text-terminus-white">Your Assets</h2>
            {% for asset in assets %}
            {% include "terminusgps_tracker/profile/asset.html" with asset=asset %}
            {% empty %}
            <a href="{% url 'create asset' %}" class="group mx-auto flex flex-col items-center gap-4 rounded bg-gray-200 p-8 text-center hover:cursor-pointer hover:bg-gray-50">
                <div class="flex-inline flex items-center gap-2 text-gray-700">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-8">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M9 8.25H7.5a2.25 2.25 0 0 0-2.25 2.25v9a2.25 2.25 0 0 0 2.25 2.25h9a2.25 2.25 0 0 0 2.25-2.25v-9a2.25 2.25 0 0 0-2.25-2.25H15m0-3-3-3m0 0-3 3m3-3V15" />
                    </svg>
                    <h3 class="text-md">Click here to add an asset.</h3>
                </div>
            </a>
            {% endfor %}
        </div>
        <div class="space-y-8 p-8">
            <h2 class="border-b-2 border-terminus-red-300 pb-2 text-2xl font-bold tracking-wider dark:text-terminus-white">Your Subscription</h2>
            {% include "terminusgps_tracker/profile/subscription.html" with subscription=subscription %}
        </div>
    </div>
</div>
<a class="mx-auto bg-gradient-to-r from-terminus-red-800 via-terminus-red-400 to-terminus-red-800 bg-clip-text font-semibold text-transparent underline decoration-gray-700 decoration-solid decoration-2 underline-offset-2 hover:decoration-dotted dark:from-terminus-red-300 dark:via-terminus-red-100 dark:to-terminus-red-300" href="{% url 'profile settings' %}">Go to settings</a>
{% endblock content %}
