{% extends "terminusgps_tracker/layout.html" %}
{% load static terminusgps_tracker_display %}
{% block content %}
<div class="container mx-auto">
    <div class="flex flex-col gap-8">
        <div class="space-y-8 p-8">
            <h2 class="border-b-2 border-terminus-red-300 pb-2 text-2xl font-bold tracking-wider dark:text-terminus-white">Your Assets</h2>
            <table class="w-full p-8 text-left">
                <tr class="bg-gray-200">
                    <th>Name</th>
                    <th>Phone #</th>
                    <th>View</th>
                </tr>
                {% for asset in assets %}
                {% include "terminusgps_tracker/profile/asset.html" with asset=asset only %}
                {% empty %}
                {% endfor %}
            </table>
        </div>
        <div class="space-y-8 p-8">
            <h2 class="border-b-2 border-terminus-red-300 pb-2 text-2xl font-bold tracking-wider dark:text-terminus-white">Your Subscription</h2>
            {% include "terminusgps_tracker/profile/subscription.html" with subscription=subscription %}
        </div>
    </div>
</div>
<a class="mx-auto bg-gradient-to-r from-terminus-red-800 via-terminus-red-400 to-terminus-red-800 bg-clip-text font-semibold text-transparent underline decoration-gray-700 decoration-solid decoration-2 underline-offset-2 hover:decoration-dotted dark:from-terminus-red-300 dark:via-terminus-red-100 dark:to-terminus-red-300" href="{% url 'profile settings' %}">Go to settings</a>
{% endblock content %}
