{% extends "terminusgps_tracker/layout.html" %}
{% load static terminusgps_tracker_display %}
{% block content %}
<div class="container mx-auto">
    <div class="flex flex-col gap-8">
        <div class="space-y-8 p-8">
            <h2 class="border-b-2 border-terminus-red-300 pb-2 text-2xl font-bold tracking-wider dark:text-terminus-white">Payment Methods</h2>
            {% for payment, default in payments %}
            {% include "terminusgps_tracker/profile/payment.html" with payment=payment default=default %}
            {% empty %}
            {% include "terminusgps_tracker/profile/payment.html" with payment=None %}
            {% endfor %}
        </div>
        <div class="space-y-8 p-8">
            <h2 class="border-b-2 border-terminus-red-300 pb-2 text-2xl font-bold tracking-wider dark:text-terminus-white">Shipping Addresses</h2>
            {% for address, default in addresses %}
                {% include "terminusgps_tracker/profile/shipping.html" with address=address default=default %}
                {% empty %}
                {% include "terminusgps_tracker/profile/shipping.html" with address=None %}
            {% endfor %}
        </div>
    </div>
</div>
<input class="hidden" type="hidden" name="next" value="{{ next }}"></input>
{% endblock content %}
