{% extends "terminusgps_tracker/layout.html" %}
{% load static terminusgps_tracker_display %}
{% block content %}
<div class="container mx-auto">
    <div class="flex flex-col gap-8">
        <div class="space-y-8 p-8">
            <h2 class="border-b-2 border-terminus-red-300 pb-2 text-2xl font-bold tracking-wider dark:text-terminus-white">Payment Methods</h2>
            {% for payment in payments %}
            <a class="group" hx-get="{% url 'detail payment' payment.pk %}" hx-trigger="load" hx-swap="outerHTML settle:1s" hx-target="this" hx-indicator=".htmx-indicator">
                <div class="htmx-indicator mt-8 animate-pulse rounded bg-gray-300 p-8 group-odd:bg-gray-400"></div>
            </a>
            {% endfor %}
            {% include "terminusgps_tracker/payments/create_button.html" %}
        </div>
        <div class="space-y-8 p-8">
            <h2 class="border-b-2 border-terminus-red-300 pb-2 text-2xl font-bold tracking-wider dark:text-terminus-white">Shipping Addresses</h2>
            {% for address in addresses %}
            <a class="group" hx-get="{% url 'detail shipping' address.pk %}" hx-trigger="load" hx-swap="outerHTML" hx-target="this" hx-indicator=".htmx-indicator">
                <div class="htmx-indicator mt-8 animate-pulse rounded bg-gray-300 p-8 group-odd:bg-gray-400"></div>
            </a>
            {% endfor %}
            {% include "terminusgps_tracker/addresses/create_button.html" %}
        </div>
    </div>
</div>
<input class="hidden" type="hidden" name="next" value="{{ next }}"></input>
{% endblock content %}
