{% extends "terminusgps_tracker/layout.html" %}
{% load static terminusgps_tracker_display %}
{% block content %}
<div class="container mx-auto">
    <div class="flex flex-col gap-8">
        <div class="space-y-8 p-8">
            <h2 class="border-b-2 border-terminus-red-300 pb-2 text-2xl font-bold tracking-wider dark:text-terminus-white">Payment Methods</h2>
            {% for payment, default in payments %}
            {% include "terminusgps_tracker/profile/payment.html" with payment=payment default=default %}
            {% empty %}
            <a hx-get="{% url 'create payment' %}" hx-swap="outerHTML" hx-target="this" href="{% url 'create payment' %}" class="group mx-auto flex flex-col gap-4 rounded bg-gray-200 p-8 text-center hover:cursor-pointer hover:bg-gray-50">
                <h2 class="text-xl text-gray-800">There's nothing here...</h2>
                <div class="flex-inline flex items-center gap-2 text-gray-700">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-8">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M9 8.25H7.5a2.25 2.25 0 0 0-2.25 2.25v9a2.25 2.25 0 0 0 2.25 2.25h9a2.25 2.25 0 0 0 2.25-2.25v-9a2.25 2.25 0 0 0-2.25-2.25H15m0-3-3-3m0 0-3 3m3-3V15" />
                    </svg>
                    <h3 class="text-md">Click here to upload a new payment method.</h3>
                </div>
            </a>
            {% endfor %}
        </div>
        <div class="space-y-8 p-8">
            <h2 class="border-b-2 border-terminus-red-300 pb-2 text-2xl font-bold tracking-wider dark:text-terminus-white">Shipping Addresses</h2>
            {% for address, default in addresses %}
            {% include "terminusgps_tracker/profile/shipping.html" with address=address default=default %}
            {% empty %}
            <a hx-get="{% url 'create shipping' %}" hx-swap="outerHTML" hx-target="this" href="{% url 'create shipping' %}" class="group mx-auto flex flex-col gap-4 rounded bg-gray-200 p-8 text-center hover:cursor-pointer hover:bg-gray-50">
                <h2 class="text-xl text-gray-800">There's nothing here...</h2>
                <div class="flex-inline flex items-center gap-2 text-gray-700">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-8">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M9 8.25H7.5a2.25 2.25 0 0 0-2.25 2.25v9a2.25 2.25 0 0 0 2.25 2.25h9a2.25 2.25 0 0 0 2.25-2.25v-9a2.25 2.25 0 0 0-2.25-2.25H15m0-3-3-3m0 0-3 3m3-3V15" />
                    </svg>
                    <h3 class="text-md">Click here to upload a new shipping address.</h3>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}
