{% extends "terminusgps/layout.html" %}
{% partialdef main %}
<div id="info" class="flex flex-col gap-2">
    <div class="flex items-center justify-between">
        <h3 class="font-semibold text-lg">{{ subscription.name }}</h3>
        <p>{{ subscription.status|title }}</p>
    </div>
    <div class="flex items-center gap-2">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5" />
        </svg>
        <p>{{ subscription.start_date|date:'F jS, Y' }}</p>
    </div>
    <div class="flex items-center gap-2">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m-3-2.818.879.659c1.171.879 3.07.879 4.242 0 1.172-.879 1.172-2.303 0-3.182C13.536 12.219 12.768 12 12 12c-.725 0-1.45-.22-2.003-.659-1.106-.879-1.106-2.303 0-3.182s2.9-.879 4.006 0l.415.33M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
        </svg>
        <p>${{ subscription.amount|floatformat:'2g' }}/mo</p>
    </div>
</div>
<div class="flex flex-col gap-4 p-4 bg-stone-200 rounded dark:bg-stone-900">
    <div class="flex flex-col gap-4 @md:justify-between @md:flex-row">
        <div class="flex flex-col gap-2 w-full group">
            <h4 class="font-semibold">Payment profile</h4>
            <p class="p-2 border rounded bg-stone-100 select-none">{{ subscription.payment_profile }}</p>
        </div>
    </div>
    <div class="flex flex-col gap-4 @md:justify-between @md:flex-row">
        <div class="flex flex-col gap-2 w-full group">
            <h4 class="font-semibold">Address profile</h4>
            <p class="p-2 border rounded bg-stone-100 select-none">{{ subscription.address_profile }}</p>
        </div>
    </div>
</div>
<div class="flex flex-col gap-2">
    <button
        type="button"
        class="flex w-full cursor-pointer items-center justify-center gap-2 rounded border border-terminus-red-900 bg-terminus-red-800 p-2 text-center text-white transition-colors duration-300 ease-in-out hover:bg-terminus-red-400"
        hx-get="{% url 'terminusgps_payments:update subscriptions' subscription.pk %}"
    >
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0 3.181 3.183a8.25 8.25 0 0 0 13.803-3.7M4.031 9.865a8.25 8.25 0 0 1 13.803-3.7l3.181 3.182m0-4.991v4.99" />
        </svg>
        <p>Update</p>
    </button>
    <button
        type="button"
        class="flex w-full cursor-pointer items-center justify-center gap-2 rounded border border-current bg-stone-50 p-2 text-center text-red-700 transition-colors duration-300 ease-in-out hover:bg-red-200"
        hx-get="{% url 'terminusgps_payments:delete subscriptions' subscription.pk %}"
    >
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
        </svg>
        <p>Cancel</p>
    </button>
</div>
{% endpartialdef main %}
{% block content %}
{% partial main %}
{% endblock content %}
