{% extends "terminusgps/layout.html" %}
{% partialdef main %}
<div id="info" class="flex flex-col gap-2">
    <div class="flex items-center justify-between">
        <h3 class="font-semibold text-lg">{{ subscription.name }}</h3>
        <p>{{ subscription.status|title }}</p>
    </div>
    <div class="flex items-center gap-2">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5" />
        </svg>
        <p>{{ subscription.start_date|date:'F jS, Y' }}</p>
    </div>
    <div class="flex items-center gap-2">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m-3-2.818.879.659c1.171.879 3.07.879 4.242 0 1.172-.879 1.172-2.303 0-3.182C13.536 12.219 12.768 12 12 12c-.725 0-1.45-.22-2.003-.659-1.106-.879-1.106-2.303 0-3.182s2.9-.879 4.006 0l.415.33M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
        </svg>
        <p>${{ subscription.amount|floatformat:'2g' }}/mo</p>
    </div>
</div>
<form class="flex flex-col gap-4" hx-post="{% url 'terminusgps_manager:update subscriptions' subscription.pk %}" hx-target="this">
    {% if form.non_field_errors %}
    <div class="p-2 bg-red-200 text-red-700 animate-jiggle border border-current rounded">
        <div class="flex gap-2 items-center">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 text-red-700 fill-red-50 animate-pulse">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m9-.75a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9 3.75h.008v.008H12v-.008Z" />
            </svg>
            {{ form.non_field_errors }}
        </div>
    </div>
    {% endif %}
    {% csrf_token %}
    <div class="flex flex-col gap-4 p-4 bg-stone-200 rounded dark:bg-stone-900">
        <div class="flex flex-col gap-4 @md:justify-between @md:flex-row">
            <div class="flex flex-col gap-2 w-full group">
                <div class="*:p-2 *:border *:rounded *:bg-stone-100 *:w-full *:peer">{{ form.payment_profile }}</div>
                <label class="order-first font-semibold peer-user-invalid:text-red-600 group-has-[ul]:text-red-600 peer-user-valid:text-green-800" for="{{ form.payment_profile.id_for_label }}">{{ form.payment_profile.label }}</label>
                <p class="text-sm peer-user-invalid:text-red-800 group-has-[ul]:text-red-800" id="{{ form.payment_profile.id_for_label }}_helptext">{{ form.payment_profile.help_text }}</p>
                {{ form.payment_profile.errors }}
            </div>
        </div>
        <div class="flex flex-col gap-4 @md:justify-between @md:flex-row">
            <div class="flex flex-col gap-2 w-full">
                <div class="*:p-2 *:border *:rounded *:bg-stone-100 *:w-full *:peer">{{ form.address_profile }}</div>
                <label class="order-first font-semibold peer-user-invalid:text-red-600 group-has-[ul]:text-red-600 peer-user-valid:text-green-800" for="{{ form.address_profile.id_for_label }}">{{ form.address_profile.label }}</label>
                <p class="text-sm peer-user-invalid:text-red-800" id="{{ form.address_profile.id_for_label }}_helptext">{{ form.address_profile.help_text }}</p>
                {{ form.address_profile.errors }}
            </div>
        </div>
    </div>
    <div class="flex flex-col gap-2 *:flex *:gap-2 *:w-full *:justify-center *:rounded *:border *:p-2 *:text-center [&_button]:cursor-pointer">
       <a class="border-gray-900 bg-gray-800 p-2 text-white transition-colors duration-300 ease-in-out justify-center hover:bg-gray-400" href="{% url 'terminusgps_payments:detail subscriptions' subscription.pk %}">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
            </svg>
            <p>Back</p>
        </a>
        <button class="border-terminus-red-900 bg-terminus-red-800 p-2 text-center text-white transition-colors duration-300 ease-in-out hover:bg-terminus-red-400" type="submit">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5" />
            </svg>
            <p>Confirm</p>
        </button>
    </div>
</form>
{% endpartialdef main %}
{% block content %}
{% partial main %}
{% endblock content %}
