{% extends "terminusgps/layout.html" %}
{% partialdef main %}
<div
    class="flex items-center gap-2"
    hx-get="{{ customer.subscription.get_absolute_url }}"
    hx-trigger="load delay:3s"
    hx-target="#subscription"
>
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-8 fill-green-50 text-green-700">
        <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
    </svg>
    <p class="font-semibold">Your subscription was created successfully.</p>
</div>
{% endpartialdef main %}
{% block content %}
{% partial main %}
{% endblock content %}
